{% extends "base.html"%} {% block content %}

<section class="module bg-dark-60 portfolio-page-header" data-background="static/images/dt/dt-header.png">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">Democracy Tuesday</h2>
                <div class="module-subtitle font-serif">Reliable news about politics is one click away</div>
            </div>
        </div>
    </div>
</section>


    <section class="module">
        <div class="container">
            <div class="row">
                <div class="col-sm-12"><img src="static/images/portfolio/ux/dt-devices.png" alt="Title of Image" /></div>
            </div>

            <hr class="divider-w mt-60 mb-60">
            <div class="row multi-columns-row">

                <div class="col-sm-8 col-md-8 col-lg-8 col-sm-offset-3">
                    <h5 class="work-details-title font-alt">Democracy Tuesday</h5>

                    <p>Democracy Tuesday, is newsletter that informs working profesionals and adults about current news and polotics. I was asked to to design their newsletter as well as designing their web site.
                    </p>
                    <p>I have created wireframes, high-fedility mockups and prototypes and created the detailed designs for newsletter, and web-application.</p>
                </div>

            </div>
        </div>
    </section>
    <hr class="divider-w">
    <section>
        <div class="row multi-columns-row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <img src="static/images/dt/define.png" alt="Title of Image" />
            </div>
        </div>
    </section>
    <section>
        <div class="row multi-columns-row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <img src="static/images/dt/persona1.png" alt="Title of Image" />

                <img src="static/images/dt/persona2.png" alt="Title of Image" />

                <img src="static/images/dt/persona3.png" alt="Title of Image" />

            </div>
        </div>
    </section>
<hr class="divider-c">

    <section>
        <div class="row multi-columns-row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <img src="static/images/dt/senario.png" alt="Title of Image" />
            </div>
        </div>
    </section>
        <hr class="divider-w">

    <section>
        <div class="row multi-columns-row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <img src="static/images/dt/research.png" alt="Title of Image" />
            </div>
        </div>
    </section>
    <section>
        <div class="row multi-columns-row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <img src="static/images/dt/wf.png" alt="Title of Image" />
                <img src="static/images/dt/wf2.png" alt="Title of Image" />
            </div>
        </div>
    </section>
    <section>
<hr class="divider-c">

        <div class="row multi-columns-row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <img src="static/images/dt/mockups.png" alt="Title of Image" />
                <img src="static/images/dt/mockups2.png" alt="Title of Image" />
                <img src="static/images/dt/mockups3.png" alt="Title of Image" />
                <img src="static/images/dt/mockups4.png" alt="Title of Image" />
            </div>
        </div>
    </section>
    <br>
                    <img src="static/images/dt/final.png" alt="Title of Image" />


<hr class="divider-c">

    <section class="module">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt">Related Projects</h2>
                </div>
            </div>
            <ul class="works-grid works-grid-gut works-grid-3 works-hover-w" id="works-grid">
                <li class="work-item illustration webdesign">
                    <a href="hair-by-al.html">
                        <div class="work-image"><img src="static/images/ux-project/al-portfolio.png" alt="Portfolio Item" /></div>
                        <div class="work-caption font-alt">
                            <h3 class="work-title">Hair by Al</h3>
                            <div class="work-descr">Business</div>
                        </div>
                    </a>
                </li>
                <li class="work-item marketing webdesign">
                    <a href="world-traveler.html">
                        <div class="work-image"><img src="static/images/portfolio/portfolio5.png" alt="Portfolio Item" /></div>
                        <div class="work-caption font-alt">
                            <h3 class="work-title">World Traveler</h3>
                            <div class="work-descr">Blogging</div>
                        </div>
                    </a>
                </li>
                <li class="work-item illustration webdesign">
                    <a href="infographics.html">
                        <div class="work-image"><img src="static/images/portfolio/portfolio13.png" alt="Portfolio Item" /></div>
                        <div class="work-caption font-alt">
                            <h3 class="work-title">Infographics</h3>
                            <div class="work-descr">Illustration</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    {% endblock %}
