{% include "base.html"%}
<div class="main">
    <section class="module bg-dark-60 portfolio-page-header" data-background="static/images/dt/dt-header.png">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt">Democracy Tuesday</h2>
                    <div class="module-subtitle font-alt">Reading about current reilable news about politics is one click away</div>
                </div>
            </div>
        </div>
    </section>
    <section class="module">
        <div class="container">
            <div class="row">
                <div class="col-sm-12"><img src="static/images/portfolio/ux/dt-devices.png" alt="Title of Image" /></div>
            </div>
            <div class="row multi-columns-row">
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item">
                        <div class="alt-features-icon"><span class="icon-tools-2"></span></div>
                        <h3 class="alt-features-title font-alt">Service</h3> UX Design Interface Design Development
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item">
                        <div class="alt-features-icon"><span class="icon-tools"></span></div>
                        <h3 class="alt-features-title font-alt">Sector</h3> Working Profesionals
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item">
                        <div class="alt-features-icon"><span class="icon-phone"></span></div>
                        <h3 class="alt-features-title font-alt">Type</h3> newsletter
                    </div>
                </div>
            </div>
            <hr class="divider-w mt-60 mb-60">
            <div class="row multi-columns-row">
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="work-details">
                        <h5 class="work-details-title font-alt">Project Details</h5>
                        <p></p>
                        <ul>
                            <li><strong>Client: </strong><span class="font-serif"><a href="#" target="_blank">SomeCompany</a></span>
                            </li>
                            <li><strong>Date: </strong><span class="font-serif"><a href="#" target="_blank">23 November, 2015</a></span>
                            </li>
                            <li><strong>Online: </strong><span class="font-serif"><a href="#" target="_blank">www.example.com</a></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <p>Democracy Tuesday, is an application and newsletter that helps working professionals stay up-to-date on current news regarding poltics and policys. I was asked to to design their newsletter as well as designing their blog site.
                    </p>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <p>I have created wireframes, high-fedility mockups and prototypes and created the detailed designs for newsletter, and web-application.</p>
                </div>
            </div>
        </div>
    </section>
    <hr class="divider-w">
    <section>
        <div class="row multi-columns-row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <img src="static/images/dt/define.png" alt="Title of Image" />
            </div>
        </div>
    </section>
    <section>
        <div class="row multi-columns-row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <img src="static/images/dt/persona1.png" alt="Title of Image" />
                <!-- <p>Mary Reed, is retired but as former historian keeping up to date on current polotics and news is important to her. She is very active and engaged in the community. She is looking for simple news article that covers qulaity topics about politics. </p> -->
               <!--  <img src="static/images/dt/persona1.png" alt="Title of Image" />
                <p>Here, you can go into detail about your methodology. Include information about how you understand your client's target audience, position in the marketplace, strengths and weakness. Describe what data points you will look at and approach in analyzing this data. Explain how you will establish benchmarks, identify issues and craft a strategy. Showcase the tools and reports you will share with your client as a result of your research.</p>
                <img src="static/images/dt/persona1.png" alt="Title of Image" />
                <p>Here, you can go into detail about your methodology. Include information about how you understand your client's target audience, position in the marketplace, strengths and weakness. Describe what data points you will look at and approach in analyzing this data. Explain how you will establish benchmarks, identify issues and craft a strategy. Showcase the tools and reports you will share with your client as a result of your research.</p> -->
            </div>
        </div>
    </section>
    <section>
        <div class="row multi-columns-row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <img src="static/images/dt/senario.png" alt="Title of Image" />
            </div>
        </div>
    </section>
    <section>
        <div class="row multi-columns-row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <img src="static/images/dt/research.png" alt="Title of Image" />
            </div>
        </div>
    </section>
    <section>
        <div class="row multi-columns-row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <img src="static/images/dt/wireframes.png" alt="Title of Image" />
                <img src="static/images/dt/wireframes2.png" alt="Title of Image" />
            </div>
        </div>
    </section>
    <section>
        <div class="row multi-columns-row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <img src="static/images/dt/mockups.png" alt="Title of Image" />
                <img src="static/images/dt/mockups2.png" alt="Title of Image" />
                <img src="static/images/dt/mockups3.png" alt="Title of Image" />
                <img src="static/images/dt/mockups4.png" alt="Title of Image" />
            </div>
        </div>
    </section>
    <section class="module">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt">Related Projects</h2>
                </div>
            </div>
            <ul class="works-grid works-grid-gut works-grid-3 works-hover-w" id="works-grid">
                <li class="work-item illustration webdesign">
                    <a href="hair-by-al.html">
                        <div class="work-image"><img src="static/images/ux-project/al-portfolio.png" alt="Portfolio Item" /></div>
                        <div class="work-caption font-alt">
                            <h3 class="work-title">Hair by Al</h3>
                            <div class="work-descr">Business</div>
                        </div>
                    </a>
                </li>
                <li class="work-item marketing webdesign">
                    <a href="world-traveler.html">
                        <div class="work-image"><img src="static/images/portfolio/portfolio5.png" alt="Portfolio Item" /></div>
                        <div class="work-caption font-alt">
                            <h3 class="work-title">World Traveler</h3>
                            <div class="work-descr">Blogging</div>
                        </div>
                    </a>
                </li>
                <li class="work-item illustration webdesign">
                    <a href="infographics.html">
                        <div class="work-image"><img src="static/images/portfolio/portfolio13.png" alt="Portfolio Item" /></div>
                        <div class="work-caption font-alt">
                            <h3 class="work-title">Infographics</h3>
                            <div class="work-descr">Illustration</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <hr class="divider-w"> {% include "section8_footer.html"%}
