{% extends "base.html"%} {% block content %}

<section class="module bg-dark-60 portfolio-page-header" data-background="/static/images/al/al-portfolio.png">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">Hair by Al</h2>
                <div class="module-subtitle font-serif">Creating Web Presence</div>
            </div>
        </div>
    </div>
</section>
<section class="module">
    <div class="container">
        <div class="row">
            <div class="col-sm-12"><img src="static/images/al/al-device.png" alt="Title of Image" /></div>
        </div>

        <hr class="divider-w mt-60 mb-60">
        <div class="row multi-columns-row">

            <div class="col-sm-8 col-md-8 col-lg-8 col-sm-offset-3">
                <h5 class="work-details-title font-alt">Hair by Al</h5>

                <p>Al came to me wanting to create more web presence for his business. He wanted easier way for new customers to be able to learn more about what his products and services he provides. I worked with Al coming up with content, style aesthetic.
                </p>
                 <p> I worked with Al coming up with content, style aesthetic. I then created wireframes, high-fedility mockups and prototypes and created the detailed designs for Al website.</p>
            </div>

        </div>
    </div>
</section>
<hr class="divider-w">
<section>
    <div class="row multi-columns-row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <img src="static/images/al/define.png" alt="Title of Image" />
        </div>
    </div>
</section>

<hr class="divider-w">
<section>
    <div class="row multi-columns-row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <img src="static/images/al/senario.png" alt="Title of Image" />
        </div>
    </div>
</section>
<hr class="divider-w">
<section>
    <div class="row multi-columns-row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <img src="static/images/al/research.png" alt="Title of Image" />
        </div>
    </div>
</section>
<section>
    <div class="row multi-columns-row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <img src="static/images/al/wireframes.png" alt="Title of Image" />
            <img src="static/images/al/wireframes2.png" alt="Title of Image" />
        </div>
    </div>
</section>
<section>
    <hr class="divider-w">
    <div class="row multi-columns-row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <img src="static/images/al/mockup-final.png" alt="Title of Image" />
        </div>
    </div>
</section>

<hr class="divider-w">
<section class="module">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">Related Projects</h2>
            </div>
        </div>
        <ul class="works-grid works-grid-gut works-grid-3 works-hover-w" id="works-grid">
            <li class="work-item illustration webdesign">
                <a href="democracy-tuesday.html">
                    <div class="work-image"><img src="static/images/dt/dt-portfolio.png" alt="Portfolio Item" /></div>
                    <div class="work-caption font-alt">
                        <h3 class="work-title">Democracy Tuesday</h3>
                        <div class="work-descr">Newsletter</div>
                    </div>
                </a>
            </li>
            <li class="work-item marketing webdesign">
                <a href="world-traveler.html">
                    <div class="work-image"><img src="static/images/portfolio/portfolio5.png" alt="Portfolio Item" /></div>
                    <div class="work-caption font-alt">
                        <h3 class="work-title">World Traveler</h3>
                        <div class="work-descr">Blogging</div>
                    </div>
                </a>
            </li>
               <li class="work-item marketing webdesign">
                    <a href="weather.html">
                        <div class="work-image"><img src="static/images/weather/port-header.png" alt="Portfolio Item" /></div>
                        <div class="work-caption font-alt">
                            <h3 class="work-title">Weather</h3>
                            <div class="work-descr">Mobile Weather App</div>
                        </div>
                    </a>
                </li>
            <li class="work-item illustration webdesign">
                <a href="infographics.html">
                    <div class="work-image"><img src="static/images/portfolio/portfolio13.png" alt="Portfolio Item" /></div>
                    <div class="work-caption font-alt">
                        <h3 class="work-title">Infographics</h3>
                        <div class="work-descr">Illustration</div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>

{% endblock %}
