{% extends "a_base.html"%}

{% block content %}
       <header class="masthead">

          {% include "c_header.html" %}
      </header>
      <div class="main">

      <section id="workflow" class="bg-black text-center">
        {% include "d_workflow.html" %}
      </section>
       <section id="projects" class="projects-section bg-light">
        {% include "f_projects.html" %}
      </section>

      <section class="intro-section bg-primary" id="intro">
        {% include "e_intro.html" %}
      </section>

      <section class="content-section bg-light" id="about">
        {% include "g_about.html" %}
      </section>

      </section>
      <section class="contact-section bg-black">
        {% include "i_contact.html" %}
      </section>

{% endblock %}
