<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="design,Prototyping,Product Design,Designer,San Francisco,UX Design">
  <meta name="author" content="Uma Petersen">

  <title>Uma Petersen</title>

  <!-- Bootstrap Core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/stylish-portfolio.min.css" rel="stylesheet">
<style>
.workflow {
  padding:50px;
}

.text-center i {
  font-size:40px;
  margin-top:70px;
  margin-bottom:30px;
  color:#fff;
  padding:50px;
  background:#1BBD36;
  border-radius:50%;
}

.text-center h2 {
  margin-top:20px;
  margin-bottom:20px;
  text-transform:uppercase;
  font-size:18px;
  color: #1BBD36;
}

.hi-icon-effect i.fa:hover {
  background:#fff;
  color: #1BBD36;
  -webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms;
  transition:  color 300ms, background-color 300ms;
}
<style>


</style>

</head>



<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">UMA PETERSEN</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#workflow">Workflow</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Design & Code</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Header -->
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1">I'am Uma Petersen, an <br/>Interaction designer<br/> based in San <br/>Francisco</h1>
      <h3 class="mb-5">
        My process focuses on agile methodology. <br/> Discover,Design, Develop, Deploy. Iterate
      </h3>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="#portfolio">UX Projects</a>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="#engineer">UX Engineer</a>

    </div>
    <div class="overlay"></div>
  </header>

<!--ABOUT CARD-->
<!--
  <section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-sm-6 col-md-5">
                    <div class="about-img">
                      <img src="img/testimonial-2.jpg" class="img-fluid rounded b-shadow-a" alt="">
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-7">
                    <div class="about-info">
                      <p><span class="title-s">Name: </span> <span>Morgan Freeman</span></p>
                      <p><span class="title-s">Profile: </span> <span>full stack developer</span></p>
                      <p><span class="title-s">Email: </span> <span>contact@example.com</span></p>
                      <p><span class="title-s">Phone: </span> <span>(617) 557-0089</span></p>
                    </div>
                  </div>
                </div>
                <div class="skill-mf">
                  <p class="title-s">Skill</p>
                  <span>HTML</span> <span class="pull-right">85%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>CSS3</span> <span class="pull-right">75%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>PHP</span> <span class="pull-right">50%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>JAVASCRIPT</span> <span class="pull-right">90%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      About me
                    </h5>
                  </div>
                  <p class="lead">
                    Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur arcu erat, accumsan id
                    imperdiet et, porttitor
                    at sem. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Nulla
                    porttitor accumsan tincidunt.
                  </p>
                  <p class="lead">
                    Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus suscipit tortor eget felis
                    porttitor volutpat. Vestibulum
                    ac diam sit amet quam vehicula elementum sed sit amet dui. porttitor at sem.
                  </p>
                  <p class="lead">
                    Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elementum id enim.
                    Nulla porttitor accumsan
                    tincidunt. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->


  <!-- Workflow -->
  <section class="content-section bg-light" id="workflow">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2>Designing With Intention </h2>
          <p class="lead mb-5">
            I work in <strong>agile</strong> methodology, <strong>sprints</strong>, and <strong>user feedback</strong>.<br>My workflow is constantly evolving and adjusted to design <strong> requirements</strong> and<strong> constraints.</strong>I ensure every design decision is made with <strong>intention</strong> by <strong>iterating</strong> and <strong>implementing version control.</p>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <i class="fas fa-1x fa-search"></i>
          </span>
          <h4>
            <strong>Discover</strong>
          </h4>
          <p class="text-faded mb-0">Research &amp; Solve</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
             <i class="fas fa-1x fa-list-alt"></i>
          </span>
          <h4>
            <strong>Design</strong>
          </h4>
          <p class="text-faded mb-0">Sketch &amp; Prototype</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
            <i class="fas fa-1x fa-laptop-code"></i>

          </span>
          <h4>
            <strong>Build</strong>
          </h4>
        </div>
        <div class="col-lg-3 col-md-6">
            <i class="fas fa-1x fa-rocket"></i>
          </span>
          <h4>
            <strong>Ship</strong>
          </h4>
          <p class="text-faded mb-0">Measure &amp; Learn</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <p class="lead mb-5"> From concepts to wireframes to pixel-perfect interfaces, I utilize user centered design principles. I focus on concept, content, and functionality. Depending on the project, I'll make diagrams, sketches, clickable mockups using pen/paper, Sketch, Invision, or HTML/CSS and JavaScript to create beautiful designs. I provide continous dedication to my designs until desired results and project goals are met
          </p>

<!--             <a href="https://unsplash.com/">Unsplash</a>!</p>
 -->          <a class="btn btn-dark btn-xl js-scroll-trigger" href="#services">Let's work together</a>
        </div>
      </div>
    </div>
  </section>

    <!-- Design & Code -->
  <section class="content-section bg-primary text-white">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2>Design & Code </h2>
          <h3><em>“I am passionate about the ability of technology to influence people.”</em></h3>
          <p class="lead mb-5">
            I have 8 years of tech experience in <strong>product development</strong>. My background in business and marketing, <strong>product development</strong>, and <strong>software engineering</strong> provides me a unique perspective, as I am able to <strong>communicate</strong> equally effectively with designers, engineers, and product managers. My goal is to utilize technology to provide users with optimum experiences. As a designer with a product development background and software engineering, I am passionate about the ability of <strong>technology</strong> to positively <strong>influence people</strong>.</p>
        </div>
      </div>
<!--       <a href="#" class="btn btn-xl btn-light mr-4">Let's get in touch</a>
 -->      <a href="#" class="btn btn-xl btn-dark">Let's get in touch</a>
    </div>
  </section>

  <!--Recent Projects-->
  <!-- PROJECTS -->
  <section class="content-section" id="Projects">
    <div class="container">
      <div class="content-section-heading text-center">
        <h3 class="text-secondary mb-0">Portfolio</h3>
        <h2 class="mb-5">Recent Projects</h2>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>iMessage Stickers</h2>
                <p class="mb-0">Animated Robot Stickers</p>
              </span>
            </span>
            <img class="img-fluid" src="img/portfolio-1.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Wells Fargo - Redesign</h2>
                <p class="mb-0">Redesigning Wells Fargo Legacy System with help of personas</p>
              </span>
            </span>
            <img class="img-fluid" src="img/portfolio-2.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Landing Page</h2>
                <p class="mb-0">Generate visitor into leads with great landing page design</p>
              </span>
            </span>
            <img class="img-fluid" src="img/portfolio-3.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Annimation</h2>
                <p class="mb-0">Basic animation principles</p>
              </span>
            </span>
            <img class="img-fluid" src="img/portfolio-4.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>


    <!-- About -->
 <section class="content-section bg-light" id="workflow">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2 class="text-center">Creative Logic </h2>
          <h3 class="text-center"><em>“I am passionate about the ability of technology <br/> to influence people.”</em></h3>
          <p class="lead mb-5 text-left">
            I am <strong>creative</strong>, <strong>big-picture thinker</strong> with a passion for <strong>design</strong>, <strong>motion</strong>, and <strong>code</strong>. My goal is to ensure that every design decision has <strong>purpose</strong>. My primary <strong>strengths</strong> are in web and mobile apps and internal tools.</p>
            <ul class="lead mb-5 text-left">
              <li>
            <strong>Visual:</strong>
          Grid, typography, color, layouts, illustrations, motion, character building.
          </li>
          <li>
            <strong>Interface:</strong>
          Sketching, wireframes, design patterns, prototypes.
          </li>
          <li>
            <strong>Front-end Development:</strong>
          Building style guides, components, templates; prototyping to optimize performance; and implementing production code.
           </li>
          <li>
            <strong>Testing:</strong>
          Usability tests; QA and bug testing of unit and acceptance testing.
          </li>
        </ul>
        </div>
               <a href="#" class="btn btn-xl btn-dark">Let's get in touch</a>
      </div>

      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2>Raised in Washington State, Living in San Francisco</h2>
            <p class="lead mb-5 text-left">
              I moved to Silicon valley because of its endless possibilities in tech and design. Diving into the into tech culture I  have learned, grown, and adopted to ever fast pace tech industry.</p>
              <img=src="/img/map.png">
             <p class="lead mb-5 text-left">
              During the the last few years I have continue to learn, develop, and  educate myself in the latest tech and design trends. I am always observing human interactions I am passionate about designing software products with a good user experience is the cornerstone of successful software products and services. </p>
            <a href="#" class="btn btn-xl btn-dark">Send me an email</a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h3>Learn More</h3>
            <p class="lead mb-5 text-left">
              As a UX designer, I specialize in developing high-quality user interfaces delivering optimal user experiences across web, application, and other platforms. I am a catalyst spurring collaborative communication among end users, designers, and developers while effectively creating well-received products. I have extensive technical skills spanning languages, frameworks, libraries, applications, and tools. I am a big-picture thinker excelling in developing solutions for intricate problems.</p>
             <p class="lead mb-5 text-left">My goal is to utilize technology to provide users with optimum experiences.  As a designer with a product development background, I am passionate about the ability of technology to positively influence people.</p>
              <p class="lead mb-5 text-left">I have worked with multiple internal digital transformation tools for Wells Fargo, Fathom, and Groupon. Digital transformation projects included user experience strategy, user interface design, brand and application standards, consultation, and mobility strategy services for internal tools. I have focused primarily on improving client experiences through common products and user experience tools. I have worked on internal products, processes, and methods to help product teams better satisfy user needs while supporting business requirements and stakeholder objectives.</p>
            <a href="#" class="btn btn-xl btn-dark">Send me an email</a>
        </div>
      </div>
    </div>
  </section>



  <!-- Services -->
<!--   <section class="content-section bg-primary text-white text-center" id="services">
    <div class="container">
      <div class="content-section-heading">
        <h3 class="text-secondary mb-0">Services</h3>
        <h2 class="mb-5">What We Offer</h2>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-screen-smartphone"></i>
          </span>
          <h4>
            <strong>Responsive</strong>
          </h4>
          <p class="text-faded mb-0">Looks great on any screen size!</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-pencil"></i>
          </span>
          <h4>
            <strong>Redesigned</strong>
          </h4>
          <p class="text-faded mb-0">Freshly redesigned for Bootstrap 4.</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-like"></i>
          </span>
          <h4>
            <strong>Favorited</strong>
          </h4>
          <p class="text-faded mb-0">Millions of users
            <i class="fas fa-heart"></i>
            Start Bootstrap!</p>
        </div>
        <div class="col-lg-3 col-md-6">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-mustache"></i>
          </span>
          <h4>
            <strong>Question</strong>
          </h4>
          <p class="text-faded mb-0">I mustache you a question...</p>
        </div>
      </div>
    </div>
  </section> -->

  <!-- Callout -->
  <section class="callout">
    <div class="container text-center">
      <h2 class="mx-auto mb-5">Welcome to
        <em>your</em>
        next website!</h2>
      <a class="btn btn-primary btn-xl" href="https://startbootstrap.com/template-overviews/stylish-portfolio/">Download Now!</a>
    </div>
  </section>

  <!-- Portfolio -->
  <section class="content-section" id="portfolio">
    <div class="container">
      <div class="content-section-heading text-center">
        <h3 class="text-secondary mb-0">Portfolio</h3>
        <h2 class="mb-5">Recent Projects</h2>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Stationary</h2>
                <p class="mb-0">A yellow pencil with envelopes on a clean, blue backdrop!</p>
              </span>
            </span>
            <img class="img-fluid" src="img/portfolio-1.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Ice Cream</h2>
                <p class="mb-0">A dark blue background with a colored pencil, a clip, and a tiny ice cream cone!</p>
              </span>
            </span>
            <img class="img-fluid" src="img/portfolio-2.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Strawberries</h2>
                <p class="mb-0">Strawberries are such a tasty snack, especially with a little sugar on top!</p>
              </span>
            </span>
            <img class="img-fluid" src="img/portfolio-3.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Workspace</h2>
                <p class="mb-0">A yellow workspace with some scissors, pencils, and other objects.</p>
              </span>
            </span>
            <img class="img-fluid" src="img/portfolio-4.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <section class="content-section bg-primary text-white">
    <div class="container text-center">
      <h2 class="mb-4"><em>“My medium is my computer, where my creativity, inspiration, and imagination come to life. My paintbrush is my code.”<em></h2>
      <a href="#" class="btn btn-xl btn-light mr-4">Click Me!</a>
      <a href="#" class="btn btn-xl btn-dark">Look at Me!</a>
    </div>
  </section>
  <!-- Call to Action -->
  <section class="content-section bg-primary text-white">
    <div class="container text-center">
      <h2 class="mb-4">Design . Code . Build</h2>

      <h2 class="mb-4"><em>“Where most people see problems I see opporutnites.”<em></h2>
      <a href="#" class="btn btn-xl btn-light mr-4">Lets connect</a>
      <a href="#" class="btn btn-xl btn-dark">Resume</a>
    </div>
  </section>
       <!-- <div class="progress">
                    <div class="progress-bar pb-dark" aria-valuenow="60" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
                </div>
                <h6 class="font-alt"><span class="icon-strategy"></span>Generate a great quantity of ideas
                </h6>
                <div class="progress">
                    <div class="progress-bar pb-dark" aria-valuenow="90" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
                </div>
                <h6 class="font-alt"><span class="icon-pencil"></span> Designing
                </h6>
                <div class="progress">
                    <div class="progress-bar pb-dark" aria-valuenow="85" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span>
                    </div>
                </div>
                <h6 class="font-alt"><span class="icon-cloud"></span> where most people see problems I see opportunities
                </h6>
                <div class="progress">
                    <div class="progress-bar pb-dark" aria-valuenow="80" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
                </div>
                <h6 class="font-alt"><span class="icon-target"></span> Marketing
                </h6>
                <div class="progress">
                    <div class="progress-bar pb-dark" aria-valuenow="50" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
                </div>
                <h6 class="font-alt"><span class="icon-camera"></span> Photography
                </h6>
                <div class="progress">
                    <div class="progress-bar pb-dark" aria-valuenow="50" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span>
                    </div>
                </div>
                <h6 class="font-alt"><span class="icon-pencil"></span></span>Calligraphy
                </h6>
                <div class="progress">
                    <div class="progress-bar pb-dark" aria-valuenow="70" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
                </div>
                <h6 class="font-alt"><span class="icon-lifesaver"></span> Dedication
                </h6>
                <div class="progress">
                    <div class="progress-bar pb-dark" aria-valuenow="100" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
                </div>
            </div>
        </div>
    </div> -->





  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
   <!--    <ul class="list-inline mb-5">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
            <i class="icon-social-behance"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
            <i class="icon-social-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="#">
            <i class="icon-social-github"></i>
          </a>
        </li>
      </ul> -->
      <p class="text-muted small mb-0">Copyright &copy; Uma Petersen 2019</p>
    </div>
  </footer>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/stylish-portfolio.min.js"></script>

</body>

</html>
