{% extends "base.html"%}

{% block content %}
      <section class="home-section home-parallax home-fade home-full-height bg-dark-60 agency-page-header" id="header" data-background="static/assets/images/agency/headerblack.png">
          {% include "section1_header.html" %}
      </section>
      <div class="main">
      <section class="module" id="intro">
        {% include "section3_intro.html" %}
      </section>
      <hr class="divider-w">
      <section class="module" id="design-code">
        {% include "section4_design.html" %}
      </section>
            <hr class="divider-w">
                 <section class="module-small bg-dark banner">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-8 col-lg-6 col-lg-offset-2">
              <div class="callout-text font-alt">
              <h3 class="callout-title">Want to see my work?</h3>
               <p class="">Design<sapn></sapn>&sdot;<span></span>Code<span></span>&sdot;<span></span>Build</p>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
              <div class="callout-btn-box"><a class="btn btn-w btn-round" href="#portfolio">view portfolio</a></div>
            </div>
          </div>
        </div>
      </section>

        <section class="module" id="engineer" style="background: url(/static/images/backgrounds/grey_bg.png) 0px -735px repeat;">
        {% include "section5_engineer.html" %}
      </section>

      <section class="module pb-0" id="portfolio">
        {% include "section6_portfolio.html" %}
      </section>

      <section class="module-small bg-dark banner">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-md-8 col-lg-6 col-lg-offset-2">
                <div class="callout-title font-alt">
                  <h2>Connect with me</h2>
                </div>
              </div>
              <div class="col-sm-4 col-md-4 col-offset-2"">
                <ul class="list-inline">
                  <li>
                    <a href="https://dribbble.com/upcode" class="btn btn-default btn-sm"><i class="fa fa-dribbble fa-fw"></i> <span class="network-name">Dribble</span></a>
                  </li>
                  <li>
                    <a href="https://github.com/upcode" class="btn btn-default btn-sm"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/umapetersen" class="btn btn-default btn-sm"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
      </section>

      <!-- <section class="module" id="about" style="background: url(/static/images/background/grey_bg.png) 0px -735px repeat;">
      </section> -->
      <hr class="divider-w">

      <section class="module bg-dark-60 pt-0 pb-0 parallax-bg testimonial" data-background="static/images/backgrounds/testimonial_bg.png" 0px -735px repeat;>
        {% include "section8_testimonial.html" %}
      </section>

      <section  class="module" id="contact" style="background: url(/static/images/backgrounds/grey_bg.png) 0px -735px repeat;">
        {% include "section9_contact.html" %}
      </section>

{% endblock %}

