{% block content %}
  <!-- Project Modals -->
{% include "modal_wanderlust.html" %}
{% include "modal_johanna.html" %}
{% include "modal_ryan.html" %}
{% include "modal_timeline.html" %}

  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Johanna</h2>
              <hr class="star-primary">
              <img src="/static/img/projects/blog.png" class="img-responsive img-centered" alt="blog">
              <h4>Project Summary</h4>
              <p class="words">Created Programming blog, and resources with links that I found intersiting while learning to program.</p>
              <ul class="list-inline item-details">
                <li>
                  <h4>Stack:</h4> Pyton, JavaScript / jQuery, Bootstrap, HTML5, CSS3, D3.js
                </li>
              </ul>
              <ul class="list-inline item-details">
                <li>Client:
                  <strong><a href="http://www.umapetersen.com">Uma Petersen</a>
                                    </strong>
                </li>
                <li>Date:
                  <strong>December 2015
                                    </strong>
                </li>
                <li>Service:
                  <strong>Web Development
                                    </strong>
                </li>
              </ul>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
            <!-- // end modal body-->
          </div>
          <!-- // end col-->
        </div>
        <!-- // end row-->
      </div>
      <!-- // end container-->
    </div>
    <!-- // end modal content-->
  </div>
  <!-- // end modal window 2-->
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>About Me</h2>
              <br>
              <img src="/static/img/projects/about-me.png" class="img-responsive img-centered" alt="">
              <h4>Project Summary</h4>
              <p class="words">Created Personal website about myself and my experince in software development</p>
              <ul class="list-inline item-details">
                <li>
                  <h4>Stack:</h4> Pyton, JavaScript / jQuery, Bootstrap, HTML5, CSS3, D3.js, Flask, Heroku
                </li>
              </ul>
              <ul class="list-inline item-details">
                <li>Client:
                  <strong><a href="http://www.umapetersen.com">Uma Petersen</a>
                                    </strong>
                </li>
                <li>Date:
                  <strong>December 2015
                                    </strong>
                </li>
                <li>Service:
                  <strong>Web Development</strong>
                </li>
              </ul>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
            <!-- // end modal body-->
          </div>
          <!-- // end col-->
        </div>
        <!-- // end row-->
      </div>
      <!-- // end container-->
    </div>
    <!-- // end modal content-->
  </div>
  <!-- // end modal window 3-->
  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Decisons</h2>
              <hr class="star-primary">
              <br>
              <img src="/static/img/projects/magic.png" class="img-responsive img-centered" alt="">
              <h4>Project Summary</h4>
              <p class="words">Created magic 8 ball game called decisions. User can log in and ask a question and returns an answer to their question.</p>
              <ul class="list-inline item-details">
                <li>
                  <h4>Stack:</h4> Pyton, FLask, heroku JavaScript / jQuery, Bootstrap, HTML5, CSS3
                </li>
              </ul>
              <ul class="list-inline item-details">
                <li>Client:
                  <strong><a href="http://www.umapetersen.com">Uma Petersen</a>
                                    </strong>
                </li>
                <li>Date:
                  <strong>December 2016
                                    </strong>
                </li>
                <li>Service:
                  <strong>Web Development
                                    </strong>
                </li>
              </ul>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
            <!-- // end modal body-->
          </div>
          <!-- // end col-->
        </div>
        <!-- // end row-->
      </div>
      <!-- // end container-->
    </div>
    <!-- // end modal content-->
  </div>
  <!-- // end modal window 4-->
  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Le Mur des Fleurs</h2>
              <hr class="star-primary">
              <br>
              <img src="/static/img/projects/jo.png" class="img-responsive img-centered" alt="">
              <h4>Project Summary</h4>
              <p class="words">Created a ecommerce store using squarespace. Users can puruchse flora wallpaer that creates a tryly unique experince for interior of your homes.</p>
              <p></p>
              <ul class="list-inline item-details">
                <li>Client:
                  <strong><a href="http://www.lemurdesfleurs.com/">Joahnna Rivera</a>
                                    </strong>
                </li>
                <li>Date:
                  <strong><a href="#">April 2016</a>
                                    </strong>
                </li>
                <li>Service:
                  <strong><a href="#">Web Development</a>
                                    </strong>
                </li>
              </ul>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
            <!-- // end modal body-->
          </div>
          <!-- // end col-->
        </div>
        <!-- // end row-->
      </div>
      <!-- // end container-->
    </div>
    <!-- // end modal content-->
  </div>
  <!-- // end modal window 5 -->
  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Ryan Fanelli Painting, Inc</h2>
              <h4>Project Summary</h4>
              <p class="words">Created a business web page for Rayn Fanelli Painting, Inc. Simple one page web application about Ryan's paiting business with all this services he provides.</p>
              <img src="/static/img/projects/rf.png" class="img-responsive img-centered" alt="">
              <ul class="list-inline item-details">
                <li>
                  <h4>Stack:</h4> Pyton, JavaScript / jQuery, Bootstrap, HTML5, CSS3, Flask, Heroku
                </li>
              </ul>
              <p>Business webpage for Ryan Fanelli </p>
              <ul class="list-inline item-details">
                <li>Client:
                  <strong><a href="https://rfpainting.herokuapp.com/">Ryan Fanelli</a>
                                                </strong>
                </li>
                <li>Date:
                  <strong><a href="#">December 2016</a>
                                                </strong>
                </li>
                <li>Service:
                  <strong><a href="#">Web Development</a>
                                                </strong>
                </li>
              </ul>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
            <!-- // end modal-body-->
          </div>
          <!-- // col-lg-8 col-lg-offset-2-->
        </div>
        <!-- // end row-->
      </div>
      <!-- // end container-->
    </div>
    <!-- // end modal content-->
  </div>

{% endblock %}