<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="personal web site">
  <meta name="author" content="Uma Petersen">
  <title>{% block title %}Uma Petersen{% endblock %}</title>
  <link rel="shortcut icon" type="image/png" href="static/img/favicon.ico" />
  <!--============= JAVASCRIPT =================-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.4/d3.min.js"></script>
  <script type="text/javascript" src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="/static/js/d3/d3-bubble.js"></script>
  <!-- Bootstrap Core CSS -->
  <!--
    Stylesheets
    =============================================

    -->
  <!-- Default stylesheets-->
  <link href="static/assets/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Template specific stylesheets-->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oranienbaum" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="static/assets/lib/animate.css/animate.css" rel="stylesheet">
  <link href="static/assets/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="static/assets/lib/et-line-font/et-line-font.css" rel="stylesheet">
  <link href="static/assets/lib/flexslider/flexslider.css" rel="stylesheet">
  <link href="assets/lib/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="static/assets/lib/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">
  <link href="static/assets/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
  <link href="static/assets/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
  <!-- Main stylesheet and color file-->
  <link href="static/assets/css/style.css" rel="stylesheet">
  <link id="color-scheme" href="static/assets/css/colors/default.css" rel="stylesheet">
  <link href="static/assets/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- CSS framwork -->
  <link href="/static/css/ihover.css" rel="stylesheet" />
  <link href="/static/css/animate.css" rel="stylesheet" />
  <!-- Custom Page CSS -->
  <link href="/static/css/bar-chart.css" rel="stylesheet">
  <link href="static/css/style.css" rel="stylesheet">
  <link href="/static/css/master.css" rel="stylesheet">

  <style>
    #home, #about {
    background-image: url(/static/images/background/grey_bg.png)
  }
  </style>

   {% endblock %}

  <body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <main>
      <div class="page-loader">
        <div class="loader">Loading...</div>
      </div>
<!--       <nav class="navbar navbar-custom navbar-fixed-top navbar-transparent" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="index.html">Uma Petersen</a>
          </div>
          <div class="collapse navbar-collapse" id="custom-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="page-scroll"><a class="page-scroll" href="#header">Home</a></li>
                 <li class="page-scroll "><a class="page-scroll " href="#designandcode " data-toggle="page-scroll "">Design &amp; Code</a>
              </li>
              <li class="page-scroll"><a class="page-scroll" href="#portfolio" data-toggle="page-scroll" ">UX Projects</a></li>
                  <li class="page-scroll "><a class="page-scroll " href="#about " data-toggle="page-scroll "">About</a>
              </li>
              <li class="page-scroll"><a class="page-scroll" href="#portfolio" data-toggle="page-scroll" ">Portfolio</a></li>

            <li class="dpage-scroll">
                <a class="page-scroll" href="#contact" data-toggle="page-scroll" ">Contact</a></li>
                </ul>
              </div>
            </div>
        </nav> -->

  <section class="module pb-0" id="portfolio" data-background="static/images/backgrounds/portfolio_bg.png">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="module-subtitle font-serif">
<!--           <img src="static/images/portfolio/portfolio-text-box.png" class="center" />
 -->
          </div>
        </div>
      </div>
    </div>
    </section>
    <section class="module portfolio" id="portfolio">
    <div class="container">
     <div class="module-subtitle font-serif">
          <img src="static/images/portfolio/portfolio-text-box.png" class="center" />

          </div>
      <div class="row">
        <div class="col-sm-12">

       <ul class="filter font-alt" id="filters">
<!--             <li><a class="current wow fadeInUp" href="#" data-filter="*">All</a></li>
 -->
            <li><a class="wow fadeInUp" href="#" data-filter=".design" data-wow-delay="0.6s">UX Design</a></li>
            <li><a class="wow fadeInUp" href="#" data-filter=".design" data-wow-delay="0.6s">UI Design</a></li>
             <li><a class="wow fadeInUp" href="#" data-filter=".webdesign" data-wow-delay="0.6s">Web Development</a></li>
<!--             <li><a class="wow fadeInUp" href="#" data-filter=".illustration" data-wow-delay="0.2s">Illustration</a></li>
 -->

<!--  <li><a class="wow fadeInUp" href="#" data-filter=".marketing" data-wow-delay="0.4s">Marketing</a></li>
 -->          </ul>
  <div class="module-subtitle font-serif">
  Some of my recent work
  </div>
        </div>
        </div>
      <ul class="works-grid works-grid-gut works-grid-2 works-hover-d" id="works-grid">
        <li class="work-item webdesign">
          <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
            <div class="work-image"><img src="static/images/portfolio/portfolio1.png" alt="Portfolio Item" /></div>
            <div class="work-caption font-alt">
              <h3 class="work-title">Wanderlust</h3>
              <div class="work-descr">Webdesign</div>
            </div>
          </a>
        </li>
        <li class="work-item webdesign">
          <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
            <div class="work-image"><img src="static/images/portfolio/portfolio2.png" alt="Portfolio Item" /></div>
            <div class="work-caption font-alt">
              <h3 class="work-title">Johanna</h3>
              <div class="work-descr">Webdesign</div>
            </div>
          </a>
        </li>
        <li class="work-item webdesign">
          <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
            <div class="work-image"><img src="static/images/portfolio/portfolio3.png" alt="Portfolio Item" /></div>
            <div class="work-caption font-alt">
              <h3 class="work-title">Ryan</h3>
              <div class="work-descr">Webdesign</div>
            </div>
          </a>
        </li>
        <li class="work-item webdesign">
          <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
            <div class="work-image"><img src="static/images/portfolio/portfolio4.png" alt="Portfolio Item" /></div>
            <div class="work-caption font-alt">
              <h3 class="work-title">Timeline</h3>
              <div class="work-descr">Webdesign</div>
            </div>
          </a>
        </li>
        <li class="work-item design">
          <a href="/design" class="portfolio-link" data-toggle="modal">
            <div class="work-image"><img src="static/images/ux-project/al-portfolio.png" alt="Portfolio Item" /></div>
            <div class="work-caption font-alt">
              <h3 class="work-title">Hair by Al</h3>
              <div class="work-descr">UX/UI Design</div>
            </div>
          </a>
        </li>
        <li class="work-item webdesign design">
          <a href="/Democracytuesday.html" class="portfolio-link" data-toggle="modal">
            <div class="work-image"><img src="static/images/dt/dt-portfolio.png" alt="Portfolio Item" /></div>
            <div class="work-caption font-alt">
              <h3 class="work-title">Democracy Tuesday</h3>
              <div class="work-descr">UX/UI Design</div>
            </div>
          </a>
        </li>
        <li class="work-item design">
          <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
            <div class="work-image"><img src="static/images/portfolio/portfolio5.png" alt="Portfolio Item" /></div>
            <div class="work-caption font-alt">
              <h3 class="work-title">World Traveler</h3>
              <div class="work-descr">UX/UI Design</div>
            </div>
          </a>
        </li>
           <li class="work-item design">
          <a href="#portfolioModal8" class="portfolio-link" data-toggle="modal">
            <div class="work-image"><img src="static/images/portfolio/portfolio6.png" alt="Portfolio Item" /></div>
            <div class="work-caption font-alt">
              <h3 class="work-title">Uma Petersen</h3>
              <div class="work-descr">UX/UI Design</div>
            </div>
          </a>
        </li>
        <li class="work-item marketing marketing">
          <a href="#portfolioModal9" class="portfolio-link" data-toggle="modal">
            <div class="work-image"><img src="static/images/portfolio/portfolio13.png" alt="Portfolio Item" /></div>
            <div class="work-caption font-alt">
              <h3 class="work-title">Banners</h3>
              <div class="work-descr">Marketing</div>
            </div>
          </a>
        </li>
        <li class="work-item marketing marketing">
          <a href="#portfolioModal10" class="portfolio-link" data-toggle="modal">
            <div class="work-image"><img src="static/assets/images/portfolio/grid-portfolio6.jpg" alt="Portfolio Item" /></div>
            <div class="work-caption font-alt">
              <h3 class="work-title">Cards</h3>
              <div class="work-descr">Marketing</div>
            </div>
          </a>
        </li>
            <li class="work-item marketing marketing">
          <a href="#portfolioModal12" class="portfolio-link" data-toggle="modal">
            <div class="work-image"><img src="static/assets/images/portfolio/grid-portfolio6.jpg" alt="Portfolio Item" /></div>
            <div class="work-caption font-alt">
              <h3 class="work-title">Vectors</h3>
              <div class="work-descr">Marketing</div>
            </div>
          </a>
        </li>
        <li class="work-item marketing marketing">
          <a href="#portfolioModal13" class="portfolio-link" data-toggle="modal">
            <div class="work-image"><img src="static/images/portfolio/portfolio12.png" alt="Portfolio Item" /></div>
            <div class="work-caption font-alt">
              <h3 class="work-title">Promotions</h3>
              <div class="work-descr">Marketing</div>
            </div>
          </a>
        </li>
          <li class="work-item illustration illustrations">
          <a href="#portfolioModal14" class="portfolio-link" data-toggle="modal">
            <div class="work-image"><img src="static/images/portfolio/portfolio13.png" alt="Portfolio Item" /></div>
            <div class="work-caption font-alt">
              <h3 class="work-title">Solar System</h3>
              <div class="work-descr">Illustration</div>
            </div>
          </a>
        </li>
          <li class="work-item illustration illustrations">
          <a href="#portfolioModal15" class="portfolio-link" data-toggle="modal">
            <div class="work-image"><img src="static/images/portfolio/portfolio14.png" alt="Portfolio Item" /></div>
            <div class="work-caption font-alt">
              <h3 class="work-title">Lemonade</h3>
              <div class="work-descr">Illustration</div>
            </div>
          </a>
        </li>
          <li class="work-item illustration illustrations">
          <a href="#portfolioModal16" class="portfolio-link" data-toggle="modal">
            <div class="work-image"><img src="static/images/portfolio/portfolio15.png" alt="Portfolio Item" /></div>
            <div class="work-caption font-alt">
              <h3 class="work-title">Color Psychology</h3>
              <div class="work-descr">Illustration</div>
            </div>
          </a>
        </li>
        <li class="work-item illustration illustrations ui">
          <a href="#portfolioModal17" class="portfolio-link" data-toggle="modal">
            <div class="work-image"><img src="static/images/portfolio/portfolio12.png" alt="Portfolio Item" /></div>
            <div class="work-caption font-alt">
              <h3 class="work-title">Mango Ice Cream</h3>
              <div class="work-descr">Illustration</div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </section>
        <footer class="footer bg-dark">
                {% include "section8_footer.html" %}


        </footer>
      </div>
      <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
    </main>
    <!--
    JavaScripts
    =============================================
    -->
  <script src="/static/assets/lib/jquery/dist/jquery.js"></script>
  <script src="/static/assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/static/assets/lib/wow/dist/wow.js"></script>
  <script src="/static/assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
  <script src="/static/assets/lib/isotope/dist/isotope.pkgd.js"></script>
  <script src="/static/assets/lib/imagesloaded/imagesloaded.pkgd.js"></script>
  <script src="/static/assets/lib/flexslider/jquery.flexslider.js"></script>
  <script src="/static/assets/lib/owl.carousel/dist/owl.carousel.min.js"></script>
  <script src="/static/assets/lib/smoothscroll.js"></script>
  <script src="/static/assets/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
  <script src="/static/assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
  <script src="/static/assets/js/plugins.js"></script>
  <script src="/static/assets/js/main.js"></script>
  <!-- Plugin JavaScript -->
  <!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script> -->
</body>

</html>

