 {% block content %}
<h4 class="font-alt mb-30">Fun Fact</h4>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title font-alt"><a data-toggle="collapse" data-parent="#accordion" href="#support1">Fun Fact 1</a></h4>
    </div>
    <div class="panel-collapse collapse in" id="support1">
      <div class="panel-body">
        <p>I love to travel. I love to challenge myself with new places, people and experiences. I love learning and taking new experiences from unfamiliar place and leaving with new skill or knowledge is exciting. Traveling has changed my views, from meeting people in new places, or being exposed to arts, culture, and history has changed my life.</p>
        Where I have been so far:France, Denmark, Sweden, Italy, United Kingdom, Spain, Mexico, India, Thailand
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title font-alt"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#support2">Fun Fact 2</a></h4>
    </div>
    <div class="panel-collapse collapse" id="support2">
      <div class="panel-body">
        <p>I LOVE LOVE LOVE Mangos. Nothing can compare to the magic that is a Mango. Mago flavor is like a touch of flowers, sweetness, and a touch of sour all wrapped up into one. If I was stranded on island and there were bunch of mango trees, I think I would do just fine.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title font-alt"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#support3">Fun Fact 3</a></h4>
    </div>
    <div class="panel-collapse collapse" id="support3">
      <div class="panel-body">
        <p>love animation movies. Animation is the art and science of pure creativity. Animation is not just about funny characters though. Brilliant script writing and subtle effects in how stories are presented (beyond the control of directors in Live Actions films) make animated movies more enthralling. Dont get me wrong, I do love a good documentry.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title font-alt"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#support4">Fun Fact 5</a></h4>
    </div>
    <div class="panel-collapse collapse" id="support4">
      <div class="panel-body">
        <p>There isn't a bettwe way to unwind after busy day in San francisco than a ferry ride across the bay. I love a good glass of cabernet sauvignon, while riding the ferry. I enjoy fresh air and city skyline.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
