 {% block content %}
<h4 class="font-alt mb-30">Fun Fact</h4>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title font-alt"><a data-toggle="collapse" data-parent="#accordion" href="#support1">Fun Fact 1</a></h4>
    </div>
    <div class="panel-collapse collapse in" id="support1">
      <div class="panel-body">

      I love to travel, I love to see the new places and experinces cultues, foods, and learn about history. I been to Frace, Denmark, Sweeden, Italy, United Kingdom, Spain, Mexico, India, Thailand
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title font-alt"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#support2">Fun Fact 2</a></h4>
    </div>
    <div class="panel-collapse collapse" id="support2">
      <div class="panel-body">

      I am indian, not sure if this has anytihng to do with it, but I love Magos. If I was stranded on Island all there was to eat was mangos, I think I would do just fine.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title font-alt"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#support3">Fun Fact 3</a></h4>
    </div>
    <div class="panel-collapse collapse" id="support3">
      <div class="panel-body">I love watching animation, scy-fyis and and docuenteries. I also love anythig movie or docuemnty that has to deal with space and the unverse.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title font-alt"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#support4">Fun Fact 5</a></h4>
    </div>
    <div class="panel-collapse collapse" id="support4">
      <div class="panel-body">I love a good glass of cabernet sauvignon, Malbec while riding the ferry. I enjoy fresh air and city skyline.
      </div>
    </div>
  </div>
</div>
{% endblock %}
