 {% block content %}
         <hr class="divider-w">
        <section class="module">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <h4 class="font-alt mb-30">Frequently Asked Questions</h4>
                <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title font-alt"><a data-toggle="collapse" data-parent="#accordion" href="#support1">Support Question 1</a></h4>
                    </div>
                    <div class="panel-collapse collapse in" id="support1">
                      <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                      </div>
                    </div>
                  </div>
                    <div class="panel-collapse collapse in" id="support1">
                      <div class="panel-body">
                        <p>I love to travel. I love to challenge myself with new places, people and experiences. I love learning and taking new experiences from unfamiliar place and leaving with new skill or knowledge is exciting. Traveling has changed my views, from meeting people in new places, or being exposed to arts, culture, and history has changed my life.</p>
                        Where I have been so far:France, Denmark, Sweden, Italy, United Kingdom, Spain, Mexico, India, Thailand
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title font-alt"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#support2">Fun Fact 2</a></h4>
                    </div>
                    <div class="panel-collapse collapse" id="support2">
                      <div class="panel-body">
                        <p>I LOVE LOVE LOVE Mangos. Nothing can compare to the magic that is a Mango. Mago flavor is like a touch of flowers, sweetness, and a touch of sour all wrapped up into one. If I was stranded on island and there were bunch of mango trees, I think I would do just fine.</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title font-alt"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#support3">Fun Fact 3</a></h4>
                    </div>
                    <div class="panel-collapse collapse" id="support3">
                      <div class="panel-body">
                        <p>love animation movies. Animation is the art and science of pure creativity. Animation is not just about funny characters though. Brilliant script writing and subtle effects in how stories are presented (beyond the control of directors in Live Actions films) make animated movies more enthralling. Dont get me wrong, I do love a good documentry.</p>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
              <div class="col-sm-6">
                <h3 class="font-serif mb-30">My Skills</h3>
                <h6 class="font-alt">
              <span class="icon-tools-2"></span> Development
              </h6>
                <div class="progress">
                    <div class="progress-bar pb-dark" aria-valuenow="65" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span>
                    </div>
                </div>
                <h6 class="font-alt"><span class="icon-target"></span> Generate a great quantity of ideas
                </h6>
                <div class="progress">
                    <div class="progress-bar pb-dark" aria-valuenow="90" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span>
                    </div>
                </div>
                <h6 class="font-alt"><span class="icon-edit"></span> Designing
                 </h6>
                <div class="progress">
                    <div class="progress-bar pb-dark" aria-valuenow="80" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span>
                    </div>
                </div>
                <h6 class="font-alt"><span class="icon-cloud"></span> where most people see problems I see opportunities
                </h6>
                <div class="progress">
                    <div class="progress-bar pb-dark" aria-valuenow="95" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span>
                    </div>
                </div>
                <h6 class="font-alt"><span class="icon-strategy"></span>Wheel Throwing &amp; Wood Working
                </h6>
                <div class="progress">
                    <div class="progress-bar pb-dark" aria-valuenow="70" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span>
                    </div>
                </div>
                <h6 class="font-alt"><span class="icon-pencil"></span>

                </span>Calligraphy
                </h6>
                <div class="progress">
                    <div class="progress-bar pb-dark" aria-valuenow="60" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span>
                    </div>
                </div>
                <h6 class="font-alt"><span class="icon-camera"></span> Photography
                </h6>
                <div class="progress">
                    <div class="progress-bar pb-dark" aria-valuenow="75" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </section>
<h4 class="font-alt mb-30 font-serif">Fun Fact</h4>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title font-alt"><a data-toggle="collapse" data-parent="#accordion" href="#support1">Fun Fact 1</a></h4>
    </div>
    <div class="panel-collapse collapse in" id="support1">
      <div class="panel-body">
        <p>I love to travel. I love to challenge myself with new places, people and experiences. I love learning and taking new experiences from unfamiliar place and leaving with new skill or knowledge is exciting. Traveling has changed my views, from meeting people in new places, or being exposed to arts, culture, and history has changed my life.</p>
        Where I have been so far:France, Denmark, Sweden, Italy, United Kingdom, Spain, Mexico, India, Thailand
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title font-alt"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#support2">Fun Fact 2</a></h4>
    </div>
    <div class="panel-collapse collapse" id="support2">
      <div class="panel-body">
        <p>I LOVE LOVE LOVE Mangos. Nothing can compare to the magic that is a Mango. Mago flavor is like a touch of flowers, sweetness, and a touch of sour all wrapped up into one. If I was stranded on island and there were bunch of mango trees, I think I would do just fine.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title font-alt"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#support3">Fun Fact 3</a></h4>
    </div>
    <div class="panel-collapse collapse" id="support3">
      <div class="panel-body">
        <p>love animation movies. Animation is the art and science of pure creativity. Animation is not just about funny characters though. Brilliant script writing and subtle effects in how stories are presented (beyond the control of directors in Live Actions films) make animated movies more enthralling. Dont get me wrong, I do love a good documentry.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
