  <section class="module" id="team">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h2 class="module-title font-alt">Meet Our Team</h2>
          <div class="module-subtitle font-serif">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</div>
        </div>
      </div>
      <div class="row">
        <div class="mb-sm-20 ih-item circle effect11 right_to_left col-md-4 col-sm-6 col-xs-12">
          <div class="team-item">
            <div class="team-image">
  <span class="fa-stack fa-3x">
          <i class="fa fa-globe fa-stack-2x fa-inverse"></i>
        </span>
        </div>

              <div class="team-detail">
                <h5 class="font-alt">Hi all</h5>
                <p class="font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&amp;nbsp;iaculis diam.</p>
                <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
              </div>
            </div>
            <div class="team-descr font-alt">
              <div class="team-name">Jim Stone</div>
              <div class="team-role">Art Director</div>
            </div>
          </div>
        </div>
        <div class="mb-sm-20 wow fadeInUp col-md-4 col-sm-6 col-xs-12">
          <div class="team-item">
            <div class="team-image"><img src="assets/images/team-2.jpg" alt="Member Photo" />
              <div class="team-detail">
                <h5 class="font-alt">Good day</h5>
                <p class="font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&amp;nbsp;iaculis diam.</p>
                <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
              </div>
            </div>
            <div class="team-descr font-alt">
              <div class="team-name">Andy River</div>
              <div class="team-role">Creative director</div>
            </div>
          </div>
        </div>
        <div class="mb-sm-20 wow fadeInUp col-md-4 col-sm-6 col-xs-12">
          <div class="team-item">
            <div class="team-image"><img src="assets/images/team-4.jpg" alt="Member Photo" />
              <div class="team-detail">
                <h5 class="font-alt">Yes, it's me</h5>
                <p class="font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&amp;nbsp;iaculis diam.</p>
                <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
              </div>
            </div>
            <div class="team-descr font-alt">
              <div class="team-name">Dylan Woods</div>
              <div class="team-role">Developer</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
