{% extends "base.html"%} {% block content %}
<section class="module bg-dark-60 portfolio-page-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">Visual Designs</h2>
                <div class="module-subtitle font-serif">Designs</div>
            </div>
        </div>
    </div>
</section>
<div class="divider-e"></div>
<section>
    <div class="row multi-columns-row">
        <div class="col-sm-6 col-md-6 col-lg-6 col-sm-offset-3">
            <img src="static/images/visual/outside-lands-poster.png" alt="Title of Image" />
        </div>
    </div>
</section>
<hr class="divider-c">
<div class="divider-e"></div>
<section>
    <div class="row multi-columns-row">
        <div class="col-sm-6 col-md-6 col-lg-6 col-sm-offset-3">
            <img src="static/images/visual/zestyfresh.png" alt="Title of Image" />
        </div>
    </div>
</section>
<hr class="divider-c">
<section>
    <div class="row multi-columns-row">
        <div class="col-sm-6 col-md-6 col-lg-6 col-sm-offset-3">
            <img src="static/images/visual/knead.png" alt="Title of Image" />
        </div>
    </div>
</section>
<section>
    <div class="row multi-columns-row">
        <div class="col-sm-6 col-md-6 col-lg-6 col-sm-offset-3">
            <img src="static/images/visual/drink.png" alt="Title of Image" />
        </div>
    </div>
</section>
<hr class="divider-c">

<section>

    <div class="row multi-columns-row">
        <div class="col-sm-6 col-md-6 col-lg-6 col-sm-offset-3">
            <img src="static/images/visual/limes.png" alt="Title of Image" />
        </div>
    </div>
</section>
<hr class="divider-c">

<section>

    <div class="row multi-columns-row">
        <div class="col-sm-6 col-md-6 col-lg-6 col-sm-offset-3">
            <img src="static/images/visual/martini.png" alt="Title of Image" />
        </div>
    </div>
</section>
<section>
<hr class="divider-c">

    <div class="row multi-columns-row">
        <div class="col-sm-6 col-md-6 col-lg-6 col-sm-offset-3">
            <img src="static/images/visual/cards.png" alt="Title of Image" />
        </div>
    </div>
</section>
{% endblock %}