{% extends "base.html"%} {% block content %}
   <section class="module bg-dark-60 gallery-page-header parallax-bg" data-background="static/images/visual-design.png visual-design">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">Visual Design</h2>
                <h3 class="module-title font-serif">Take a look at some of my work</h3>

              </div>
            </div>
          </div>
        </section>
        <section class="module">
          <div class="container">
                          <h3 class="module-title font-serif">Gallary</h3>
                           <div class="module-subtitle font-serif"> Design, logos, posters and infographics</div>

            <div class="row multi-columns-row">
              <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="gallery-item">
                  <div class="gallery-image"><a class="gallery" href="static/images/visual-design/big/tokillmockingbird.png" title="Title 1"><img src="static/images/visual-design/small/thumbnail-mockingbird.png" alt="Gallery Image 1"/>
                      <div class="gallery-caption">
                        <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                      </div></a></div>
                </div>
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="gallery-item">
                  <div class="gallery-image"><a class="gallery" href="/static/images/visual-design/big/inception.png" title="Title 1"><img src="/static/images/visual-design/small/thumbnail-inception.png"" alt="Gallery Image 1"/>
                      <div class="gallery-caption">
                        <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                      </div></a></div>
                </div>
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="gallery-item">
                 <div class="gallery-image"><a class="gallery" href="/static/images/visual-design/big/intersteller.png" title="Title 1"><img src="/static/images/visual-design/small/thumbnail-intersteller.png"" alt="Gallery Image 1"/>
                      <div class="gallery-caption">
                        <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                      </div></a></div>
                </div>
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="gallery-item">
                <div class="gallery-image"><a class="gallery" href="/static/images/visual-design/big/rain.png" title="Title 1"><img src="/static/images/visual-design/small/thumbnail-rain.png"" alt="Gallery Image 1"/>
                      <div class="gallery-caption">
                        <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                      </div></a></div>
                </div>
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="gallery-item">
             <div class="gallery-image"><a class="gallery" href="/static/images/visual-design/big/tiffanys.png" title="Title 1"><img src="/static/images/visual-design/small/thumbnail-tiffanys.png" alt="Gallery Image 1"/>
                      <div class="gallery-caption">
                        <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                      </div></a></div>
                </div>
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="gallery-item">
                <div class="gallery-image"><a class="gallery" href="/static/images/visual-design/big/fashioned.png" title="Title 1"><img src="/static/images/visual-design/small/thumbnail-oldfashioned.png" alt="Gallery Image 1"/>
                      <div class="gallery-caption">
                        <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                      </div></a></div>
                </div>
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="gallery-item">
                 <div class="gallery-image"><a class="gallery" href="/static/images/visual-design/big/outsidelands.png" title="Title 1"><img src="/static/images/visual-design/small/thumbnail-outsidelands.png" alt="Gallery Image 1"/>
                      <div class="gallery-caption">
                        <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                      </div></a></div>
                </div>
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="gallery-item">
                 <div class="gallery-image"><a class="gallery" href="/static/images/visual-design/big/lemons.png" title="Title 1"></a>
                 <a class="gallery" href="/static/images/visual-design/big/juice.png" title="Title 1">

                 <img src="/static/images/visual-design/small/thumbnail-lemons.png" alt="Gallery Image 1"/>
                      <div class="gallery-caption">
                        <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                      </div></a></div>
                </div>
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="gallery-item">
                 <div class="gallery-image"><a class="gallery" href="/static/images/visual-design/big/lemonade.png" title="Title 1"><img src="/static/images/visual-design/small/thumbnail-lemonade.png" alt="Gallery Image 1"/>
                      <div class="gallery-caption">
                        <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                      </div></a></div>
                </div>
              </div>
               <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="gallery-item">
                 <div class="gallery-image"><a class="gallery" href="/static/images/visual-design/big/martini.png" title="Title 1"><img src="/static/images/visual-design/small/thumbnail-martni.png" alt="Gallery Image 1"/>
                      <div class="gallery-caption">
                        <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                      </div></a></div>
                </div>
              </div>
               <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="gallery-item">
                 <div class="gallery-image"><a class="gallery" href="/static/images/visual-design/big/name.png" title="Title 1"><img src="/static/images/visual-design/small/thumbnail-name.png" alt="Gallery Image 1"/>
                      <div class="gallery-caption">
                        <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                      </div></a></div>
                </div>
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="gallery-item">
                <div class="gallery-image"><a class="gallery" href="/static/images/visual-design/big/planets.png" title="Title 1"><img src="/static/images/visual-design/small/thumbnail-planets.png" alt="Gallery Image 1"/>
                      <div class="gallery-caption">
                        <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                      </div></a></div>
                </div>
              </div>
            </div>
          </div>
        </section>

{% endblock %}