/*========================================
	=RESET 
=========================================*/

html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, img, ol, ul, li, 
figure {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	font-size:100%;
	outline:none;
	vertical-align:baseline;
	text-decoration:none; }
	
ol, ul { list-style: none; }


/*========================================
		=MIXED
=========================================*/
			
/*------=body, =html-------------------*/		

html { -webkit-text-size-adjust: none; }

body {
	line-height: 1.7;
	font-size:16px;
	text-align:left;
	-webkit-font-smoothing: antialiased;
	background-image: url(lib/images/furley_bg.png); /* default bg for entire site */
	background-attachment:fixed; }
		
html, body { height:100%;  } 

/*------=global colors -----------*/	

/* font colors */
h1, h2, h3, h4, h5, h6, th, label, .curly_brackets:before, .curly_brackets:after,
ul.curly_brackets li:first-child:before, .curly_brackets li:last-child:after, 
nav.pages span.current, table caption { color:#222222; }

body, input, textarea  { color:#666; }

a, code, #copyright_info, nav.pages a.next, nav.pages a.prev, .menu-item-has-children.current-menu-item li a { color:#a09f9d; }

/* text shadow */
h1, h2, h3, h4, h5, h6, a, .flex-caption, .caption, .commentmetadata, 
nav.pages a.next, nav.pages a.prev { text-shadow:1px 1px 1px white; }


/*------=global backgrounds-----------*/	

/* 'gray sand' texture */
.separator, input[type=submit], input[type=button], button, .button,
.flex-direction-nav a, .controls a, #google_map .close, div.tooltip, 
nav.pages a.page-numbers { background:#3d3d3d url(lib/images/gray_sand.png); }

/* 75% transprarent white */
body>header, .caption h3, .caption p, 
.flex-control-nav li a, .flex-caption, .navigation li ul { background:url(lib/images/white_75_bg.png); } 

/* 50% transprarent white */
body>footer, table, .styled, .gallery .gallery-item a, img.avatar  { background:url(lib/images/white_50_bg.png); } 


/*------=global transitions-----------*/		

.next_slide, input[type=submit], input[type=button], button, .button, #mobile_nav,
.navigation li a, .flex-direction-nav a, ul.thumbs li a img, .controls a, #google_map .close,
nav.pages a.page-numbers, .feat_img a, .navigation li ul li a {
	-webkit-transition:all .3s; 
	-moz-transition:all .3s;
	-o-transition:all .3s;
	transition:all .3s;	}
	
	
/*------=layered paper look-----------*/

body>header, .styled, table, .gallery .gallery-item a, .navigation li ul, img.avatar { 
		box-shadow:
	 	0 0 0 1px #f8f8f8, /* white border */
        0 5px 0 -3px #f8f8f8, /* The first layer */
        0 5px 0 -2px #ccc /* The first layer shadow */	} 
		
.styled, .gallery .gallery-item a, .navigation li ul, img.avatar {
	padding:8px;
	border:1px dashed #ccc; }
	
#wpadminbar .avatar { box-shadow:none; }
	
	
/*------=section-------------------*/

section.slide, section.page { min-height: 100%;  }
	 
section.slide > .container,
section.page > .container { padding:150px 0; }

section.slide { background-attachment:fixed !important; }

			
/*------=h-------------------*/
			
h1, h2, h3, h4, h5, h6 { width:100%; }	
	
h1 { 
	text-align:center;
	line-height:1; }

section header, hgroup { margin-bottom:25px; }	
section header > h2, hgroup > h2 { 
	text-align:center;
	font-size:1.05em;
	position:relative;
	margin-bottom:0; }
	
.panes h3 { display:inline; }
	
h1 { font-size:2.6em; margin-bottom:.4em; }
h2 { font-size:1.6em; margin-bottom:.3em; }
h3 { font-size:1.4em; margin-bottom:.15em; }
h4 { font-size:1.3em; margin-bottom:.1em; }
h5, table caption{ font-size:1.2em; margin-bottom:.1em; }
h6 { font-size:1.1em; margin-bottom:.1em; }	
	

/*------=curly brackets style-------*/

.curly_brackets span:before, .curly_brackets span:after,
.curly_brackets li:first-child:before, .curly_brackets li:last-child:after {
	font-size:40px;
	font-style:normal;
	margin-top:-20px;
	height:40px;
	top:50%;
	position:absolute;
	font-style:normal !important; }
			
.curly_brackets span:before, .curly_brackets li:first-child:before  { content:"{"; left:0px; } 	/* add "{" before text */
.curly_brackets span:after, .curly_brackets li:last-child:after { content:"}"; right:0px; }		/* add "}" after text */
	
.curly_brackets span { 
	padding:5px 50px 5px 50px;
	line-height:35px; 
	text-align:center;
	position:relative;
	display:inline-block; }
		
ul.curly_brackets { 
	padding:5px 0 10px 0;
	line-height:35px;
	text-align:center;  }	
ul.curly_brackets li { position:relative; }
ul.curly_brackets li:first-child { 
	padding-left:50px; 
	margin-left:0; }
ul.curly_brackets li:last-child { 
	padding-right:50px; 
	margin-right:0; }
			
/*------=p-------------------*/

p { margin-bottom:1em; }

	
/*------=a-------------------*/

a { cursor:pointer; }		
a:hover { text-decoration:underline; }

a.button { 
	display:inline-block;  
	text-shadow:none;
	padding-top:0.6em;
	padding-bottom:0.6em; }
a.button:hover { color:white; }	

li.active>a, a.active, a.current, a:hover  { color:#000; }
a.current { text-decoration:underline; }	
	
h1>a, h2>a, h3>a, h4>a, h5>a, h6>a { 
	font-size:inherit;
	text-decoration:none;
	color:inherit; }
	
.aligncenter { 
	float:none; 
	text-align:center; }
.alignleft { float:left; }
.alignright { float:right; text-align:right; }			
	
	

/*------=ul, =ol, =dl-------------------*/

section.slide ul, section.slide ol, section.slide dl,
section.page ul, section.page ol, section.page dl { margin-bottom:1em; }
	
ul.filter a, ul.curly_brackets, a ul.tabs a { font-size:1.05em; }

.container ol { list-style-type:decimal;  }
.container ol { list-style-position:inside;  }


/*------=div-------------------*/

.container { 
	position:relative;
	clear:both; }
	
.fixed_pos { position:fixed; }
	
.separator { 
	height:2px;
	box-shadow:1px 1px 1px white;
	clear:both; 
	width:50px;
	margin:0 auto 50px auto; }
#blog_content .separator { margin-bottom:35px; }
	
.space { 	
	clear:both;
	height:80px; } 
	
	
	
/*------=img, =figure-------------------*/

img {  /* make img fluid */
    max-width: 100%;  
    height: auto;  
    width: auto\9; /* ie8 */ }
	
figure img { display:block; }

figcaption, .wp-caption-text { 
	text-align:center; 
	margin:.5em 0; }
		
img.alignleft, figure.alignleft { margin-right:1em; }
img.alignright, figure.alignright { margin-left:1em; }
	
		
/*----- =blockquote -----------*/

blockquote { 
	text-align:center;
	position:relative;
	padding:0 3em 0 3em;
	margin:0 0 1em 0; }
	
blockquote:before, blockquote:after { 
	font-size:5em;
	color:#ccc;
	opacity:.5;
	position:absolute;
	font-style:normal;
	top:-30px; }

/* adding quotation marks before and after blockquote */
blockquote:before { 
	content: '\201C'; 
	left:0; }
	
blockquote:after { 
	content: '\201D';
	right:0;  }
	
	
/*------=selection color ------*/

*::-moz-selection { background:#3d3d3d; color:white;  }
*::selection, mark { background:#3d3d3d; color:white;}

	
/*========================================
		=HEADER
=========================================*/

body>header { 
	top:0; 
	position:fixed;
	z-index:499;
	width:100%;
	border-bottom:1px dashed #ccc; }

/* fix header overlapping with admin bar */	
.admin-bar>header { top:32px; }
@media screen and (max-width: 782px) { .admin-bar>header { top:46px; } }
@media screen and (max-width: 600px) { .admin-bar>header { position:absolute; } }
		
header .container { padding:0; }

#logo { 
	font-size:2em;
	text-align:left;
	margin-top:13px;
	margin-bottom:13px;  }
	
#logo_img {
	max-height:55px; 
	position:absolute;
	margin:auto;
	top:0;
	bottom:0;  }	
	
				
/*------=navigation menu ------*/
		
#mobile_nav	{ display:none; }

.navigation { 
	width:auto;
	float:right;
	display:block;
	margin-top:17px; }
	 
.navigation li { 
	display:inline-block;	
	float:left;
	position:relative; }
	
.navigation li a { 
	display:inline-block;
	text-decoration:none;
	padding-bottom:17px;
	font-size:1.05em; 
	margin-left:35px;
	font-style:normal;
	text-align:center; }
	
.navigation li a i { font-size:1em; }

	
/*========================================
		=FLEXSLIDER
=========================================*/

.flexslider { 
	width:100%;
	position:relative;
	z-index:1;
	clear:both;
	text-align:center;
	padding-left:0;
	padding-right:0;
	margin:8px 0 70px 0; }
	
.flexslider ul.slides {
	zoom: 1;
	margin-bottom:0; }	
		
.flexslider .slides li { 
	display:block;
	float:left;
	position:relative;
	overflow:hidden;
	margin:0;
	padding:0; }
	
ul.flex-direction-nav { margin-bottom:0 !important; }	
		
.flex-direction-nav a {
	display:none;
	position: absolute; 
	top: 50%;	
	margin-top:-23px;
	width:46px;
	text-align:center;
	height:46px;
	line-height:46px;	
	color:white;
	text-shadow:none;
	opacity:0;
	font-size:.9em; }
	
.flex-direction-nav a i { height:46px; }	
		
.flexslider:hover .flex-direction-nav a { 
	display:block;
	opacity:1; }
	
.flexslider .flex-direction-nav a:hover { 
	text-decoration:none;
	opacity:.8;  }	
	
.flex-direction-nav .flex-next { 
	right:-46px;
	box-shadow:inset 3px 0 3px #2d2d2d; }
.flex-direction-nav .flex-prev { 
	left:-46px;
	box-shadow:inset -3px 0 3px #2d2d2d; }	
	
.flex-control-nav {
	position:absolute;
	bottom:-70px;
	height:30px;
	padding:0;
	z-index:1000;
	float: left; 
	display: block; 
	left: 50%; }
	
.flex-control-nav li {
	 position: relative; 
	 float: left; 
	 display: block; 
	 right: 50%; 
	 padding:0;	 }
	
.flex-control-nav li a { 
	text-indent:-9999px;
	display:block;
	width:14px;
	height:14px;
	border:1px dashed #999;
	-moz-border-radius:7px;
	-o-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	margin:0 8px; 
	cursor:pointer; }	
	
.flex-control-nav li a.flex-active {
	background:#ccc;
	box-shadow:inset 0 2px 2px #888;
	border:1px white solid; }
		
.flex-caption {
	position:absolute;
	bottom:16px;
	left:9px;
	margin-bottom:0;
	padding:10px; }
	
.flexslider .slides > li { display: none;  }
.flexslider .slides img {
	display: block;
	margin:0 auto; }
	
			
/*========================================
		=PORTFOLIO
=========================================*/

/*-------=filter list-------------------*/

ul.filter { 
	text-align:center;
	position:relative; 
	clear:both; }	
	
ul.filter li, ul.curly_brackets li { 
	display:inline;
	margin:0 .5em; }
	
ul.filter li.active a { text-decoration:underline; }


/*-------=thumbs list-------------------*/

ul.thumbs li { 
	margin-bottom:30px;
	display:block; }
	
ul.thumbs li a { 
	margin:0; 
	display:block; 
	text-align:center; }
	
ul.thumbs li a img {
	 margin:0 auto;
	display:block; }
		
ul.thumbs li a img:hover { opacity:.8;  }

ul.thumbs li .caption { display:none; }


/*-------=slideshow (Galleriffic plugin)-------------------*/

.slideshow_container { 
	position:relative;
	margin-bottom:30px !important; }
	
.slideshow {
	text-align:center;
	overflow:hidden;
	position:relative;
	z-index:1;  }
	
/*.slideshow img { display:block; margin:0 auto; transition:.2s all;  }	 */
			
.loading {
	background:url(lib/images/loading.gif) no-repeat center center;
	position:absolute;
	height:16px;
	width:16px;
	left:50%;
	top:50%;
	margin-left:-8px;
	margin-top:-8px;
	z-index:100; }

.contols_container {
	position:relative; 
	min-height:40px; }
	
.caption { 
	position:absolute;
	left:-3px;
	margin:0;
	bottom:8px;
	z-index:100; }
	 
.caption h3, .caption p { 
	display:block; 
	float:left; 
	width:auto; 
	clear:both;	
	padding:10px;
	margin-bottom:5px; }
	 
.controls {
	position:absolute;
	right:24px;
	bottom:0;
	float:right;
	padding:0; }
	
.controls > div { float:right; }
	
.controls a  { 
	float:left; 
	color:white; 
	width:40px;
	height:40px;
	line-height:40px;
	text-align:center;
	margin-left:1px;
	font-style:normal;
	font-size:.7em;
	box-shadow:inset 0 -3px 3px #2d2d2d;
	text-shadow:none;  }
	
.controls a:hover, .flex-direction-nav a:hover  { color:white; } 	
	
.controls .close { float:right; font-size:0.8em; }

.controls a:hover { 
	text-decoration:none; 
	opacity:.8; } 
	
.thumbs_container .pagination { 
	clear:both;
	text-align:center;
	position:relative; }
	
.thumbs_container .pagination * { 
	margin:0 .5em;
	font-size:1.05em; } 
	
.thumbs_container .pagination *:first-child { margin-left:46px; }
.thumbs_container .pagination *:last-child { margin-right:46px; }	
.thumbs_container .pagination .span { margin-left:0; }
	
.thumbs_container .pagination.top { margin-bottom:1em; }


/*========================================
		=CONTACT
=========================================*/

/*-------=contact form 7 plugin-------------------*/

.wpcf7-form p { color:#2d2d2d; }

.wpcf7-list-item {
	float:left;
	width:100%; }

.wpcf7-form input[type=text], .wpcf7-form input[type=email] { margin-top:5px; }

span.wpcf7-not-valid-tip, .wpcf7-response-output {
	text-align:center;
	border:none !important; }
	
span.wpcf7-not-valid-tip {
	background:#3d3d3d url(lib/images/gray_sand.png) !important;
	color:white !important;
	padding:8px 15px !important;
	border-radius:20px !important;
	position:absolute;
	right:10%;
	top:-60px !important; }	
	
.wpcf7-form-control-wrap { 
	clear:both; 
	float:left;
	width:100%;
	display:block !important; }
	
.wpcf7-not-valid-tip:after { /* tooltip arrow */
	content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	border: 5px solid transparent;
	border-top-color: #3d3d3d;
	top: 100%;
	left: 50%;
	margin-left: -5px; }
	
	
/*-------=google map-------------------*/
	
#google_map	{ 
	position:relative;
	margin-top:-20px; }
	
#map_canvas_container { margin-bottom:50px; }
	
#map_canvas {  /* <div> for google maps */
	height:400px;
	clear:both; }	
	
#google_map .close { 
	position:relative;
	right:8px;
	display:block;
	font-size:.8em;
	text-shadow:none;	
	width:40px;
	height:40px;
	line-height:40px;
	text-align:center;
	clear:both;
	color:white; 
	float:right;
	box-shadow:inset 0 -3px 3px #2d2d2d;	 }
	
#google_map .close:hover { 
	text-decoration:none; 
	opacity:.8; }	
	
#map_canvas img { max-width:none !important; }

	
/*========================================
		=FOOTER
=========================================*/	

body > footer { 
	padding:20px 0 0 0;
	height:70px;
	margin-top:-90px; /* pushing footer inside the last slide section */
	position:relative;
	border-top:1px dashed #ccc; }
	
#copyright_info { margin-top:.7em; }


/*------=social icons---------*/

#social_icons { 
	float:right;
	padding:0; }
	
#social_icons li { 
	display:inline-block;
	margin:8px 0 0 12px; }
	
#social_icons li a { 
	display:inline-block;
	text-align:center;
	color:#3d3d3d;
	font-size:1.25em; }
	
#social_icons li a:hover { text-decoration:none; }

body>footer .container { padding:0; }


/*------=tooltips---------*/

div.tooltip { 
	color:white; 
	font-size:.9em;
	padding:8px 15px;
	border-radius:20px; }
	
div.tooltip:after { /* tooltip arrow */
	content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	border: 5px solid transparent;
	border-top-color: #3d3d3d;
	top: 100%;
	left: 50%;
	margin-left: -5px; }
	
	
/*========================================
	=BLOG 
=========================================*/	

article.post { margin-bottom:120px; }

article.single_post { 
	float:left; 
	width:100%; 
	margin-bottom:1em; }

h1 > a, h2 > a { font-style: normal; }
h1 > a:hover, h2:hover > a { text-decoration:none; }

.feat_img { 
	float:left;
	clear:both;
	margin:10px 0 30px 0; }
	
.feat_img a, .feat_img img { display:block;}
.feat_img img, .gallery-icon img { width:100%; }

.sticky { /* special styling for sticky posts */ } 
.bypostauthor { /* special styling for autors posts */ }	


/*------=navigation---------*/

.navigation a > i { 
	line-height:1;
	margin-left:2px; }
	

/*------=comments---------*/

#comments { 
	margin-top:4em; 
	float:left;
	width:100%; }

#comments h2, #reply-title {
	text-align:center;
	font-size:2.2em; }
	
section.page .commentlist { margin-bottom:4em; }
	
.commentlist #reply-title { font-size:1.8em; }
	
.commentlist li { margin-bottom:4em; }
.commentlist li:last-child { margin-bottom:0; }

.logged-in-as { text-align:center; }

.comment-author h3 { 
	margin-bottom:0;
	line-height:1; }

.commentmetadata { 
	color:#a09f9d;
	margin-bottom:1em;  }
	
.comment-reply-link, #cancel-comment-reply-link { float:right; } 

#cancel-comment-reply-link { margin-left:-0.8em; }
#cancel-comment-reply-link i { font-size:.7em;  }
#comment-reply-link i { font-size:1.1em; }

.comment_text, .commentlist #respond {  margin-left:98px; }	 

#comments > #respond { margin-bottom:50px; }

.commentlist #respond { margin-top:2em; }	

.commentlist .children { margin:3em 0 0 20px; }

#respond textarea { height:190px; }
#respond input[type=text], .commentlist #respond textarea { margin-bottom:25px; } 

#respond .required { margin-left:5px; }
 
	
/*------=avatar---------*/

img.avatar {
	float:left;
	margin-right:20px; }
	
.comment-author h3>a { font-style:inherit; }
		

/*------=tags---------*/

.post_tags, .link_pages { margin:2em 0 2em 0; }

.post_tags i { margin-right:5px; }
.post_tags a { margin-left:5px; }


/*------=pages list---------*/

.pages { width:100%; }

section nav.pages ul, section ul.pages { text-align:center; }
	
.pages li { display:inline; }
	
nav.pages ul li a, nav.pages ul li span, nav.pages li a i {
	width:40px;
	height:40px;
	display:inline-block;
	line-height:40px;
	font-style:normal; }
nav.pages ul li a:hover { text-decoration:none; }
	
nav.pages li a, nav.pages li a i {	
	color:white;
	text-shadow:none; }
	
nav.pages li a i { font-size:0.85em; }
	
nav.pages a.page-numbers:hover, .feat_img a:hover { opacity:.8; }

.prev_post { margin-right:20px; }
.next_post { margin-left:20px; }

.link_pages * { margin:0 20px; }


/*------=searh and search form---------*/

article.search_results { margin-bottom:60px; }
article.search_results h2>a { font-size:1.6em; }

#searchform { position:relative; }
#searchform input[type=text] { 
	margin-bottom:30px;
	padding-right:25px; }

.search-form label {  position: relative; }
.search-form .screen-reader-text, .search-form input[type=submit] { display: none; }

.search-form input[type=search]::-webkit-input-placeholder { opacity: 0; }
.search-form input[type=search]::-moz-placeholder { opacity: 0; }
.search-form input[type=search]:-ms-input-placeholder { opacity: 0; }

.search-form label:after { 
    content: "\f002";
    font-family: 'fontawesome';
    position: absolute;
    right: 0;
    top: -.5em;
    font-size: 1.1em;
    color: #666; }

.magn_glass {
	position:absolute;
	top:-8px;
	right:0; }
	
.magn_glass i { font-size:1.1em; }

input[type="search"] { -webkit-appearance: textfield; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button  { -webkit-appearance: none; }


/*------=widgets for sidebar---------*/

#sidebar .widget { 
	margin-bottom:30px;
	float:left;
	width:100%; }
	
	
/*------=celendar widget---------*/

#wp-calendar tbody tr:last-child td { border-bottom:1px dashed #ccc; }
#wp-calendar tbody tr:first-child td { border-top:1px dashed #ccc; }


/*-------=gallery classes---------------------*/

.gallery .gallery-item a { display:inline-block;  }

.gallery .gallery-icon img { 
	display:block;
	border:none !important; }
	
.gallery .gallery-caption { margin-top:0; }
	
/*========================================
		=MEDIA QUERIES (RESPONSIVE D.)
=========================================*/	

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
	
	/*-------=flexslider-------------------*/
	
	.flexslider {
		padding-left:8px;
		padding-right:8px; }
		
	.flex-caption { left:0; }
	
	/*-------=portfolio slideshow-------------------*/
	
	.slideshow { 
		height:auto !important;
		padding-bottom:0 !important; }	
		
	.container  ul.thumbs .one-third { margin-bottom:20px; }
	
	.controls { right:20px; }						
	
}

@media only screen and (min-width: 768px) {
	
	/* always display navigation menu on large resolutions */
	.navigation { display:block !important; }
	
	
	/*-------=dropdown menu-------------------*/
	.navigation li ul {
		display: none;
		position: absolute;
		z-index: 1;
		padding:0;
		left:0; }
		
	.navigation>li>ul {
		margin-top:-10px; 
		margin-left:-70px; 
		left:50%; }
				
	.navigation li ul ul {
		top: 0;
		left: 100%;
		margin-left:-10px; }
		
	.navigation li:hover > ul { display: block; }
		
	.navigation li ul li {
		width:100%;
		clear:both;
		float:left;
		text-align:center;
		position:relative; }
		
	.navigation li ul li a {
		border-bottom: 1px dashed #ccc;
		margin:0; 
		font-size:1em;
		display:block;
		padding:.4em 1em;
		min-width:140px; }
	.navigation li ul li:last-child>a { border-bottom:none; }
	.navigation li ul li a:hover, 
	.navigation li ul li.current_page_item a, 
	.navigation li ul li.current-menu-item a  { background: white; }

}


/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	
	/*-------=portfolio slideshow-------------------*/
		
	.controls { right:5px; }
		
	.slideshow_container { margin-bottom:20px !important; }	
		
	.container ul.thumbs .one-third,
	.container ul.thumbs .four.columns  { 
		width:133px;
		margin:0 0 10px 10px; }
	
	.styled, .gallery .gallery-item a { padding:5px; }
		
	.container ul.thumbs .one-third:nth-child(3n+1),
	.container ul.thumbs .four.columns:nth-child(3n+1) { margin-left:0; }	
	
	.caption { 
		position:relative;
		text-shadow:none;
		left:5px;
		bottom:0;
		margin-top:10px; }
		
	.caption h3, .caption p { 
		background:none; 
		padding:0;
		margin-bottom:default; }	
		
	
	/*-------=footer-------------------*/
	
	body > footer {
		height:105px;
		margin-top:-125px; }
	
	#social_icons, #copyright_info { 
		text-align:center; 
		float:none; 
		margin-bottom:0; }
		
	#social_icons li:first-child { margin-left:0; }
	
	
	/*-------=flexslider-------------------*/
	
	.flex-direction-nav { display:none; }
	.flex-caption { padding:5px; }
	
	
	/*-------=logo image-------------------*/
	
	#logo_img { 
		position:relative;
		margin:8px 0; }
	
	
	/*-------=mobile navigation-------------------*/
			
	.navbar {
		display:block;
		position:absolute;
		right:0;
		top:17px;
		line-height:100%;
		margin-bottom:0;
		font-size:1.45em; }
					
	.navbar:hover { text-decoration:none; }	
	
	ul.navigation {
		clear: both;
		z-index: 10000;
		display: none;
		width:100%;
		margin:0 0 10px 0;
		border:1px dashed #ccc;  }
	
	.navbar li {
		text-align:left;
		margin:0;
		display:block;
		width:100%; }
		
	.navbar li ul { padding:0; }	
	
	.navbar li a {
		 clear: both;
		 margin:0 15px 0 0;
		 padding:5px 0;
		 width:100%;
		 display:block;
		 border-bottom:1px dashed #ccc;
		 background:#f8f8f8; }
				 
	.navbar li a:hover, 
	.navbar li.active a,
	.navbar li ul li.current_page_item a, 
	.navbar li ul li.current-menu-item a {  background:white; }
		 
	.navbar li:last-child>a { border-bottom:none; }	

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	
	
	/*-------=portfolio slideshow-------------------*/
		
	.caption { padding-left:0; }
	
	.container  ul.thumbs .one-third,
	.container  ul.thumbs .four.columns  { 
		width:145px;
		margin:0 0 10px 10px; }
	.container ul.thumbs .one-third:nth-child(3n+1),
	.container  ul.thumbs .four.columns:nth-child(3n+1) { margin-left:10px; }		
	.container  ul.thumbs .one-third:nth-child(2n+1),
	.container  ul.thumbs .four.columns:nth-child(2n+1):nth-child(2n+1) { margin-left:0; }	
	
		
	/*-------=curly brackets style (removed on mobile devices) --------*/
		
	.curly_brackets span:before, .curly_brackets li:first-child:before  { content:""; }
	.curly_brackets span:after, .curly_brackets li:last-child:after { content:""; }
	.curly_brackets span { padding-left:0; padding-right:0; }
	ul.curly_brackets li:first-child { padding-left:0;  }
	ul.curly_brackets li:last-child { padding-right:0;  } 
	
	
	/*-------=flexslider -------------------*/
	
	.flex-caption { display:none; }
	
}