#mainBubble {
      background: url(/static/img/backgrounds/diamond.png);
      
      box-shadow: 0 0 4px rgba(0,0,0,0);
      font: 10px sans-serif;
      height: 800px;
      position: relative;
      width: 80%;
      padding:;
    }
    #mainBubble svg {
      left: 0;
      position: absolute;
      top: 0;
      padding-left: 30px;
    }
    #mainBubble circle.topBubble {
      fill: #aaa;
      stroke: #666;
      stroke-width: 1.5px;
     }
