/*---------------------------------------------- RESET  ---------------------------------------------- */

/*========================================
	=RESET 
=========================================*/
html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, img, ol, ul, li, 
iframe {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	font-size:100%;
	outline:none;
	vertical-align:baseline;
	text-decoration:none; }
	
ol, ul { list-style: none; }

/*---------------------------------------------- HTML / BODY ---------------------------------------------- */
/*========================================
		=MIXED
=========================================*/
html { -webkit-text-size-adjust: none; }

body {
	line-height: 1.7;
	font-size:16px;
	text-align:left;
	-webkit-font-smoothing: antialiased;
	background-image: url(/static/img/backgrounds/grey.png); 
	background-attachment:fixed; }
		
html, body {
    width: 100%;
    height: auto;
}

/*---------------------------------------------- fonts ---------------------------------------------- */
	
	/* import google fonts */
	@import url(//fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic);		 		 		 
	@import url(//fonts.googleapis.com/css?family=Oranienbaum);		 		 		 
	@import url(//fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic);	
	
	/* font families */
    h1, h2, h3, h4, h5, h6, th, table caption, h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a  { 
		font-family: "Oranienbaum";
		font-style:normal; 
		font-weight:normal; 
		text-transform:none;		 }
    body, hgroup > h2, .curly_brackets span:before, .curly_brackets span:after, .navigation li a  { font-family: "Playfair Display"; }		
	a, i button, .button, blockquote,  p,  hgroup > h2, .curly_brackets span { 
		font-family: "Playfair Display";
	/*	font-style:italic;*/ 
		font-weight:normal;
	    text-transform:none; }	 	

/*----------------------- Background ---------------------------- */
.intro-section, .designer-section, .contact-section{
	background-image: url(/static/img/backgrounds/grey.png)!important;
	background-attachment: scroll;

}
.about-section, .portfolio-section {
	background-image: url(/static/img/backgrounds/diamond.png)!important;
	background-attachment: scroll;
}

/*------=page colors -----------*/
h1, h2, h3, h4, h5, h6, th, label, .curly_brackets:before, .curly_brackets:after,
ul.curly_brackets li:first-child:before, .curly_brackets li:last-child:after, 
nav.pages span.current, { color:#222222; }

/* text shadow */
h1, h2, h3, h4, h5, h6, a, 
 nav { text-shadow:1px 1px 1px white; }

 /*------=page transitions-----------*/		
 button, .button, #mobile_nav,
.navigation li a, .flex-direction-nav a, ul.thumbs li a img, .
nav.id a.href, .navbar li ul li a {
	-webkit-transition:all .3s; 
	-moz-transition:all .3s;
	-o-transition:all .3s;
	transition:all .3s;	}


body>header, .navbar li ul, img { 
		box-shadow:
	 	0 0 0 1px #f8f8f8, /* white border */
        0 5px 0 -3px #f8f8f8, /* The first layer */
        0 5px 0 -2px #ccc /* The first layer shadow */	} 
		
 .navbar li ul, img {
	padding:8px;
	border:1px dashed #ccc; }
	
img { box-shadow:none; }


/*------= page h tags-------------------*/
			
h1, h2, h3, h4, h5, h6 { width:100%; }	
	
h1 { 
	text-align:center;
	line-height:1; }

section header, hgroup { margin-bottom:25px; }	
section header > h2, hgroup > h2 { 
	text-align:center;
	font-size:1.05em;
	position:relative;
	margin-bottom:0; }
	
.tab-pane h3 { display:inline; }
	
h1 { font-size:2.6em; margin-bottom:.4em; }
h2 { font-size:1.6em; margin-bottom:.3em; }
h3 { font-size:1.6em; margin-bottom:.15em;
font-weight: bold; }
h4 { font-size:1.3em; margin-bottom:.1em; }
h5 { font-size:1.2em; margin-bottom:.1em; }
h6 { font-size:1.1em; margin-bottom:.1em; }	

/*------=p-------------------*/

p { margin-bottom:1em;

 }
.words{
	font-size: 1.3em;
}
 /*------=a-------------------*/

a { cursor:pointer; }		
a:hover { text-decoration:underline; }

a.button { 
	display:inline-block;  
	text-shadow:none;
	padding-top:0.6em;
	padding-bottom:0.6em; }
a.button:hover { color: rgb(24, 188, 156); }	

li.active>a, a.active, a.current, a:hover  { color: rgb(24, 188, 156); }
a.current { text-decoration:underline; }	
	
h1>a, h2>a, h3>a, h4>a, h5>a, h6>a { 
	font-size:inherit;
	text-decoration:none;
	color:inherit; }

/*------=ul, =ol, =dl-------------------*/

ol, ul, section.tab-pane 
 { margin-bottom:1em; }
	
ol, a, ul.curly_brackets, a ul.tab-pane a { font-size:1.09em; }


/*------=div-------------------*/

.container { 
	position:relative;
	clear:both; }
	
/*------=page Images-------------------*/

.styled {  /* make img fluid */
    max-width: 100%;  
    height: auto;  
    width: auto\9; /* ie8 */ }
	
.styled { display:block; }


		
.styled{ margin-right:1em; }
.styled{ margin-left:1em; }



/*---------------------------------------------- curly brackets ---------------------------------------------- */



.curly_brackets span:before, .curly_brackets li:first-child:before  { content:""; }
.curly_brackets span:after, .curly_brackets li:last-child:after { content:""; }
.curly_brackets span { padding-left:0; padding-right:0; }
ul.curly_brackets li:first-child { padding-left:0;  }
ul.curly_brackets li:last-child { padding-right:0;  } 
    
    /*------=curly brackets style-------*/

.curly_brackets span:before, .curly_brackets span:after,
.curly_brackets li:first-child:before, .curly_brackets li:last-child:after {
    font-size:40px;
    font-style:normal;
    margin-top:-20px;
    height:40px;
    top:50%;
    position:absolute;
    font-style:normal !important; }
            
.curly_brackets span:before, .curly_brackets li:first-child:before  { content:"{"; left:0px; }   
.curly_brackets span:after, .curly_brackets li:last-child:after { content:"}"; right:0px; }      
    
.curly_brackets span { 
    padding:5px 50px 5px 50px;
    line-height:35px; 
    text-align:center;
    position:relative;
    display:inline-block; }
        
ul.curly_brackets { 
    padding:5px 0 10px 0;
    line-height:35px;
    text-align:center;  }   
ul.curly_brackets li { position:relative; }
ul.curly_brackets li:first-child { 
    padding-left:50px; 
    margin-left:0; }
ul.curly_brackets li:last-child { 
    padding-right:50px; 
    margin-right:0; }