/*banner*/
.banner-text {
/*  font-family: "Playfair Display", "Oranienbaum", "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
*/  font-style:normal;
/*  text-transform:lowercase;
*/  font-size: 30px;
  letter-spacing: 2px;
  line-height: 1px;

}

.banner3{
  margin-left: 100px;
}

/*Design Section*/
.design-img-text {
padding-top:50px;
}

.design-text {
  padding-top:50px;

}
.portfolio-title {
display:inline-block;
text-align: center;
background-position: center center;
}


/*.filter {
  margin-top:100px;

}
*/


/*color*/
/*background: #18BC9C;*/

/* import google fonts */
/*  @import url(//fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic);
  @import url(//fonts.googleapis.com/css?family=Oranienbaum);
  @import url(//fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic);
body,
intro-heading,
h1,
h2,
h3,
h4,
h5,
h6
h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
    font-family: "Playfair Display", "Oranienbaum", "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900;
    font-style:normal;
    font-weight:normal;
    text-transform:none;

}*/


/* .grey-line {
   border: 1px solid grey;
   width: 80%

 }
.thunderbolt {
margin:auto;
padding:auto;
}
section{
  background-image: url(/static/img/backgrounds/grey.png)!important;
  padding: 100px 0;
}*/
/*
.main-row{
  padding:50px 0;
}*/
/* #design, #about{
  background-image: url(/static/img/backgrounds/diamond.png)!important;
padding: 50px 0;
}*/
/*.text-box {
    background: url(/static/img/text-box.jpg) no-repeat center center!important;

  height: 400px;
  width:320px;

}*/
/*BANNERS*/
/*.banner {
 color: grey;
padding: 50px 0;
}*/

/*#banner1 {
  background: url(/static/img/banner4.png) no-repeat center center!important;
  background-size: cover;
height:580px;
}*/

/*#banner2 {
background: url(/static/img/banner5.png) no-repeat center center!important;
  background-size: cover;
  height:580px;
}

#banner3 {
background: url(/static/img/banner6.png) no-repeat center center!important;
  background-size: cover;
  height:580px;


}*/

/*#banner4 {
  background: url(/static/img/banner2.png) no-repeat!important;

  background-size: cover;
}*/


/*.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(/static/img/banner1.png) no-repeat center center!important;
    background-size: cover;

}*/

/*.banner h2 {
    margin: 0;
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

*/

/*THE ENGINEER SECTION */

#ux-diagram {
  padding-left:50px;
}
/*D3 Bubble Chart*/

  #mainBubble {

      font: 10px sans-serif;
      height: 500px;
      position: relative;
/*      width: 100%;
*/      padding:10px;
    }
    #mainBubble svg {
      left: 0;
      position: absolute;
      top: 0;
      padding-left: 30px;
    }
    #mainBubble circle.topBubble {
      fill: #ddd;
      stroke: #666;
      stroke-width: 1px;
     }
@media (max-width: 480px) {
  #mainBubble {
   visibility: hidden!important;
  }
}
/*#aboutme1-img {
  border: 7px solid white;
}
*/
/*DESIGNER SECTION*/
#ux-venn {
    margin-left: 50px;
    padding-left: 50px;
}

.list li{
 list-style-type: none;
}

/*Modal */
/*.modal-text {
  vertical-align: middle;

  text-align: left;

  margin-bottom: 25%;
}*/

/*.section-heading-spacer {
    width: 200px;
    border-top: 3px solid #333;
}
*/


/*design Process*/
/*.info{
  padding-top:20px;
  text-align:left;
  color:white;
  font-size: 12px;
  margin-top:20px;

}*/

/*.info li{
 list-style-type: none;
 text-align:center;

}*/
.ux-title{
  padding-top:40px;
  color:white;
  text-align:center;
}

.fa-stack i{

  padding-top:50px;

}
.circle {
  background: #042939;
}
.circle1{

  background: #042939;
  opacity: .76;

}

.circle2 {

  background: #007779;
  opacity: .76;

}

.circle3 {

  background: #01A89D;
  opacity: .76;

}
.circle4 {

  background: #01A79F;
  opacity: .5;

}
.circle-info {
  text-align:left;
}
.info {
  padding-top:15px;
}

hr.design {
  width:20%
}

.design-title {
  text-align:center;
}


section.ux-process {
  margin-bottom:50px;
}
