
/*color*/
/*background: #18BC9C;*/

/* import google fonts */
  @import url(//fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic);
  @import url(//fonts.googleapis.com/css?family=Oranienbaum);
  @import url(//fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic);
body,
intro-heading,
h1,
h2,
h3,
h4,
h5,
h6
h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
    font-family: "Playfair Display", "Oranienbaum", "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-style:normal;
    font-weight:normal;
    text-transform:none;

}




#engineer, #portfolio, #contact, .contact{
  background-image: url(/static/img/backgrounds/grey.png)!important;

}
 #design, #about{
  background-image: url(/static/img/backgrounds/diamond.png)!important;
}

/*THE ENGINEER SECTION */

#topBubble0 {
  background: #01A89D;

}

/*D3 Bubble Chart*/
  #mainBubble {

      font: 10px sans-serif;
      height: 400px;
      position: relative;
      width: 100%;
      padding:;
    }
    #mainBubble svg {
      left: 0;
      position: absolute;
      top: 0;
      padding-left: 10px;
    }
    #mainBubble circle.topBubble {
      fill: #aaa;
      stroke: #666;
      stroke-width: 1.5px;
     }
@media (max-width: 480px) {
  #mainBubble {
   visibility: hidden;
  }
}


/*DESIGNER SECTION*/
#ux-venn {
    margin-left: 50px;
    padding-left: 50px;
}

/*ux design process*/


#ux-process {
    margin-top: 80px;
    }

.ih-item {
  margin-left:70px;
}
.design-row{
  margin-top: 50px;
}
ul li {
   list-style-type: none;
   text-align:justify;
 }

.design-col {
padding:auto;
}
.info{
  padding-top:30px;
  text-align:center;
  color:white;
  font-size: 15px;
}
.fa-stack i{
  margin:auto;
  padding-top:50px;

}

.circle1 {
  width: 200px!important;
  height: 200px!important;
  background: #007779;
  opacity: .76;

}

.circle2 {
  width: 200px!important;
  height: 200px!important;
  background: #042939;
  opacity: .76;

}

.circle3 {
  width: 200px!important;
  height: 200px!important;
  background: #042939;
  background: #01A89D;
  opacity: .76;

}

.ux {
  width: 200px!important;
  height: 200px!important;


}

/*Portfolio Section*/

/*Contact Section*/





