
/*color*/
/*background: #18BC9C;*/

/* import google fonts */
  @import url(//fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic);
  @import url(//fonts.googleapis.com/css?family=Oranienbaum);
  @import url(//fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic);
body,
intro-heading,
h1,
h2,
h3,
h4,
h5,
h6
h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
    font-family: "Playfair Display", "Oranienbaum", "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-style:normal;
    font-weight:normal;
    text-transform:none;

}


#engineer, #portfolio, #contact, .contact{
  background-image: url(/static/img/backgrounds/grey.png)!important;
  padding: 50px 0;
}
 #design, #about{
  background-image: url(/static/img/backgrounds/diamond.png)!important;
padding: 50px 0;
}

/*BANNERS*/
.banner {
  padding: 100px 0;
  color: grey;
  height: 380px;
}

#banner1 {
  background: url(/static/img/banner1.png) no-repeat!important;
  background-size: cover;
}

#banner2 {
  background: url(/static/img/banner2.png) no-repeat!important;
  background-size: cover;
}

#banner3 {
  background: url(/static/img/banner3.png) no-repeat!important;
  background-size: cover;
}

#banner4 {
  background: url(/static/img/banner4.png) no-repeat!important;
  background-size: cover;
}


.banner h2 {
    margin: 0;
   font-size: 3em;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

.center {
  position: absloute;
  margin: auto;
}

/*THE ENGINEER SECTION */

#topBubble0 {
  background: #01A89D;

}

/*D3 Bubble Chart*/

#topBubble0 {
  background-color: green!important;
}

#topBubble1 {

}

#topBubble2 {

}
#topBubble3{

}
#topBubble4{

}

  #mainBubble {

      font: 10px sans-serif;
      height: 400px;
      position: relative;
      width: 100%;
      padding:;
    }
    #mainBubble svg {
      left: 0;
      position: absolute;
      top: 0;
      padding-left: 10px;
    }
    #mainBubble circle.topBubble {
      fill: #aaa;
      stroke: #666;
      stroke-width: 1.5px;
     }
@media (max-width: 480px) {
  #mainBubble {
   visibility: hidden!important;
  }
}
#aboutme1-img {
  border: 7px solid white;
}

/*DESIGNER SECTION*/
#ux-venn {
    margin-left: 50px;
    padding-left: 50px;
}

/*ux design process*/


#ux-process {
    margin-top: 100px;
    }


/*.design-row{
  margin-top: 50px;
}*/
ul li {
   list-style-type: none;
   text-align:justify;
 }


.info{
  padding-top:30px;
  text-align:center;
  color:white;
  font-size: 15px;
}
.fa-stack i{
  margin:auto;
  padding-top:50px;

}

.circle1 {
  width: 200px!important;
  height: 200px!important;
  background: #007779;
  opacity: .76;
  position: center

}

.circle2 {
  width: 200px!important;
  height: 200px!important;
  background: #042939;
  opacity: .76;
  position: center;

}

.circle3 {
  width: 200px!important;
  height: 200px!important;
  background: #042939;
  background: #01A89D;
  opacity: .76;
   position: center;

}

.ux {
  width: 200px!important;
  height: 200px!important;


}

/*Portfolio Section*/

/*Contact Section*/


/*Nav Bar*/
.topnav {
    font-size: 14px;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

/*.intro-header {
    padding-top: 50px;
    color: #f8f8f8;
    background: url(../img/intro-bg.jpg) no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}



.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}
*/





/*.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.skill-container {
  position: relative;
  height: 225px;
  width: 225px;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  margin-bottom: 50px;
  margin-top: 60px;
}

.skill {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
}

.skill p {
  position: absolute;
  width: 93px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.skill-circle {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  height: 150px;
  width: 150px;
  background-color: rgba(14, 183, 145, 0.6);
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-backface-visibility: hidden;
}

.skill-circle:hover {
  height: 165px;
  width: 165px;
  bottom: 30px;
  background-color: #0eb791;
}
*/





























/*-----Bar Chart ------*/

.chart {
  clear: both;
  padding: 0;
  width: 100%;
}
@media (min-width: 400px) {
  .chart {
    background: url("http://cl.ly/QSpc/bg-chart.png") right top repeat-x;
    height: 425px;
    margin: 0 auto emCalc(-32px);
  }
}
.chart li {
  display: block;
  height: 125px;
  padding: emCalc(25px) 0;
  position: relative;
  text-align: center;
  vertical-align: bottom;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px;
  border-radius: 4px 4px 0 0;
  -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
}
@media (min-width: 700px) {
  .chart li {
    display: inline-block;
    height: 425px;
    margin: 0 1.8% 0 0;
    width: 15%;
  }
}


.chart .axis {
  display: none;
  top: emCalc(-45px);
  width: 8%;
  margin-top: 10px;
  padding-top: 50px;
  padding-bottom: 50px;


}
@media (min-width: 700px) {
  .chart .axis {
    display: inline-block;

  }
}
.chart .label {
  background: #ddd;
  margin: -9px 0px 71px 0px;
  margin-top: 30px;


}


.chart .percent {
  letter-spacing: -3px;
  opacity: .3;
  width: 100%;
  font-size: 30px;
  font-size: 1.875rem;
}
@media (min-width: 700px) {
  .chart .percent {
    position: absolute;
    font-size: 62px;
    font-size: 3.875rem;
  }
}
.chart .percent span {
  font-size: 30px;
  font-size: 1.875rem;
}
.chart .skill {
  font-weight: 800;
  opacity: .5;
  overflow: hidden;
  width: 100%;
  font-size: 20px;
  font-size: 0.875rem;
}
@media (min-width: 700px) {
  .chart .skill {
    bottom: 20px;

    position: absolute;
    font-size: 16px;
    font-size: 1rem;
  }
}
.chart .teal {
  background: #17becf;
  border: 1px solid #3182bd;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc2ZDhkMSIvPjxzdG9wIG9mZnNldD0iNzAlIiBzdG9wLWNvbG9yPSIjNGVjZGM0Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #76d8d1), color-stop(70%, #4ecdc4));
  background-image: -moz-linear-gradient(#17becf, #17becf 70%);
  background-image: -webkit-linear-gradient(#17becf, #4ecdc4 70%);
  background-image: linear-gradient(#17becf, #17becf 70%);

}
.chart .salmon {
  background: #ff9896;
  border: 1px solid #d6616b;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmOWU5ZSIvPjxzdG9wIG9mZnNldD0iNzAlIiBzdG9wLWNvbG9yPSIjZmY2YjZiIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff9e9e), color-stop(70%, #ff6b6b));
  background-image: -moz-linear-gradient(#ff9896, #ff9896 70%);
  background-image: -webkit-linear-gradient(#ff9896, #ff9896 70%);
  background-image: linear-gradient(#ff9896, #ff9896 70%);
}
.chart .lime {
  background: #74c476;
  border: 1px solid #31a354;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I3Zjc5NCIvPjxzdG9wIG9mZnNldD0iNzAlIiBzdG9wLWNvbG9yPSIjOTdmNDY0Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b7f794), color-stop(70%, #97f464));
  background-image: -moz-linear-gradient(#74c476, #74c476 70%);
  background-image: -webkit-linear-gradient(#74c476, #74c476 70%);
  background-image: linear-gradient(#74c476, #74c476 70%);
}
.chart .peach {
  background: #fdae6b;
  border: 1px solid  #fd8d3c;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZTRjNSIvPjxzdG9wIG9mZnNldD0iNzAlIiBzdG9wLWNvbG9yPSIjZmZjZDkyIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffe4c5), color-stop(70%, #ffcd92));
  background-image: -moz-linear-gradient(#fdae6b, #fdae6b 70%);
  background-image: -webkit-linear-gradient(#fdae6b, #fdae6b 70%);
  background-image: linear-gradient(#fdae6b, #fdae6b 70%);
}
.chart .grape {
  background: #6b6ecf;
  border: 1px solid #5254a3;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M1OTRmNyIvPjxzdG9wIG9mZnNldD0iNzAlIiBzdG9wLWNvbG9yPSIjYWI2NGY0Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c594f7), color-stop(70%, #ab64f4));
  background-image: -moz-linear-gradient(#6b6ecf, #6b6ecf 70%);
  background-image: -webkit-linear-gradient(#6b6ecf, #6b6ecf 70%);
  background-image: linear-gradient(#6b6ecf, #6b6ecf 70%);
}

/*######################################################*/


