/*UMA'S CSS*/


section {
    padding: 100px 0;
}

.piechart {
    padding-right: 30px;
}

#page-title{
    font-family: "Playfair Display", sans-serif;
    font-size: 150px;
    font-weight: 700px;
    padding-top: 50px;
    margin-top: 20px;

}
/*------= TABS-------------------*/
.tab-list{
    font-size: 20px;
}
.tab-titles{
    font-weight: bold;
}

#about-tabs{
    font-size: 20px;

}
 


.contact {
    padding-top: 80px;
    padding-bottom: 50px;
}


