/*---------------------------------------------- BODY HTML ---------------------------------------------- */

body,
html {
    width: 100%;
    height: 100%;
}
/*---------------------------------------------- fonts ---------------------------------------------- */
/* import google fonts */
	@import url(//fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic);
	@import url(//fonts.googleapis.com/css?family=Oranienbaum);
	@import url(//fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic);
body,
h1,
h2,
h3,
h4,
h5,
h6
h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
    font-family: "Playfair Display",sans-serif;
    font-weight: 700;
    font-style:normal;
	font-weight:normal;
	text-transform:none;
}
body, hgroup > h2, .curly_brackets span:before, .curly_brackets span:after, .navigation li a  { font-family: "Playfair Display"; }

a, i button, .button,  p,  hgroup > h2, .curly_brackets span {
		font-family: "Playfair Display";
	/*	font-style:italic;*/
		font-weight:normal;
	    text-transform:none; }

/*------=page colors -----------*/
h1, h2, h3, h4, h5, h6, th, label, .curly_brackets:before, .curly_brackets:after,
ul.curly_brackets li:first-child:before, .curly_brackets li:last-child:after,
nav.pages span.current, { color:#222222; }

/* text shadow */
h1, h2, h3, h4, h5, h6, a,
 nav { text-shadow:1px 1px 1px white; }
li.active a { text-decoration:underline;

 }
/*------= page h tags-------------------*/

h1, h2, h3, h4, h5, h6 { width:100%; }

h1 {
	text-align:center;
	line-height:1; }
p { margin-bottom:1em;

 }
/*------=a-------------------*/

a { cursor:pointer; }
a:hover { text-decoration:underline; }

li.current>a {
	text-decoration:underline;
}
a:link
a:visited {
	 color: rgb(24, 188, 156);
}
a:active {
	 color: rgb(24, 188, 156);
}
a:focus {
	 color: rgb(24, 188, 156);
}

a:hover {
    color: rgb(24, 188, 156);
}
 .up:hover {
color: rgb(24, 188, 156);

 }
body a { color: #666666; }

/*------=page Images-------------------*/

.styled {  /* make img fluid */
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */ }

.styled { display:block; }



.styled{ margin-right:1em; }
.styled{ margin-left:1em; }


img {
	padding:8px;
	border:1px dashed #ccc;

}
img { box-shadow:none; }
/*---------------------------------------------- Nav Bar ---------------------------------------------- */

.topnav {
    font-size: 14px;
}
.words {
    font-size: 18px;
    font-weight: 400;
    font-family: "Oranienbaum";
}
body > nav {
	 height: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	height:100px;
	position:relative;
	border-bottom:3px dashed #ddd;
	background-color: white; }

body>.navbar li ul {
		box-shadow:
	 	0 0 0 1px #f8f8f8, /* white border */
        0 5px 0 -3px #f8f8f8, /* The first layer */
        0 5px 0 -2px #ddd /* The first layer shadow */	}

body>.navbar {
	padding:8px;
	border-bottom:1px dashed #ccc; }

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {

    background-color: transparent;
}




 .aboutMe {

    border: 10px solid white;
   outline: 1px dashed grey;
  }













/*---------------------------------------------- Intro Section / Header  ---------------------------------------------- */

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    background-image: url(/static/img/backgrouds/grey.png) no-repeat center center;

}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    position: center;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    position: center;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

/*@media(max-width:767px) {
    .intro-message {
    	position: center;
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
    	position: center;
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;

    }
}*/

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

/*------=page Images-------------------*/

.styled {  /* make img fluid */
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */ }

.styled { display:block; }



.styled{ margin-right:1em; }
.styled{ margin-left:1em; }


/*---------------------------------------------- SECTIONS ---------------------------------------------- */

#designer {
  background-image: url(/static/img/backgrounds/grey.png)!important;
}
.intro-header {
    background-image: url(/static/img/backgrounds/grey.png)!important;}

.content-section-a {
	position: center;
    padding: 50px 0;
    padding-bottom: 150px;
    background-image: url(/static/img/backgrounds/diamond.png)!important;

	background-attachment: scroll;
}

.content-section-b {
	position: center;
    padding: 50px 0;
    padding-bottom: 150px;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    background-image: url(/static/img/backgrounds/grey.png)!important;
	background-attachment: scroll;
}
/*.content-section-c {
    background-image: url(/static/img/backgrounds/white.png)!important;
}*/
.content-section-c {
    position: center;
    padding: 50px 0;
    padding-bottom: 150px;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    background-image: url(/static/img/keyboard.jpg)!important;
    background-attachment: scroll;
}


.section-heading-spacer {
    position: center;
    width: 100px;
    border-top: 2px solid  #666666;;
}
.section-spacer{
	position: center;
    width: 200px;
    border-top: transparent;
}
/*---------------------------------------------- Contact ---------------------------------------------- */

.contact-social-buttons {
    position: center;
    margin-top: 0;
}

/*@media(max-width:1199px) {
    ul.contact-social-buttons {
        position: center;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .contact-heading h2 {
    	position: center;
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }*/

    ul.contact-social-buttons > li {
    	position: center;
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.contact-social-buttons > li:last-child {
        margin-bottom: 0;
        position: center;
    }
}
/*---------------------------------------------- Contact ---------------------------------------------- */

footer {
    padding: 50px 0;
    border-top:1px dashed #ccc;
	background-color: white;
}

p.copyright {
    margin: 15px 0 0;
}
/*------=i frame ---------*/
iframe {
    overflow:hidden;
    border: 1px solid #000000;

}

/*---------------------------------------------- CSS Anmination ---------------------------------------------- */

#p, #u {
    -webkit-animation: color_change 3s  alternate;
    -moz-animation: color_change 3s  alternate;
    -ms-animation: color_change 3s  alternate;
    -o-animation: color_change 3s  alternate;
    animation: color_change 3s  alternate;
    }
    @-webkit-keyframes color_change {
        from { color: rgb(24, 188, 156); }
        to { color: #ddd; }
    }
    @-moz-keyframes color_change {
        from { color: rgb(24, 188, 156); }
        to { color: #ddd; }
    }
    @-ms-keyframes color_change {
        from { color: rgb(24, 188, 156); }
        to { color: #ddd; }
    }
    @-o-keyframes color_change {
        from { color: rgb(24, 188, 156); }
        to { color: #ddd; }
    }
    @keyframes color_change {
        from { color: rgb(24, 188, 156); }
        to { color: #ddd; }
    }

    .flash {
        color: rgb(24, 188, 156);
        font-size: 28px;
        display: inline;
    }



/*---------------------------------------------- curly brackets ---------------------------------------------- */



.curly_brackets span:before, .curly_brackets li:first-child:before  { content:""; }
.curly_brackets span:after, .curly_brackets li:last-child:after { content:""; }
.curly_brackets span { padding-left:0; padding-right:0; }
ul.curly_brackets li:first-child { padding-left:0;  }
ul.curly_brackets li:last-child { padding-right:0;  }

    /*------=curly brackets style-------*/

.curly_brackets span:before, .curly_brackets span:after,
.curly_brackets li:first-child:before, .curly_brackets li:last-child:after {
    font-size:40px;
    font-style:normal;
    margin-top:-20px;
    height:40px;
    top:50%;
    position:absolute;
    font-style:normal !important; }

.curly_brackets span:before, .curly_brackets li:first-child:before  { content:"{"; left:0px; }
.curly_brackets span:after, .curly_brackets li:last-child:after { content:"}"; right:0px; }

.curly_brackets span {
    padding:5px 50px 5px 50px;
    line-height:35px;
    text-align:center;
    position:relative;
    display:inline-block; }

ul.curly_brackets {
    padding:5px 0 10px 0;
    line-height:35px;
    text-align:center;  }
ul.curly_brackets li { position:relative; }
ul.curly_brackets li:first-child {
    padding-left:50px;
    margin-left:0; }
ul.curly_brackets li:last-child {
    padding-right:50px;
    margin-right:0; }

