
.container {
   width: 100%;
}

@import url(//fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic);
	@import url(//fonts.googleapis.com/css?family=Oranienbaum);
	@import url(//fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic);
body,
h1,
h2,
h3,
h4,
h5,
h6
h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
    font-family: "Playfair Display",sans-serif;
    font-weight: 700;
    font-style:normal;
	font-weight:normal;
	text-transform:none;
}

/*------=page colors -----------*/
h1, h2, h3, h4, h5, h6, th, label, .curly_brackets:before, .curly_brackets:after,
ul.curly_brackets li:first-child:before, .curly_brackets li:last-child:after,
nav.pages span.current, { color:#222222; }
.curly_brackets:before {
  color: #222222;
}
.curly_brackets:before {
content: "{";
    left: 0px;
    font-size:40px;
}
.curly_brackets:after {
content: "}";
    right: 0px;
    font-size:40px;
}




#logo-img {
  border: 5px solid #ddd;
  border-radius: 50%;
}






.menu {
    display: none;
    position: absolute;
    top: 10px;
    left: 0;
  }

  .title {
    position: relative;
  }


