
    /*---------------------------------------------- CSS Anmination ---------------------------------------------- */

#p, #u {
    -webkit-animation: color_change 3s  alternate;
    -moz-animation: color_change 3s  alternate;
    -ms-animation: color_change 3s  alternate;
    -o-animation: color_change 3s  alternate;
    animation: color_change 3s  alternate;
    }
    @-webkit-keyframes color_change {
        from { color: rgb(24, 188, 156); }
        to { color: #ddd; }
    }
    @-moz-keyframes color_change {
        from { color: rgb(24, 188, 156); }
        to { color: #ddd; }
    }
    @-ms-keyframes color_change {
        from { color: rgb(24, 188, 156); }
        to { color: #ddd; }
    }
    @-o-keyframes color_change {
        from { color: rgb(24, 188, 156); }
        to { color: #ddd; }
    }
    @keyframes color_change {
        from { color: rgb(24, 188, 156); }
        to { color: #ddd; }
    }

    .flash {
        color: rgb(24, 188, 156);
        font-size: 28px;
        display: inline;
    }


