
    /*---------------------------------------------- CSS Anmination ---------------------------------------------- */

#p, #u {
    -webkit-animation: color_change 3s  alternate;
    -moz-animation: color_change 3s  alternate;
    -ms-animation: color_change 3s  alternate;
    -o-animation: color_change 3s  alternate;
    animation: color_change 3s  alternate;
    }
    @-webkit-keyframes color_change {
        from { color: rgb(24, 188, 156); }
        to { color: #ddd; }
    }
    @-moz-keyframes color_change {
        from { color: rgb(24, 188, 156); }
        to { color: #ddd; }
    }
    @-ms-keyframes color_change {
        from { color: rgb(24, 188, 156); }
        to { color: #ddd; }
    }
    @-o-keyframes color_change {
        from { color: rgb(24, 188, 156); }
        to { color: #ddd; }
    }
    @keyframes color_change {
        from { color: rgb(24, 188, 156); }
        to { color: #ddd; }
    }

    .flash {
        color: rgb(24, 188, 156);
        font-size: 28px;
    }


    /*---------------------------------------------- Media Queries Hidded ---------------------------------------------- */

    @media screen and (max-width: 1024px) {
        .bubble-chart {
            display: none !important;
        }
    }
  /*  @media screen and (max-width: 1024px) {
        #design-process {
            display: none !important;
        }
    }*/
    @media screen and (max-width: 1024px) {
        #video-title {
            display: none !important;
        }
    }
    @media screen and (max-width: 1024px) {
        iframe {
            display: none !important;
        }
    }
    @media screen and (max-width: 1024px) {
        .video {
            display: none !important;
        }
    }
    @media screen and (max-width: 1024px) {
        .curly_brackets span:before, .curly_brackets li:first-child:before {
            display: none !important;
        }
    }

    @media screen and (max-width: 1024px) {
        .curly_brackets span:after, .curly_brackets li:last-child:after {
            display: none !important;
        }
    }



 @media screen and (max-width: 1024px) {
        .portfolio-section{
            display: none !important;
        }
    }

 @media screen and (max-width: 1024px) {
        .intro-social-buttons {
            display: none !important;
        }
    }
  
/*---------------------------------------------- curly brackets ---------------------------------------------- */



.curly_brackets span:before, .curly_brackets li:first-child:before  { content:""; }
    .curly_brackets span:after, .curly_brackets li:last-child:after { content:""; }
    .curly_brackets span { padding-left:0; padding-right:0; }
    ul.curly_brackets li:first-child { padding-left:0;  }
    ul.curly_brackets li:last-child { padding-right:0;  } 
    
    /*------=curly brackets style-------*/

.curly_brackets span:before, .curly_brackets span:after,
.curly_brackets li:first-child:before, .curly_brackets li:last-child:after {
    font-size:40px;
    font-style:normal;
    margin-top:-20px;
    height:40px;
    top:50%;
    position:absolute;
    font-style:normal !important; }
            
.curly_brackets span:before, .curly_brackets li:first-child:before  { content:"{"; left:0px; }  /* add "{" before text */
.curly_brackets span:after, .curly_brackets li:last-child:after { content:"}"; right:0px; }     /* add "}" after text */
    
.curly_brackets span { 
    padding:5px 50px 5px 50px;
    line-height:35px; 
    text-align:center;
    position:relative;
    display:inline-block; }
        
ul.curly_brackets { 
    padding:5px 0 10px 0;
    line-height:35px;
    text-align:center;  }   
ul.curly_brackets li { position:relative; }
ul.curly_brackets li:first-child { 
    padding-left:50px; 
    margin-left:0; }
ul.curly_brackets li:last-child { 
    padding-right:50px; 
    margin-right:0; }