.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.skill-container {
  position: relative;
  height: 225px;
  width: 225px;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  margin-bottom: 50px;
  margin-top: 60px;
}

.skill {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
}

.skill p {
  position: absolute;
  width: 93px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.skill-circle {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  height: 150px;
  width: 150px;
  background-color: rgba(14, 183, 145, 0.6);
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-backface-visibility: hidden;
}

.skill-circle:hover {
  height: 165px;
  width: 165px;
  bottom: 30px;
  background-color: #0eb791;
}
