body {
		background: url(../img/backgrounds/grey.png);

}

#connect{
		background: url(../img/blur.jpg);

}


.copyright {
	color: #a09f9d;

}

footer {
	padding: 20px 0 0 0;
	height: 70px;
	margin-top: -90px;
	position: relative;
	border-top: 1px dashed #ccc;
	background: url(../img/backgrounds/white.png);
	}

	button {
		color:#666;
	}

/*	rgb(24, 188, 156)*/

.thumbnails {
	height: 300px;
	width: 450px;
}