{%block content%}
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <section class="module bg-dark-60 portfolio-page-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h2 class="module-title font-alt">Le Mur des Fleurs</h2>
          <div class="module-subtitle font-serif">Wall of Flowers</div>
        </div>
      </div>
    </div>
  </section>
  <section class="module">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <img src="/static/images/portfolio/portfolio2-lg.png" " alt="Title of Image "/></div>
            </div>
            <div class="row multi-columns-row ">
              <div class="col-sm-6 col-md-4 col-lg-4 ">
                <div class="alt-features-item ">
                  <div class="alt-features-icon "><span class="icon-tools-2 "></span></div>
                  <h3 class="alt-features-title font-alt ">Development</h3>
                  Stack:Pyton, JavaScript / jQuery, Bootstrap, HTML5, CSS3, D3.js
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4 ">
                <div class="alt-features-item ">
                  <div class="alt-features-icon "><span class="icon-tools "></span></div>
                  <h3 class="alt-features-title font-alt ">Design</h3>Designed a ecommerce store using squarespace. Users can puruchse flora wallpaer that creates a tryly unique experince for interior of your homes.
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4 ">
                <div class="alt-features-item ">
                  <div class="alt-features-icon "><span class="icon-edit "></span></div>
                  <h3 class="alt-features-title font-alt ">Target</h3>Users can purchase wallpapers for their home.
                </div>
              </div>
            </div>
            <hr class="divider-w mt-60 mb-60 ">
            <div class="row multi-columns-row ">
              <div class="col-sm-6 col-md-4 col-lg-4 ">
                <div class="work-details ">
                  <h5 class="work-details-title font-alt ">Project Details</h5>
                  <p></p>
                  <ul>
                    <li><strong>Client: </strong><span class="font-serif "><a href="http://www.lemurdesfleurs.com/" target="_blank ">Joahnna Rivera</a></span>
                    </li>
                    <li><strong>Date: </strong><span class="font-serif "><a href="# " target="_blank ">April 2016</a></span>
                    </li>
                    <li><strong>Online: </strong><span class="font-serif "><a href="# " target="_blank ">hhttp://www.lemurdesfleurs.com/</a></span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4 ">
                <p>Le Mur Des Fleurs (The Wall of Flowers) wall coverings bring life and dimension to the classical floral wallcovering. This contemporary, dramatic, large panel (50" X 216") of floral fine art printing on suede paper invites a closer look at the intricate details of petals and flowers; what they become as a whole making it a truly unique experience when entering any space. A fine art photographic installation in your personal space, Le Mur Des Fleurs wall coverings forces us to examine our human obsession to look at flowers; their simplicity, complexity- their mystery, keep us in awe. </p>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4 ">
                <p>Wallpaper designs use a variety of flowers to create their unique look, including Josephine Peonies, Evelyn Roses, and Coco Dahlias. For those interested in color and a more dramatic feel in any room, Le Mur Des Fleurs now offers color too.  Josephine Peonies is a popular pick of Peonies in fuchsia, or our collection of Roses: Evelyn Roses in white, Almina Roses in red, and Lucille Roses in yellow. All coverings are printed on suede, glint canvas, silver smooth, pearl-linen, and silk  using only gliclée printing process where each ink is specifically picked to provide each customer the best archival print in their space.</p>
              </div>
            </div>
          </div>

        </section>
        <hr class="divider-w ">
        <section class="module ">
          <div class="container ">
            <div class="row ">
              <div class="col-sm-6 col-sm-offset-3 ">
                <h2 class="module-title font-alt ">Related Projects</h2>
              </div>
            </div>
            <ul class="works-grid works-grid-gut works-grid-3 works-hover-w " id="works-grid ">
              <li class="work-item illustration webdesign "><a href="portfolio_single_featured_slider1.html ">
                  <div class="work-image "><img src="/static/assets/images/portfolio/grid-portfolio1.jpg " alt="Portfolio Item "/></div>
                  <div class="work-caption font-alt ">
                    <h3 class="work-title ">Timeline</h3>
                    <div class="work-descr ">Webdesign</div>
                  </div></a></li>
              <li class="work-item marketing webdesign "><a href="portfolio_single_featured_video2.html ">
                  <div class="work-image "><img src="/static/assets/images/portfolio/grid-portfolio6.jpg " alt="Portfolio Item "/></div>
                  <div class="work-caption font-alt ">
                    <h3 class="work-title ">Ryan Fen</h3>
                    <div class="work-descr ">Webdesign</div>
                  </div></a></li>
              <li class="work-item illustration webdesign "><a href="portfolio_single_featured_image2.html ">
                  <div class="work-image "><img src="static/img/portfolio/ryanfaneli.png " alt="Portfolio Item "/></div>
                  <div class="work-caption font-alt ">
                    <h3 class="work-title ">Al Hair</h3>
                    <div class="work-descr ">Webdesign</div>
                  </div></a></li>
            </ul>
					<div class="row ">
              <div class="col-lg-8 col-lg-offset-2 module-title ">
 								 <button type="button " class="btn btn-default " data-dismiss="modal "><i class="fa fa-times "></i> Close</button>
 								 </div>
            </div>
          </div>


        </section>
        </div>
      <div class="scroll-up "><a href="#totop "><i class="fa fa-angle-double-up "></i></a></div>

     {% endblock %}
