{%block content%}
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
  <section class="module bg-dark-60 portfolio-page-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h2 class="module-title font-alt">Dynamic Timeline</h2>
          <div class="module-subtitle font-serif">Dynamic horizontal timeline</div>
        </div>
      </div>
    </div>
  </section>
  <section class="module">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <img src="/static/images/portfolio/.png" " alt="Title of Image "/></div>
            </div>
            <div class="row multi-columns-row ">
              <div class="col-sm-6 col-md-4 col-lg-4 ">
                <div class="alt-features-item ">
                  <div class="alt-features-icon "><span class="icon-tools-2 "></span></div>
                  <h3 class="alt-features-title font-alt ">Development</h3>
                  Stack:Pyton, JavaScript / jQuery, Bootstrap, HTML5, CSS3, Flask, Heroku
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4 ">
                <div class="alt-features-item ">
                  <div class="alt-features-icon "><span class="icon-tools "></span></div>
                  <h3 class="alt-features-title font-alt ">Design</h3>Designed timeline render horizontally to represent human lifespan.
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4 ">
                <div class="alt-features-item ">
                  <div class="alt-features-icon "><span class="icon-edit "></span></div>
                  <h3 class="alt-features-title font-alt ">Target</h3>A Web project
                </div>
              </div>
            </div>
            <hr class="divider-w mt-60 mb-60 ">
            <div class="row multi-columns-row ">
              <div class="col-sm-6 col-md-4 col-lg-4 ">
                <div class="work-details ">
                  <h5 class="work-details-title font-alt ">Project Details</h5>
                  <p></p>
                  <ul>
                    <li><strong>Client: </strong><span class="font-serif "><a href="# " target="_blank ">Responsive and Dynamic Timeline Project</a></span>
                    </li>
                    <li><strong>Date: </strong><span class="font-serif "><a href="# " target="_blank ">March 2017</a></span>
                    </li>
                    <li><strong>Online: </strong><span class="font-serif "><a href="# " target="_blank ">https://as-timeline.herokuapp.com/</a></span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4 ">
                <p>Constructed a horizontal timeline using Python, Flask and JavaScript. Timeline dynamically renders human lifetimes. Timeline displays each person’s name, date of birth, death along with a summary of each individual.</p>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4 ">
                <p>Creating a dynamic timeline using JSON data that is stored on the server and rendered to client. Each div is dymically represented on the timeline based on JSON data.</p>
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 module-title">
                 <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                 </div>
            </div>
        </section>
        <div class="scroll-up "><a href="#totop "><i class="fa fa-angle-double-up "></i></a></div>
        </div>



     {% endblock %}
