{%block content%}
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <section class="module bg-dark-60 portfolio-page-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt">Hair by Al</h2>
                    <div class="module-subtitle font-serif">Created a business web page for Hair Stylist who looking to gain web presence to attrack new customers.
                  </div>
                </div>
            </div>
        </div>
    </section>
    <section class="module">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <img src="/static/images/portfolio/ux/al-device.png" " alt="Title of Image "/></div>
            </div>
            <div class="row multi-columns-row ">

              <div class="col-sm-6 col-md-4 col-lg-4 ">
           <div class="work-details ">
                  <h5 class="work-details-title font-alt ">Project Details</h5>
                  <p></p>
                  <ul>
                    <li><strong>Client: </strong><span class="font-serif "><a href="# " target="_blank ">Al Millian</a></span>
                    </li>
                    <li><strong>Date: </strong><span class="font-serif "><a href="# " target="_blank ">April 2017</a></span>
                    </li>
                    <li><strong>Online: </strong><span class="font-serif "><a href="# " target="_blank ">Business Website</a></span>
                    </li>
                  </ul>
                </div>
              </div>
                      <div class="col-sm-6 col-md-4 col-lg-4 ">
                <div class="alt-features-item ">
                  <div class="alt-features-icon "><span class="icon-tools-2 "></span></div>
                  <h3 class="alt-features-title font-alt ">Development</h3>
                  Stack:Pyton, JavaScript / jQuery, Bootstrap, HTML5, CSS3, Flask, Heroku
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4 ">
                <div class="alt-features-item ">
                  <div class="alt-features-icon "><span class="icon-tools "></span></div>
                  <h3 class="alt-features-title font-alt ">Design</h3>Business website as simple site for users to findinformation about Ryan's painting services.
                </div>
              </div>
            </div>
            <hr class="divider-w mt-60 mb-60 ">
            <div class="row multi-columns-row ">
              <div class="col-sm-6 col-md-6 col-lg-6 ">
                <h5>Concept Ideation: Define</h5>
                <h6>What is the purpose:</h6>
                <p>The concept of Hair by Al is to gain web presence for new clients. Also easier way for users to find information about services as well as booking appointments</p>
                <h6>Problem trying to solve:</h6>
                <p>Client’s goal is to gain new clients with web presence where users can learn about stylist and his services he offers.</p>
                <h4>Goals:</h4>
                <ul>
                <li>Web Presence</li>
                <li>Way to book appointments</li>
                <li>Way to contact</li>
                </ul>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6 ">
               <img src="/static/images/portfolio/ux/al-notes.jpg " " alt="Title of Image " />
                    <small>Notes about project</small>
                </div>
            </div>
            <hr class="divider-w mt-60 mb-60 ">
            <!--// scenario-->
            <div class="row multi-columns-row ">
               <div class="col-sm-6 col-md-6 col-lg-6 ">
            <h5>Scenario:</h5>
            <p>Looking online in your local area for professional hair stylist</p>
            <ul>
                <li>user is on public transit</li>
                <li>user checks emails</li>
                <li>user clicks Democracy Tuesday</li>
                <li>user has a quick read of content</li>
                <li>user can choose to continue to read or click other content</li>
            </ul>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 ">
            <img src="/static/images/portfolio/ux/al-story.png" " alt="Title of Image "/>
            <small>user story scenario </small>
        </div>

        <hr class="divider-w mt-60 mb-60 ">

            <!--// wireframes-->
            <div class="row multi-columns-row ">
              <div class="col-sm-6 col-md-6 col-lg-6 ">
                <img src="/static/images/portfolio/ux/al-wf-sketches.png " " alt="Title of Image " />
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-4 ">
                            <h5>Sketching Interactions:</h5>
                            <p>
                                 Based on the concept and user scenarios, and clients goals I then sketched the interface interactions. The sketches take into account each platform for which I am designing the website: IOS, Andriod, and Web  </p>
                        </div>
                </div>
                <hr class="divider-w mt-60 mb-60 ">
                <!--// vision board-->
                <div class="row multi-columns-row ">
                  <div class="col-sm-6 col-md-6 col-lg-6 ">
                  <h5>Wireframes:</h5>
                  <p>I created wireframes that detail where the elements and content should be placed on each section of the webpage.</p>
                </div>
              <div class="col-sm-6 col-md-6 col-lg-46">
                  <img src="/static/images/portfolio/ux/al-wireframe.png" " alt="Title of Image "/>
                  </div>
              </div>
                              <hr class="divider-w mt-60 mb-60 ">


                        <!--// iterations-->

                <div class="row multi-columns-row ">
                  <div class="col-sm-6 col-md-6 col-lg-6 ">
                    <img src="/static/images/portfolio/ux/al-vision.png " " alt="Title of Image " />
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-6 ">
                    <h5>After learning about client’s vision and needs for his website. I did additional research to learn more about stylist and salons. This allowed me to make sure the right content was added for this type of industry. After the research I created vision board for Client’s website.</p>
                  </div>
                </div>

                <hr class="divider-w mt-60 mb-60 ">

                <div class="row multi-columns-row ">
                    <div class="col-sm-6 col-md-6 col-lg-6 ">
                        <h5>Mockups: First iteration</h5>
                        <p>II created a simple look with header as client did not have much content. After research and working with client to collect content I was able to create a new mockup.</p>


                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 ">
                        <img src="/static/images/portfolio/ux/al-final.png" " alt="Title of Image "/>
              </div>
            </div>
          </div>
          <div class="row ">
              <div class="col-lg-8 col-lg-offset-2 module-title ">
                 <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                 </div>
            </div>
        </section>

      <div class="scroll-up "><a href="#totop "><i class="fa fa-angle-double-up "></i></a></div>
</div>

     {% endblock %}
