{%block content%}
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <section class="module bg-dark-60 portfolio-page-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h2 class="module-title font-alt">yan Fanelli Painting, Inc</h2>
          <div class="module-subtitle font-serif">Created a business web page for Rayn Fanelli Painting, Inc. Simple one page web application about Ryan's paiting business with all this services he provides.</div>
        </div>
      </div>
    </div>
  </section>
  <section class="module">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <img src="/static/images/portfolio/ryan-lg.png" " alt="Title of Image "/></div>
            </div>
            <div class="row multi-columns-row ">
              <div class="col-sm-6 col-md-4 col-lg-4 ">
                <div class="alt-features-item ">
                  <div class="alt-features-icon "><span class="icon-tools-2 "></span></div>
                  <h3 class="alt-features-title font-alt ">Development</h3>
                  Stack:Pyton, JavaScript / jQuery, Bootstrap, HTML5, CSS3, Flask, Heroku
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4 ">
                <div class="alt-features-item ">
                  <div class="alt-features-icon "><span class="icon-tools "></span></div>
                  <h3 class="alt-features-title font-alt ">Design</h3>A wonderful serenity has taken possession of my entire soul like these sweet mornings.
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4 ">
                <div class="alt-features-item ">
                  <div class="alt-features-icon "><span class="icon-camera "></span></div>
                  <h3 class="alt-features-title font-alt ">Photography</h3>A wonderful serenity has taken possession of my entire soul like these sweet mornings.
                </div>
              </div>
            </div>
            <hr class="divider-w mt-60 mb-60 ">
            <div class="row multi-columns-row ">
              <div class="col-sm-6 col-md-4 col-lg-4 ">
                <div class="work-details ">
                  <h5 class="work-details-title font-alt ">Project Details</h5>
                  <p></p>
                  <ul>
                    <li><strong>Client: </strong><span class="font-serif "><a href="# " target="_blank ">Ryan Fanelli</a></span>
                    </li>
                    <li><strong>Date: </strong><span class="font-serif "><a href="# " target="_blank ">December 2016</a></span>
                    </li>
                    <li><strong>Online: </strong><span class="font-serif "><a href="# " target="_blank ">https://rfpainting.herokuapp.com/</a></span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4 ">
                <p>Created a business web page for Rayn Fanelli Painting, Inc. Simple one page web application about Ryan's paiting business with all this services he provides.</p>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4 ">
                <p>Wanderlust also provides users with a timeline in which they can add their photos and journal their travels. This app allows users to track all their travels in one convenient place. Discover new and exciting places and track all your world travels with Wanderlust.</p>
              </div>
            </div>
          </div>

        </section>
        <hr class="divider-w ">
        <section class="module ">
          <div class="container ">
            <div class="row ">
              <div class="col-sm-6 col-sm-offset-3 ">
                <h2 class="module-title font-alt ">Related Projects</h2>
              </div>
            </div>
            <ul class="works-grid works-grid-gut works-grid-3 works-hover-w " id="works-grid ">
              <li class="work-item illustration webdesign "><a href="portfolio_single_featured_slider1.html ">
                  <div class="work-image "><img src="/static/img/projects/jo.png " alt="Portfolio Item "/></div>
                  <div class="work-caption font-alt ">
                    <h3 class="work-title ">Johanna Rivera</h3>
                    <div class="work-descr ">Webdesign</div>
                  </div></a></li>
              <li class="work-item marketing webdesign "><a href="portfolio_single_featured_video2.html ">
                  <div class="work-image "><img src="/static/assets/images/portfolio/grid-portfolio6.jpg " alt="Portfolio Item "/></div>
                  <div class="work-caption font-alt ">
                    <h3 class="work-title ">Timeline</h3>
                    <div class="work-descr ">Webdesign</div>
                  </div></a></li>
              <li class="work-item illustration webdesign "><a href="portfolio_single_featured_image2.html ">
                  <div class="work-image "><img src="static/img/portfolio/ryanfaneli.png " alt="Portfolio Item "/></div>
                  <div class="work-caption font-alt ">
                    <h3 class="work-title ">Al Hair</h3>
                    <div class="work-descr ">Webdesign</div>
                  </div></a></li>
            </ul>
					<div class="row ">
              <div class="col-lg-8 col-lg-offset-2 module-title ">
 								 <button type="button " class="btn btn-default " data-dismiss="modal "><i class="fa fa-times "></i> Close</button>
 								 </div>
            </div>
          </div>


        </section>
      <div class="scroll-up "><a href="#totop "><i class="fa fa-angle-double-up "></i></a></div>

     {% endblock %}
