{%block content%}
<div class="portfolio-modal modal fade" id="portfolioModal15" tabindex="-1" role="dialog" aria-hidden="true">
    <section class="module bg-dark-60 portfolio-page-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt">Lemonade Recipes</h2>
                    <div class="module-subtitle font-serif">Infographic
                  </div>
                </div>
            </div>
        </div>
    </section>
    <section class="module">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <img src="/static/images/portfolio/ux/lemonade.png" " alt="Title of Image "/>
                  </div>
            </div>



          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 module-title">
                 <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                 </div>
            </div>
            </div>
        </section>

      <div class="scroll-up "><a href="#totop "><i class="fa fa-angle-double-up "></i></a></div>
</div>

     {% endblock %}
