{%block content%}
<div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
    <section class="module bg-dark-60 portfolio-page-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt">Democracy Tuesday</h2>
                    <div class="module-subtitle font-serif">Created a business web page for Rayn Fanelli Painting, Inc. Simple one page web application about Ryan's paiting business with all this services he provides.</div>
                </div>
            </div>
        </div>
    </section>
    <section class="module">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <img src="/static/images/portfolio/ux/dt-devices.png" " alt="Title of Image "/></div>
            </div>
            <div class="row multi-columns-row ">

              <div class="col-sm-6 col-md-4 col-lg-4 ">
           <div class="work-details ">
                  <h5 class="work-details-title font-alt ">Project Details</h5>
                  <p></p>
                  <ul>
                    <li><strong>Client: </strong><span class="font-serif "><a href="# " target="_blank ">Roshan and Sherese Scholosser</a></span>
                    </li>
                    <li><strong>Date: </strong><span class="font-serif "><a href="# " target="_blank ">March 2017</a></span>
                    </li>
                    <li><strong>Online: </strong><span class="font-serif "><a href="# " target="_blank ">email Newsletter</a></span>
                    </li>
                  </ul>
                </div>
              </div>
                      <div class="col-sm-6 col-md-4 col-lg-4 ">
                <div class="alt-features-item ">
                  <div class="alt-features-icon "><span class="icon-tools-2 "></span></div>
                  <h3 class="alt-features-title font-alt ">Development</h3>
                  Stack:Pyton, JavaScript / jQuery, Bootstrap, HTML5, CSS3, Flask, Heroku
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4 ">
                <div class="alt-features-item ">
                  <div class="alt-features-icon "><span class="icon-tools "></span></div>
                  <h3 class="alt-features-title font-alt ">Design</h3>Business website as simple site for users to findinformation about Ryan's painting services.
                </div>
              </div>
            </div>
            <hr class="divider-w mt-60 mb-60 ">
            <div class="row multi-columns-row ">
              <div class="col-sm-6 col-md-6 col-lg-6 ">
                <h5>Concept Ideation: Define</h5>
                <h6>What is the purpose:</h6>
                <p>The concept of Democracy Tuesday is to empower individuals to stay updated with current news. Finding creditable news sources is a significant issue today. We are targeting young professionals in hopes the newsletter provides a quick read to insightful news on current events and politics. The newsletter will engage users in a quick read and also allow them to take action in their own local communities.</p>
                <h6>Problem trying to solve:</h6>
                <p>Client’s goal is to reach out to as many users as possible who are interested in learning and participating in current politics. The concept is to allow them to gain insight and exposure to current topics while to staying up- to-date and informed. Current newsletter is text email where look and feel do not convey client’s excitement about user’s engagement in politics.</p>
                <h4>Goals:</h4>
                <ul>
                <li>need a way to reach out to new and current users</li>
                <li>need a way to interest more users with an attractive interface</li>
                <li>desire a customized logo and banner</li>
                </ul>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6 ">
               <img src="/static/images/portfolio/ux/dt_notes.png " " alt="Title of Image " />
                    <small>Notes about project</small>
                </div>
            </div>
            <hr class="divider-w mt-60 mb-60 ">
            <!--// scenario-->
            <div class="row multi-columns-row ">
               <div class="col-sm-6 col-md-6 col-lg-6 ">
            <h5>Scenario:</h5>
            <p> Reading the news as you go to work</p>
            <ul>
                <li>user is on public transit</li>
                <li>user checks emails</li>
                <li>user clicks Democracy Tuesday</li>
                <li>user has a quick read of content</li>
                <li>user can choose to continue to read or click other content</li>
            </ul>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 ">
            <img src="/static/images/portfolio/ux/dt_story.png" " alt="Title of Image "/>
            <small>user story scenario </small>
        </div>

        <hr class="divider-w mt-60 mb-60 ">

            <!--// wireframes-->
            <div class="row multi-columns-row ">
              <div class="col-sm-6 col-md-6 col-lg-6 ">
                <img src="/static/images/portfolio/ux/dt-wf-sketches.png " " alt="Title of Image " />
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-4 ">
                            <h5>Sketching Interactions:</h5>
                            <p>
                                Based on the concept and user scenarios, I then sketched the interface interactions. The sketch was of three different email designs. The sketches take into account each platform for which I am designing the newsletter : IOS, Andriod, and Web</p>
                        </div>
                </div>
                <hr class="divider-w mt-60 mb-60 ">
                <!--// vision board-->
                <div class="row multi-columns-row ">
                  <div class="col-sm-6 col-md-6 col-lg-6 ">
                  <h5>Wireframes:</h5>
                  <p>I created wireframes that detail where the elements and content should be placed on each</p>
                </div>
              <div class="col-sm-6 col-md-6 col-lg-46">
                  <img src="/static/images/portfolio/ux/dt-wireframe.png" " alt="Title of Image "/>
                  </div>
              </div>
                              <hr class="divider-w mt-60 mb-60 ">


                        <!--// iterations-->

                <div class="row multi-columns-row ">
                  <div class="col-sm-6 col-md-6 col-lg-6 ">
                    <img src="/static/images/portfolio/ux/dt-vision.png " " alt="Title of Image " />
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-6 ">
                    <h5>Research: Theme and Vision Board</h5>
                    <p>After research on newsletter as well as gathering information about client’s needs as well as the users I created a vision board to to illustrate theme, look and feel of the newsletter.</p>
                  </div>
                </div>

                <hr class="divider-w mt-60 mb-60 ">

                <div class="row multi-columns-row ">
                    <div class="col-sm-6 col-md-6 col-lg-6 ">
                        <h5>Mockups: First iteration</h5>
                        <p>I incorporated the client’s needs into two variations of the newsletter.</p>
                        <p>In the first mockup I used the clients colors. In the second mock-up I chose colors I thought would help to instantly inform users of the newsletter content.</p>
                        <h5>Mockups: Second Iteration</h5>
                        <p>Changed the mockup to new colors and I added header image and subscribe button at the top</p>
                        <h5>Mockups: Final iteration</h5>
                        <p>After presenting two clients decided they wanted to add back the header image for the final draft.</p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 ">
                        <img src="/static/images/portfolio/ux/dt-final.png" " alt="Title of Image "/>
              </div>
            </div>
          </div>
          <div class="row ">
              <div class="col-lg-8 col-lg-offset-2 module-title ">
                 <button type="button " class="btn btn-default " data-dismiss="modal "><i class="fa fa-times "></i> Close</button>
                 </div>
            </div>
        </section>

      <div class="scroll-up "><a href="#totop "><i class="fa fa-angle-double-up "></i></a></div>
</div>

     {% endblock %}
