{%block content%}
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <section class="module bg-dark-60 portfolio-page-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h2 class="module-title font-alt">Ryan Fanelli Painting, Inc</h2>
          <div class="module-subtitle font-serif">Created a business web page for Rayn Fanelli Painting, Inc. Simple one page web application about Ryan's paiting business with all this services he provides.</div>
        </div>
      </div>
    </div>
  </section>
  <section class="module">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <img src="/static/images/portfolio/ryan-lg.png" " alt="Title of Image "/></div>
            </div>
            <div class="row multi-columns-row ">
              <div class="col-sm-6 col-md-4 col-lg-4 ">
                <div class="alt-features-item ">
                  <div class="alt-features-icon "><span class="icon-tools-2 "></span></div>
                  <h3 class="alt-features-title font-alt ">Development</h3>
                  Stack:Pyton, JavaScript / jQuery, Bootstrap, HTML5, CSS3, Flask, Heroku
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4 ">
                <div class="alt-features-item ">
                  <div class="alt-features-icon "><span class="icon-tools "></span></div>
                  <h3 class="alt-features-title font-alt ">Design</h3>Business website as simple site for users to findinformation about Ryan's painting services.
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4 ">
                <div class="alt-features-item ">
                  <div class="alt-features-icon "><span class="icon-edit "></span></div>
                  <h3 class="alt-features-title font-alt ">Target</h3>A Business website, to create web presence for Ryan's painting business.
                </div>
              </div>
            </div>
            <hr class="divider-w mt-60 mb-60 ">
            <div class="row multi-columns-row ">
              <div class="col-sm-6 col-md-4 col-lg-4 ">
                <div class="work-details ">
                  <h5 class="work-details-title font-alt ">Project Details</h5>
                  <p></p>
                  <ul>
                    <li><strong>Client: </strong><span class="font-serif "><a href="# " target="_blank ">Ryan Fanelli</a></span>
                    </li>
                    <li><strong>Date: </strong><span class="font-serif "><a href="# " target="_blank ">December 2016</a></span>
                    </li>
                    <li><strong>Online: </strong><span class="font-serif "><a href="# " target="_blank ">https://rfpainting.herokuapp.com/</a></span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4 ">
                <p>Created a business web page for Rayn Fanelli Painting, Inc. Simple one page web application about Ryan's paiting business with all this services he provides.</p>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4 ">
                <p>Ryan Fanelli painting provides high quality professional painting services. Owner has 20 years of knowledge and experience. All work is done with neatness and the steps taken to create an outstanding finish product. Business page has about service, contact section detailing Ryan's business.</p>
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 module-title">
                 <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                 </div>
            </div>
        </section>

      <div class="scroll-up "><a href="#totop "><i class="fa fa-angle-double-up "></i></a></div>
      </div>

     {% endblock %}
