{% block content %}
  <!-- Project Modals -->
{% include "modals/modal_wanderlust.html" %}
{% include "modals/modal_johanna.html" %}
{% include "modals/modal_ryan.html" %}
{% include "modals/modal_timeline.html" %}
{% include "modals/modal_al.html" %}
{% include "modals/modal_dt.html" %}

{% include "modals/modal_upcode.html" %}
{% include "modals/modal_wt.html" %}
{% include "modals/modal_lemonade.html" %}
{% include "modals/modal_planets.html" %}
{% include "modals/modal_color.html" %}
{% include "modals/modal_drinks.html" %}

{% endblock %}