 {% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading">Software Engineering</h2>

      <!-- Nav tabs -->
      <ul class="nav nav-links list-inline curly_brackets" role="tablist" id="tabs-list">
        <li role="presentation" class="active"><a href="#engineer" aria-controls="engineer" role="tab" data-toggle="tab">The Engineer</a></li>
        <li role="presentation"><a href="#about-me" aria-controls="about-me" role="tab" data-toggle="tab">All About Me</a></li>
        <li role="presentation"><a href="#resume" aria-controls="resume" role="tab" data-toggle="tab">Resume</a></li>
        <li role="presentation"><a href="#featured" aria-controls="featured" role="tab" data-toggle="tab">Featured</a></li>
      </ul>
 </div>
  </div>
  <!-- Tab panes -->
   <div class="row">
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="engineer">
      <!-- Engineer Section -->
      <div class="container" id="engineer-container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2>Software Engineering</h2>
            <hr class="star-light">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-lg-offset-2">
            <div class="animated fadeInLeftBig" id="hover-me">
              <div class="image-holder">
                <a href="http://www.bentonstreetphotography.com">
                  <img src="/static/img/profile/aboutMe.jpg" width="432" height="427" class="img-responsive aboutMe" alt="bubble-image" />
                  <small>Photo by Joahanna</small>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-lg-offset-2">
            <h2>Art of the Software Engineer</h2>
            <p class="words animated fadeInRightBig">
              I'm a Full Stack Software Engineer from San Francisco with an interest in User Interface Design. I enjoy turning complex problems into simple, intuitive, minimalist interface designs. Specializing in the development of high-quality user interfaces delivering optimal user experiences across web, application, and other platforms. Collaborative communication among end users, designers, and developers while effectively creating well-received products. Extensive technical skills spanning Languages, frameworks and libraries, and applications and tools. Big picture thinker excelling in solution development for intricate problems.
            </p>
            <h3 class="tab-titles">Technologies</h3>
            <ul class="tab-list">
              <li>
                <em></em><i class='icon-ok'></i> Javascript / jQuery
              </li>
              <li><em></em>
                <i class='icon-ok'></i>HTML5
              </li>
              <li><em></em>
                <i class='icon-ok'></i>CSS3
              </li>
              <li><em></em>
                <i class='icon-ok'></i>Responsive Web Designs
              </li>
              <li><em></em>
                <i class='icon-ok'></i>User Experience Design
              </li>
              <li><em></em>
                <i class='icon-ok'></i>Single Page Web App
              </li>
              <li><em></em>
                <i class='icon-ok'></i>User Interactions
              </li>
              <li><em></em>
                <i class='icon-ok'></i>Data Visualization
              </li>
              <li><em></em>
                <i class='icon-ok'></i>Wireframes / Layout
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <div id="mainBubble" style="height: 900px;" class="bubble-chart mobile-hide">
              <svg class="mainBubbleSVG" width="1089.8020000000001" height="763"></svg>
              <script src="/static/js/d3bubble.js"></script>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--// end engineer tab-->
    <div role="tabpanel" class="tab-pane" id="about-me">
      <div class="container" id="about-container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2>About</h2>
            <hr class="star-light">
          </div>
        </div>
        <!--// end row-->
        <div class="row">
          <div class="col-lg-4 col-lg-offset-2">
            <div class="content animated fadeInLeftBig">
              <h2>All About Me</h2>
              <p class="words">
                When I'm not coding or pushing pixels, you'll find me enjoying the challenge of learning a new language, traveling, listening to music, and enjoying city life. I am creative, I am innovator and problem slover. My experiences, education, and my passion for learning drive me to seek new adventures in all aspects of my life.
              </p>
              <a href="#" class="btn btn-lg btn-outline">
                <i class="fa fa-download"></i> Resume
              </a>
              <h3 class="tab-titles">My Skills</h3>
              <ul class="tab-list">
                <li><em></em><i class='icon-ok'>
            </i>Generating a great quantity of ideas
                </li>
                <li><em></em><i class='icon-ok'>
            </i>Turning around life's obstacles
                </li>
                <li><em></em>
                  <i class='icon-ok'>
            </i>Where most people see a difficulty, I see an opportunity
                </li>
                <li><em></em>
                  <i class='icon-ok'></i>Ping-Pong
                </li>
                <li><em></em>
                  <i class='icon-ok'></i>Cooking
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-lg-offset-2">
            <div class="animated fadeInRightBig" id="hover-me">
              <div class="image-holder">
                <a href="http://www.bentonstreetphotography.com">
                  <img src="/static/img/profile/aboutMe2.jpg" width="432" height="427" class="img-responsive aboutMe" alt="bubble-image" />
                  <small>Photo by Joahanna</small></a>
              </div>
            </div>
          </div>
        </div>
        <!--// end row-->
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <div class="chart-div">
              <ul class="chart">
                <li class="axis">
                  <div class="label">MVP</div>
                  <br>
                  <br>
                  <div class="label">All Star</div>
                  <br>
                  <br>
                  <div class="label">Slugger</div>
                  <br>
                  <br>
                  <div class="label">Triple A</div>
                  <br>
                  <br>
                  <div class="label">Rookie</div>
                </li>
                <li class="bar teal animated fadeInUp" style="height: 95%;" title="95">
                  <div class="percent">95<span>%</span></div>
                  <div class="skill"> generate a great quantity of ideas
                  </div>
                </li>
                <li class="bar salmon animated fadeInUp" style="height: 90%;" title="90">
                  <div class="percent">90<span>%</span></div>
                  <div class="skill">Turn around life's obstacles</div>
                </li>
                <li class="bar peach animated fadeInUp" style="height: 80%;" title="80">
                  <div class="percent">80<span>%</span></div>
                  <div class="skill">Where most people see a difficulty, I see an opportunity</div>
                </li>
                <li class="bar lime animated fadeInUp" style="height: 75%;" title="75">
                  <div class="percent">50<span>%</span></div>
                  <div class="skill">Ping-Pong</div>
                </li>
                <li class="bar grape animated fadeInUp" style="height: 40%;" title="40">
                  <div class="percent">20<span>%</span></div>
                  <div class="skill">Cooking</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--// end About Me Tab-->
    <div role="tabpanel" class="tab-pane" id="resume">resume content goes here
    </div>
    <div role="tabpanel" class="tab-pane" id="featured">featured content goes here
    </div>
  </div>
  </div>
  <!--// end tab content-->
</div>
<!--// end tab div-->
</div>
<!--// end container-->
{% endblock %}
