 {% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h2>Connect with me</h2>
    </div>
    <div class="col-lg-6">
      <ul class="list-inline banner-social-buttons">
        <li>
          <a href="https://dribbble.com/upcode" class="btn btn-default btn-lg"><i class="fa fa-dribbble fa-fw"></i> <span class="network-name">Dribble</span></a>
        </li>
        <li>
          <a href="https://github.com/upcode" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/umapetersen" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
