{% block content %}
<ul class="chart">
  <li class="axis">
    <div class="label">MVP</div>
    <br>
    <br>
    <div class="label">All Star</div>
    <br>
    <br>
    <div class="label">Slugger</div>
    <br>
    <br>
    <div class="label">Triple A</div>
    <br>
    <br>
    <div class="label">Rookie</div>
    <br>
    <br>
    <div class="label">Practice</div>
  </li>
  <li class="bar teal animated fadeInUp" style="height: 95%;" title="95">
    <div class="percent">95<span>%</span></div>
    <div class="skill"> generate a great quantity of ideas
    </div>
  </li>
  <li class="bar salmon animated fadeInUp" style="height: 90%;" title="90">
    <div class="percent">90<span>%</span></div>
    <div class="skill">Creative Curious Compassion Conceptualizes</div>
  </li>
  <li class="bar peach animated fadeInUp" style="height: 80%;" title="80">
    <div class="percent">80<span>%</span></div>
    <div class="skill">Where most people see a difficulty, I see an opportunity</div>
  </li>
  <li class="bar lime animated fadeInUp" style="height: 75%;" title="75">
    <div class="percent">70<span>%</span></div>
    <div class="skill">Wheel Throwing &amp; Wood Working</div>
  </li>
  <li class="bar grape animated fadeInUp" style="height: 40%;" title="40">
    <div class="percent">50<span>%</span></div>
    <div class="skill">Calligraphy</div>
  </li>
</ul>
{% endblock %}
