{% block content %}
<!-- Header -->
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto">
        <h1 class="mx-auto my-0">I'am Uma Petersen, an <br />Interaction designer<br /> based in San <br />Francisco</h1>

        <h2 class="text-black-50">My process focuses on <span class="text-primary"> agile </span>methodology. Discover, <br /> Design, Develop, Deliver. <span class="text-primary">Iterate</span><h2>
        <a href="#projects" class="btn btn-primary js-scroll-trigger">UX Projects</a>
            <a href="#about" class="btn btn-secondary js-scroll-trigger">UX Engineer</a>
      </div>
    </div>
  </header>

{% endblock %}
