{% block content %}
<!-- Workflow Section -->
  <section id="workflow" class="workflow text-center">
     <div class="container text-center text-white">
      <div class="row">
        <div class="col-lg-10 mx-auto">
              <h2 class="text-center section-title">Designing With Intention</h2>
                <p class="lead mb-5">
                I am passionate about the ability of technolog to influence people. I work in <strong>agile</strong> methodology, <strong>sprints</strong>, and <strong> user feedback </strong>. My workflow is constantly evolving and adjusted to design <strong> requirements </strong> and <strong> constraints.</strong>I ensure every design decision is made with <strong>intention</strong> by <strong> iterating </strong> and </strong>implementing version control.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <div class="worflow-chart">
                {% include "workflow_icon.html" %}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <span></span>
              <p class="lead mb-5">
                From concepts to wireframes to pixel-perfect interfaces, I utilize user centered design principles. I focus on concept, content, and functionality. Depending on the project, I'll make diagrams, sketches, clickable mockups using pen/paper, Sketch, Invision, or HTML/CSS and JavaScript to create beautiful designs. I provide continous dedication to my designs until desired results and project goals are met</p>
              <a href="#" class="btn btn-xl btn-dark">Let's work together</a>
          </div>
        </div>
      </div>
</section>

{% endblock %}





