{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>Design & Code</h2>
      <hr class="star-light">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-lg-offset-2">
      <div class="animated fadeInRightBig" id="hover-me">
        <div class="image-holder">
          <a href="http://www.bentonstreetphotography.com">
            <img src="/static/img/profile/aboutMe2.jpg" width="432" height="427" class="img-responsive aboutMe" alt="bubble-image" />
            <small>Photo by Joahanna</small></a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-lg-offset-2">
      <h2>The Designer</h2>
      <p class="words animated fadeInLeftBig">
        I think of software engineering as an art; I like to combine creativity and logic into my software. I feel this gives me a unique perspective. I like to find inspiration in everyday things when it comes to programing and designing web applications. My inspiration comes from reading a book, walking the streets of San Francisco, or incorporating technology to solve my own problems. I often feel people forget how creative software development can be. Each artist has her own medium. Some use canvas, some paper, some paint on walls. My medium is my computer, where my creativity, inspiration, and imagination come to life. My paintbrush is my code.
      </p>
    </div>
  </div>
  <!--// end row-->
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center">
      <div class="pieChart animated fadeInLeftBig" id="pieChart"></div>
      <script src="static/js/d3-donut.js"></script>
    </div>
  </div>
  <!--// end row-->
  <div class="row">
    <div class="col-lg-12 text-center design-process">
      <h2>Define &sdot; Design &sdot; Deliver</h2>
    </div>
  </div>
  <!--// end row-->
  <div class="row design-process">
    <div class="col-md-3">
      <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-black"></i>
                        <i class="fa fa-pencil-square-o  fa-stack-1x fa-inverse"></i>
                    </span>
      <h4 class="service-heading">Requirements</h4>
      <p class="text-muted">Learn about your customers/ users, know the purpose of the application Application.Define and construct point of view based on customers needs and insights</p>
    </div>
    <div class="col-md-3">
      <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-white"></i>
                        <i class="fa fa-list-alt fa-stack-1x fa-inverse"></i>

                    </span>
      <h4 class="service-heading">Sketches</h4>
      <p class="text-muted">Brainstrom many possible solutions and provide quick design and layout.</p>
    </div>
    <div class="col-md-3">
      <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
      <h4 class="service-heading">Wireframes &amp; Mockups</h4>
      <p class="text-muted">Build a deailed represenation of design with out stying. Move to Mockups, mockups should corporate brand colors, styles and elelments</p>
    </div>
    <div class="col-md-3">
      <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </span>
      <h4 class="service-heading">Implemntation</h4>
      <p class="text-muted">Program design and Adding functionality. Put ptortype in front of users for feedback. </p>
    </div>
  </div>
</div>
{% endblock %}
