{% block content %}
<!-- About Section -->
<section class="content-section bg-light" id="about">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h2 class="text-center">Creative Logic </h2>

                <h4 class="text-left">About</h4>
                <p class="lead mb-5 text-left">
                    I am <strong>creative</strong>, <strong>big-picture thinker</strong> with a passion for <strong>design</strong>, <strong>motion</strong>, and <strong>code</strong>. My goal is to ensure that every design decision has <strong>purpose</strong>. My primary <strong>strengths</strong> are in web and mobile apps and internal tools.</p>
                <ul class="lead mb-5 text-left">
                    <li>
                        <strong>Visual:</strong>
                        Grid, typography, color, layouts, illustrations, motion, character building.
                    </li>
                    <li>
                        <strong>Interface:</strong>
                        Sketching, wireframes, design patterns, prototypes.
                    </li>
                    <li>
                        <strong>Front-end Development:</strong>
                        Building style guides, components, templates; prototyping to optimize performance; and implementing production code.
                    </li>
                    <li>
                        <strong>Testing:</strong>
                        Usability tests; QA and bug testing of unit and acceptance testing.
                    </li>
                </ul>
                <a href="#" class="btn btn-xl btn-dark">Let's get in touch</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h4 class="text-left">Learn More</h4>
                <p class="lead mb-5 text-left">
                    As a UX designer, I specialize in developing high-quality user interfaces delivering optimal user experiences across web, application, and other platforms. I am a catalyst spurring collaborative communication among end users, designers, and developers while effectively creating well-received products. I have extensive technical skills spanning languages, frameworks, libraries, applications, and tools. I am a big-picture thinker excelling in developing solutions for intricate problems.</p>
                <p class="lead mb-5 text-left">My goal is to utilize technology to provide users with optimum experiences. As a designer with a product development background, I am passionate about the ability of technology to positively influence people.</p>
                <p class="lead mb-5 text-left">I have worked with multiple internal digital transformation tools for Wells Fargo, Fathom, and Groupon. Digital transformation projects included user experience strategy, user interface design, brand and application standards, consultation, and mobility strategy services for internal tools. I have focused primarily on improving client experiences through common products and user experience tools. I have worked on internal products, processes, and methods to help product teams better satisfy user needs while supporting business requirements and stakeholder objectives.</p>
                <a href="#" class="btn btn-xl btn-dark">Send me an email</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}