 {% block content %}
<div class="portfolio-modal modal fade" id="portfolioModal9" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h1>>Hair by Al</h1>
              <hr>
              <p class="item-intro text-muted">Hair Stylist webiste</p>
              <img class="img-responsive img-centered" src="static/img/al-device.png" alt="">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <h3>What is the purpose</h3>
              <hr>
              <p class="modal-text">
                The concept of Democracy Tuesday is to empower individuals to stay updated with current news. Finding creditable news sources is a significant issue today. We are targeting young professionals in hopes the newsletter provides a quick read to insightful news on current events and politics. The newsletter will engage users in a quick read and also allow them to take action in their own local communities.</p>
              <h3>Problem trying to solve</h3>
              <hr>
              <p class="modal-text">
                Client’s goal is to reach out to as many users as possible who are interested in learning and participating in current politics.</p>
              <p class="modal-text">
                The concept is to allow them to gain insight and exposure to current topics while to staying up- to-date and informed. Current newsletter is text email where look and feel do not convey client’s excitement about user’s engagement in politics.</p>
              <!--// Goals-->
              <h3>Goals</h3>
              <hr>
              <ul class="modal-text">
                <li>need a way to reach out to new and current users</li>
                <li>need a way to interest more users with an attractive interface</li>
                <li>desire a customized logo and banner</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <img class="img-responsive img-centered" src="static/img/al-device.png" alt="">
            </div>
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                <h3>Scenario</h3>
                <hr>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <img class="img-responsive img-centered" src="static/img/al-device.png" alt="">
              </div>
              <div class="col-lg-6">
                <h4> User Scenario</h4>
                <i>Reading the news as you go to work</i>
                <ul class="modal-text centner">
                  <li>user is on public transit</li>
                  <li>user checks emails</li>
                  <li>user clicks Democracy Tuesday</li>
                  <li>user has a quick read of content</li>
                  <li>user can choose to continue to read or click other content</li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                <h3>Sketching Interactions</h3>
                <hr>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <p class="modal-text">
                  Based on the concept and user scenarios, I then sketched the interface interactions. The sketch was of three different email designs. The sketches take into account each platform for which I am designing the newsletter : IOS, Andriod, and Web.</p>
              </div>
              <div class="col-lg-6">
                <img class="img-responsive img-centered" src="static/img/al-device.png" alt="">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                <h3>Research &amp; Vision Board</h3>
                <hr>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <img class="img-responsive img-centered" src="static/img/al-device.png" alt="">
              </div>
              <div class="col-lg-6">
                <p class="modal-text">
                  After research on newsletter as well as gathering information about client’s needs as well as the users I created a vision board to to illustrate theme, look and feel of the newsletter.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                <h3>Wireframes</h3>
                <hr>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                I created wireframes that detail where the elements and content should be placed on each Mobile and Desktop Wireframe</p>
              </div>
              <div class="col-lg-6">
                <img class="img-responsive img-centered" src="static/img/al-device.png" alt="">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                <h3>Mockups</h3>
                <hr>
                <h4>First Iteration</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <p class="modal-text">
                  <p class="modal-text">
                    I incorporated the client’s needs into two variations of the newsletter.</p>
                  In the first mockup I used the clients colors. In the second mock-up I chose colors I thought would help to instantly inform users of the newsletter content.</p>
              </div>
              <div class="col-lg-6">
                <img class="img-responsive img-centered" src="static/img/al-device.png" alt="">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                <h3>Mockups</h3>
                <hr>
                <h4>Final iteration</h4>
                <p class="modal-text">
                  After presenting two clients decided they wanted to add back the header image for the final draft.</p>
                <img class="img-responsive img-centered" src="static/img/al-device.png" alt="">
              </div>
            </div>
            <br>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
