 {% block content %}
<div class="portfolio-modal modal fade" id="portfolioModal9" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h1>Hair by Al</h1>
              <hr>
              <p class="item-intro text-muted">Hair Stylist webiste</p>
              <img class="img-responsive img-centered" src="static/img/al-device.png" alt="">
            </div>
          </div>
                  <div class="row">
          <div class="col-lg-6">
            <h3>What is the purpose</h3>
            <hr>
            <p class="modal-text"></p>
            <h3>Problem trying to solve</h3>
            <hr>
            <p class="modal-text"></p>
            <h3>Goals</h3>
            <hr>
          </div>
          <div class="col-lg-6">
            <img class="img-responsive img-centered" src="static/img/wt-blog.png" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <h3>Scenario</h3>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <img class="img-responsive img-centered" src="static/img/wt-blog.png" alt="">
          </div>
          <div class="col-lg-6">
            <h4> User Scenario</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <h3>Sketching Interactions</h3>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <p class="modal-text"></p>
          </div>
          <div class="col-lg-6">
            <img class="img-responsive img-centered" src="static/img/wt-blog.png" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <h3>Research &amp; Vision Board</h3>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <img class="img-responsive img-centered" src="static/img/wt-blog.png" alt="">
          </div>
          <div class="col-lg-6">
            <p class="modal-text"></p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <h3>Wireframes</h3>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">

          </div>
          <div class="col-lg-6">
            <img class="img-responsive img-centered" src="static/img/wt-blog.png" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <h3>Mockups</h3>
            <hr>
            <h4>First Iteration</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <p class="modal-text"></p>
          </div>
          <div class="col-lg-6">
            <img class="img-responsive img-centered" src="static/img/wt-blog.png" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <h3>Mockups</h3>
            <hr>
            <h4>Final iteration</h4>
            <p class="modal-text"></p>
            <img class="img-responsive img-centered" src="static/img/wt-blog.png" alt="">
          </div>
        </div>
        <br>
        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
      </div>
    </div>
  </div>
</div>
  {% endblock %}
