 {% block content %}

<div class="portfolio-modal modal fade" id="portfolioModal9" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <!-- Project Details Go Here -->
             <h2>Hair by Al</h2>
              <p class="item-intro text-muted">Hair Stylist webiste</p>
            <img class="img-responsive img-centered" src="static/img/al-mackbook.png" alt="">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
              <h4>What is the purpose:</h4>
         <p>The concept of Hair by Al is to gain web presence for new clients. Also easier way for users to find information about services as well as booking appointments</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2">
            <img class="img-responsive img-centered" src="static/img/al-ipad.png" alt="">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
            <img class="img-responsive img-centered" src="static/img/al-laptop.png" alt="">
            </div>
            <div class="col-lg-4 col-lg-offset-2">
              <h4>Problem trying to solve:</h4>
              <p>Client’s goal is to gain new clients with web presence where users can learn about stylist and his services he offers.</p>
              <h4>Goals</h4>
              <ul>
                <li>Web Presence</li>
                <li>Way to book appointments</li>
                <li>Way to contact</li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
              <h4>Scenario:</h4>
              <i>Reading the news as you go to work</i>
              <ul>
                <li>user is on public transit</li>
                <li>user checks emails</li>
                <li>user clicks Democracy Tuesday</li>
                <li>user has a quick read of content</li>
                <li>user can choose to continue to read or click other content</li>
              </ul>
            </div>
            <div class="col-lg-4 col-lg-offset-2">
            <img class="img-responsive img-centered" src="static/img/al-laptop.png" alt="">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
            <img class="img-responsive img-centered" src="static/img/al-laptop.png" alt="">
            </div>
            <div class="col-lg-4 col-lg-offset-2">
              <h4>Sketching Interactions:</h4>
              <p>Based on the concept and user scenarios, I then sketched the interface interactions. The sketch was of three different email designs. The sketches take into account each platform for which I am designing the newsletter : IOS, Andriod, and Web.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
              <h4>Wireframes:</h4>
              <p>Based on the concept and user scenarios, I then sketched the interface interactions. The sketch was of three different email designs. The sketches take into account each platform for which I am designing the newsletter : IOS, Andriod, and Web.</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2">
              WIRE FRAME IMAGE
            <img class="img-responsive img-centered" src="static/img/al-laptop.png" alt="">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
            <img class="img-responsive img-centered" src="static/img/al-laptop.png" alt="">
            </div>
            <div class="col-lg-4 col-lg-offset-2">
              <h4>Research: Theme and Vision Board</h4>
           <p>After learning about client’s vision and needs for his website. I did additional research to learn more about stylist and salons. This allowed me to make sure the right content was added for this type of industry. After the research I created vision board for Client’s website.</p>
            </div>
          </div>


          <div class="row">
            <div class="col-lg-4col-lg-offset-2">
              <h4>Mockups: Final iteration</h4>
              <p>After presenting two clients decided they wanted to add back the header image for the final draft.</p>
            <img class="img-responsive img-centered" src="static/img/al-device.png" alt="">
            </div>
          </div>
          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}