  {% block content %}

    <div class="container" id="maincontent" tabindex="-1">
      <div class="row">
        <div class="col-lg-12">
          <img class="img-responsive" src="static/img/header.jpg" height="256" width="256" alt="" id="logo-img">
          <div class="intro-text">
            <h1 class="name">Uma Petersen</h1>
            <hr class="intro-divider">
           <!--  <span class="skills">Software Engineer - Marketing Specialist - User Experience Designer</span> -->
            <h4 class="curly_brackets"><span>Imagination . Creativity . Design + Logic =  <strong href="#about" class="flash">U.P.&#x21e1;</strong>[code]
                        </span></h4>
                        <br>
            <ul class="list-inline intro-social-buttons">
           <!--    <li>
                <a href="https://twitter.com/Octothorpe12" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
              </li> -->
       <!--        <li>
                <a href="https://github.com/upcode" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/umapetersen" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
              </li> -->
        <li>
          <a href="/resume" class="btn-default btn-lg"><i class="fa fa-download"></i> <span class="network-name">Resume</span></a>
        </li>
        <li>
          <a href="https://github.com/upcode" class="btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/umapetersen" class="btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
        </li>
      </ul>
            </ul>
          </div>
        </div>
      </div>
    </div>

  {% endblock %}