{% block content %}
<!-- Contact Section -->
<!-- Signup Section -->
<section id="signup" class="signup-section">
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>

            </ol>
            <span>
            </span>
            <div class="carousel-inner">
                <div class="carousel-item active text-center">
                    <h3 class="text-white">Design<sapn></span> &sdot; <span></span>Code<span></span> &sdot; <span></span>Build</h3>
                    <h4 class="mb-4 text-white"><em>“Where most people see problems I see opportunities.”</em></h4>
                    <hr class="my-4">
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="#" role="button">Portoflio</a>
                    </p>
                </div>
                <div class="carousel-item text-center">
                    <h2 class="mb-4"><i class="fas fa-quote-left text-white"></i> </h2>
                    <h4 class="text-white">Uma is great to work with! She is smart, patient, and has a real eye for design. I appreciate that she will always take the time to hear you out and help you. She also writes clear documentation that can be referenced again and again.</h4>
                    <div class="text-white">Emily Morgado</div>
                    <div class="text-white">Busiess Wire, Software Engineer</div>
                </div>
                <div class="carousel-item text-center">
                    <h2 class="mb-4"><i class="fas fa-quote-center"></i> </h2>
                    <h4 class="text-white text-center">Uma is an amazing person to work with. At Groupon she consistently brought fresh perspectives and new ideas. Uma’s ability to understand both back and front end development frameworks make her uniquely qualified as an experience designer. She is able to connect with all facets of the business— be it designers, stakeholders, developers or users. She’s an asset to any team.</h4>
                    <div class="text-white">Roshan Pourabdollah</div>
                    <div class="text-white">peerlyst.com, Technical Product Manager</div>
                </div>
                <div class="carousel-item text-center">
                    <h2 class="mb-4 txt-white"><i class="fas fa-quote-center text-white"></i> </h2>
                    <h4 class="text-white">Software engineers often enjoy their jobs because they solve complex problems using a blend of logical reasoning and creativity. Engineers are taught a number of tools in school, but learning is ongoing on the job as technologies change and evolve</h4>
                    <div class="text-white">Alexander Dobkins</div>
                    <div class="text-white">Bloomberg, Software Engineer</div>

                </div>
                <span>
                </span>


              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
              </a>
        </div>
    </div>
</section>
<section class="contact-section bg-black">
    <div class="container">
        <h3 class="text-white mb-5">Let's Connect!</h3>
        <div class="row">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Portfolio</h4>
                        <hr class="my-4">
                        <div class="small text-black-50">
                            <a href="https://umapetersen.design/">See Projects</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Email</h4>
                        <hr class="my-4">
                        <div class="small text-black-50">
                            <a href="#">uma.petersen@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Resume</h4>
                        <hr class="my-4">
                        <div class="small text-black-50">
                            <a href="#" class="mx-2">Download</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social d-flex justify-content-center">
            <a href="#" class="mx-2">
                <i class="fab fa-medium"></i>
            </a>
            <a href="https://www.linkedin.com/umapetersen" class="mx-2">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/upcode" class="mx-2">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://dribbble.com/upcode" class="mx-2">
                <i class="fab fa-behance"></i>
            </a>
        </div>
    </div>
</section>
{% endblock %}