
<!DOCTYPE html>
<html>
  <head>    
  
    <link rel="stylesheet" type="text/css" href="/static/css/d3-bubble.css">
    <style type="text/css">
    
    #mainBubble {
      background: url(/static/img/backgrounds/diamond.png);
      border: solid 1px #ddd;
      box-shadow: 0 0 4px rgba(0,0,0,0);
      font: 10px sans-serif;
      height: 300px;
      position: relative;
      width: 95%;
    }
            
    #mainBubble svg {
      left: 0;
      position: absolute;
      top: 0;
    }
                        
    #mainBubble circle.topBubble {
      fill: #aaa;
      stroke: #666;
      stroke-width: 1.5px;
     }
    </style>

  <script type="text/javascript" src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="/static/js/d3-bubble.js"></script>


  </head>

  <body>
<html>


<div id="page">
     <div id="mainBubble">
    </div>
</div>



     





</body>
</html>