<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="one page, single page, onepage, responsive, parallax, creative, business, html5, css3, css3 animation">
    <meta name="description" content="personal-web-page">
    <meta name="author" content="Uma Petersen">

    <title>Uma Petersen Personal Website</title>
    <!--============= D3 JAVASCRIPT =================-->
    <!-- D3 Bubble Chart -->
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/d3-bubble.js"></script>
    <script type="text/javascript" src="/static/js/d3pie.js"></script>
    <script type="text/javascript" src="/static/js/d3pie.min.js"></script>
    <!-- D3 Donut Chart -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.4/d3.min.js"></script>
    <!--============= MY JAVASCRIPT FILES  ============-->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/myjs.js"></script>
    <script type="text/javascript" src="/static/js/laoding.js"></script>

    <!-- page loader -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>

<script language="javascript">
    $(function() {
        $(".designer-click").click(function() {
            animate(".animated", 'fadeInLeftBig');
            return false;
        });
    });
     
    // function animate(design-code, animated) {
    //     $(design-code).addClass(animated);
    //     var wait = window.setTimeout( function(){
    //         $('#design-code').removeClass(".animated")}, 1300
    //     );
    // }
</script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    <!--============= BOOTSTRAP =================-->
    <!-- Bootstrap Core JS -->
    <!-- Bootstrap Core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" type='text/css'>


    <!-- Custom Fonts -->
    <link href="/static/bootstrap/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic' rel='stylesheet' type='text/css'/>

    <!-- your favicon //16x16px icon file -->
    <link href="/static/img/logo.ico" rel="shortcut icon"/>
    <!--============= My CSS FILES =================-->

<!--============= My CSS FILES =================-->
    <link href="/static/css/ihover.css" rel="stylesheet"/>
    <link href="/static/css/d3-bubble.css" rel="stylesheet"/>
    <link href="/static/css/barchart.css" rel="stylesheet"/>
    <link href="/static/css/modal-windows.css" rel="stylesheet"/>
    <!-- Custom CSS -->
    <link href="/static/css/page.css" rel="stylesheet">
    <link href="/static/css/mystyles.css" rel="stylesheet">
    <link href="/static/css/animate.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<!-- Nav Bar -->
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<div class="se-pre-con"></div>
<p><a href="http://smallenvelop.com/display-loading-icon-page-loads-completely/"></a></p>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container nav-container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#page-top">UP&#x21e1;[CODE]</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll designer-click" href="#designer">Design &amp; Code</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a href="http://upcodeblog.herokuapp.com/">Blog</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->

    <section id="intro" class="intro-section">
        <div class="container" id="header-title">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-lg-12">
                    <div class="intro-message text-center">
                        <!--<span class="name"> -->
                            <h1 class="header-title" id="page-title"><span id="u">U</span>ma<span id="p">P</span>etersen</h1>
                       <!-- </span> -->
                       <h3 class="curly_brackets">
                     
                        <span>Imagination . Creativity . Design + Logic =  <div href="#about" class="flash">U.P.&#x21e1;[code]</div></h3></span>
                       
                        <hr class="intro-divider">
                        <!-- header network buttons -->
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="https://twitter.com/Octothorpe12" class="btn btn-default btn-lg">
                                    <i class="fa fa-twitter fa-fw"></i> 
                                    <span class="network-name">Twitter</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/upcode" class="btn btn-default btn-lg">
                                    <i class="fa fa-github fa-fw"></i> 
                                    <span class="network-name">Github</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/umapetersen" class="btn btn-default btn-lg">
                                    <i class="fa fa-linkedin fa-fw"></i> 
                                    <span class="network-name">Linkedin</span>
                                </a>
                            </li>
                        </ul>
                    </div><!-- // end intro-message --> 
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-lg-12 text-center">

                    <h1 class="engineer-titles text-center section-titles">Software Engineering</h1>
                        <ul class="tabs curly_brackets list-inline " data-tabs="tabs" id="about-tabs">
                            <li class="active">
                                <a href="#engineer" data-toggle="tab">The Engineer</a>
                            </li>
                            <li>
                                <a href="#about-me" data-toggle="tab">All About Me</a>
                            </li>
                            <li>
                                <a href="#featured" data-toggle="tab">Featured</a>
                            </li>
                        </ul>
                    <hr class="section-heading-spacer text-center">
                </div>
            </div><!-- // end row-->
            <!-- ===========BEGAIN ENGINEER TAB ==================== -->
            <div id="my-tab-content" class="tab-content">
                <div class="tab-pane active" id="engineer">
                    <div class="row">
                        <div class="col-xs-6 col-md-4 col-lg-6">
                            <div class="styled">
                            <img src="/static/img/engineer.jpg" width="432" height="427" class="img-responsive" id="engineer-image" alt="bubble-image" />
                            </div>
                                <div class="jo">
                                    <a href="http://www.bentonstreetphotography.com">
                                        <small>Photo by Joahanna</small></a>
                                </div>
                        </div><!--// end col-->
                        <div class="col-xs-6 col-md-4 col-lg-6">
                            <h3 class="tab-titles">Art of the Software Engineer</h3>
                                <p class="words">
                                I'm a Full Stack Software Engineer from San Fransico with an interest in User Interface Design. I enjoy turning complex problems into simple, intuitive, minimalist interface designs.
                                I attended San Jose State with a degree in Business Marketing, and a Software Engineering certificate from <a href="https://www.hackbrightacademy.com/">Hackbright Acadamy</a>. I worked at <a href="https://www.groupon.com/">Groupon</a> as a product operational specialist, launching multiple core products and taking those products from pilot stage to full mainstream launch. I developed standard operating procedures and testing protocols to ensure high product quality for end users. In 2013, I attended the <a href="http://ghc.anitaborg.org/">Grace Hopper</a> conference, where my interest in programming took root. Now I am a full time software engineer with a passion for programming and design.
                                </p>
                                <h3 class="tab-titles">Technologies</h3>
                                    <ul class="tab-list">
                                        <li>
                                          <em></em><i class='icon-ok'></i> Javascript / jQuery
                                        </li>
                                        <li><em></em>
                                            <i class='icon-ok'></i>HTML5
                                        </li>
                                        <li><em></em>
                                            <i class='icon-ok'></i>CSS3
                                        </li>
                                        <li><em></em>
                                            <i class='icon-ok'></i>Responsive Web Designs
                                        </li>
                                        <li><em></em>
                                            <i class='icon-ok'></i>User Experience Design
                                        </li>
                                        <li><em></em>
                                            <i class='icon-ok'></i>Single Page Web App
                                        </li>
                                        <li><em></em>
                                            <i class='icon-ok'></i>User Interactions
                                        </li>
                                        <li><em></em>
                                            <i class='icon-ok'></i>Data Visualization
                                        </li>
                                        <li><em></em>
                                            <i class='icon-ok'></i>Wireframes / Layout
                                        </li>
                                    </ul>
                        </div><!-- col-md-6 col-lg-offset-3-->
                        </div><!-- end row-->
                        <div class="row">
                            <div class="col-xs-12 col-md-4 col-lg-12">
                                <div id="mainBubble" style="height: 763px;" class="bubble-chart ">
                                    <svg class="mainBubbleSVG" width="1089.8020000000001" height="763">
                                        <text id="bubbleItemNote" x="10" y="529.9010000000001" font-size="12" dominant-baseline="middle" alignment-baseline="middle" style="fill: rgb(136, 136, 136);">
                                        </text>
                                    </svg>
                                </div>   
                                    <!-- D3 JAVASCRIPT -->
                                    <script src="/static/js/d3bubble.js"/></script>
                                    <!-- D3 JAVASCRIPT -->                          
                            </div><!-- // end col-lg-12-->
                        </div><!-- end row-->
                </div><!-- // END Engineer TAB-->

            <!-- ===========BEGAIN ABOUT ME TAB ==================== -->
  
            <div class="tab-pane" id="about-me">
                    <div class="row">
                        <div class="col-xs-12 col-md-4 col-lg-6 tab-titles">
                              <img src="/static/img/designer.jpg" width="432" height="427" class="img-responsive styled"  alt="designer-image" />
                            <!-- <img src="/static/img/about.jpg"  width="432" height="427"  class="img-responsive styled"> -->
                                <div class="jo">
                                    <a href="http://www.bentonstreetphotography.com">
                                    <small class="jo">Photo by Joahanna</small></a>
                                </div>
                        </div><!--// end col-->

                        <div class="col-xs-12 col-md-4 col-lg-6" id="all-about">
                            <h3 class="tab-titles">All About Me</h3>
                            <p class="words">
                            When I'm not coding or pushing pixels, you'll find me enjoying the challenge of learning a new language, traveling, listening to music, and enjoying city life. I am creative, I am innovator and problem slover. My experiences, education, and my passion for learning drive me to seek new adventures in all aspects of my life.
                            </p>
                            <h3 class="tab-titles">My Skills</h3>
                            <ul class="tab-list">
                                <li><em></em><i class='icon-ok'>
                                    </i>Generating a great quantity of ideas
                                </li>
                                <li><em></em><i class='icon-ok'>
                                    </i>Turning around life's obstacles
                                </li>
                                <li><em></em>
                                    <i class='icon-ok'>
                                    </i>Where most people see a difficulty, I see an opportunity
                                </li>
                                <li><em></em>
                                    <i class='icon-ok'></i>Ping-Pong
                                </li>
                                <li><em></em>
                                    <i class='icon-ok'></i>Cooking
                                </li>
                            </ul>
                        </div><!-- col-md-6 col-lg-offset-3-->
                    </div><!-- // end row-->
                    <div class="row">
                        <div class="col-xs-12 col-md-8 col-lg-12">
                            <ul class="chart">
                                <li class="axis">
                                    <div class="label">MVP</div>
                                <br><br>
                                    <div class="label">All Star</div>
                                <br><br>
                                    <div class="label">Slugger</div>
                                <br><br>
                                    <div class="label">Triple A</div>
                               <br><br>
                                <div class="label">Rookie</div>
                              
                            </li>
                                <li class="bar teal animated fadeInUp" style="height: 95%;" title="95">
                                <div class="percent">95<span>%</span></div>
                                <div class="skill"> generate a great quantity of ideas
                                </div>
                            </li>
                                <li class="bar salmon animated fadeInUp" style="height: 90%;" title="90">
                                <div class="percent">90<span>%</span></div>
                                <div class="skill">Turn around life's obstacles</div>
                            </li>
                            <li class="bar peach animated fadeInUp" style="height: 80%;" title="80">
                                <div class="percent">80<span>%</span></div>
                                <div class="skill">Where most people see a difficulty, I see an opportunity</div>
                            </li>
                               
                            <li class="bar lime animated fadeInUp" style="height: 75%;" title="75">
                                <div class="percent">50<span>%</span></div>
                                <div class="skill">Ping-Pong</div>
                            </li>
                            <li class="bar grape animated fadeInUp" style="height: 40%;" title="40">
                                <div class="percent">20<span>%</span></div>
                                <div class="skill">Cooking</div>
                            </li>
                            </ul> 
                        </div><!-- // end col-lg-12-->
                    </div><!--// end row-->  
            </div><!-- // END ABOUT ME TAB-->

            <!-- ===========BEAGIN FEATURED TAB ==================== -->
            <div class="tab-pane" id="featured">
                <div class="row">
                    <div class="col-xs-6 col-md-4 col-lg-6">
                        <img src="/static/img/class-photo.jpg" class="img-responsive styled" alt="hackbright">
                            <h3 class="tab-titles">Articles</h3>
                                <ul class="list-inline">
                                    <li>
                                        <a href="http://www.today.com/video/meeting-the-women-of-silicon-valley-software-engineer-tracy-chou-582041667634" >The Today Show</a>
                                    </li>
                                    <li>
                                        <a href="https://hackbrightacademy.com/blog/">Hackbright Blog</a>
                                    </li>
                                    <li>
                                        <a href="https://blog.bloc.io/new-relic-scholarship-recipient/">Blog post</a>
                                    </li>
                                </ul>          
                    </div><!--// end col-->
                    <div class="col-xs-6 col-md-4 col-lg-6">
                        <h3 id="video-title" class="tab-titles">Women in Engineering</h3>
                        <div class="video" style="position:relative; padding-bottom:63%; padding-bottom:-webkit-calc(56.25% + 50px); padding-bottom:calc(56.25% + 50px); height: 0;">
                            <iframe style="position:absolute; width: 100%; height: 100%;" src="http://www.today.com/offsite/meeting-the-women-of-silicon-valley-software-engineer-tracy-chou-582041667634" frameborder="0">
                             </iframe>
                        </div><!-- // end video-->   
                    </div><!-- end col-->
                </div><!-- // row-->
            </div><!-- // END FEATURED TAB-->
       
        </div><!-- // end tab container-->
    </section>

    <!-- Designer Section -->
    <section id="designer" class="designer-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-lg-12">
               
                    <h1 class="designer-title text-center section-titles">Design &amp; Code</h1>
                    
                    <hr class="section-heading-spacer text-center">

                </div>
            </div><!-- // end row-->
                    <div class="row">
                        <div class="col-xs-6 col-md-4 col-lg-6 animated fadeInLeftBig">
                            <h3 class="tab-titles" id="design-code">The Designer</h3>
                                <p class="words animated fadeInLeftBig">
                                    I think of software engineering as an art; I like to combine creativity and logic into my software.  I feel this gives me a unique perspective. I like to find inspiration in everyday things when it comes to programing and designing web applications. My inspiration comes from reading a book, walking the streets of San Francisco, or  incorporating technology to solve my own problems.  I often feel people forget how creative software development can be.  Each artist has her own medium.  Some use canvas, some paper, some paint on walls.  My medium is my computer, where my creativity, inspiration, and imagination come to life.  My paintbrush is my code.
                                </p>
                                
                              
                        </div>
                        <div class="col-xs-12 col-md-4 col-lg-6 animated fadeInLeftBig">
                            
                        <!-- <img src="../static/img/designer.jpg" width="432" height="427" class="img-responsive styled"  alt="designer-image" /> -->
                              <h3 class="tab-titles animated fadeInLeftBig" id="design-process">My Design Process</h3>
                             <div class="pieChart animated fadeInLeftBig" id="pieChart"></div>

                        </div>
                    </div><!-- end row-->
            </div><!-- // end row-->
        </div><!-- // end container-->
         <!--  JS D3 Donut Design Chart-->          
        <script src="static/js/d3-donut.js"></script> 
        <!--  JS D3 Donut Design Chart--> 
    </section>

<!-- Portfolio Section -->

    <section id="portfolio" class="portfolio-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-4 col-lg-12">
                    <h1 class="portfilio-title text-center section-titles">Portfolio</h1>
                    <div class="portfilio-list">
                        <ul class="tabs curly_brackets about-tabs list-inline text-center" data-tabs="tabs">
                            <li>
                            <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">Wanderlust</a>
                            </li>
                            <li>
                            <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">UP[CODE]...Blog</a>
                            </li>
                            <li>
                            <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">About Me</a>
                            </li>
                            <li>
                            <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">Decisions</a>
                            </li>
                        </ul>
                        <hr class="section-heading-spacer text-center">
                    </div><!--// end portfolio title-->
                      
                </div><!--col-lg-12-->
            </div><!-- // end row-->

            <div class="row">
                <div class="col-xs-6 col-sm-4 portfolio-item">
                    <div class="ih-item square effect6 from_top_and_bottom">
                        <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                            <div class="img-p">
                                <img src="/static/img/projects/wanderlust.png" class="img-responsive" alt="wanderlust-app">
                            </div>
                            <div class="info">
                                <h3>Wanderlust</h3>
                                    <p>Track your travels</p>
                            </div>
                        </a>
                    </div>
                </div><!-- end project 1-->
              
                <div class="col-xs-6 col-sm-4 portfolio-item">
                    <div class="ih-item square effect6 from_top_and_bottom">
                        <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                            <div class="img-p">
                                <img src="/static/img/projects/blog.png" class="img-responsive" alt="programming-blog">
                            </div>
                            <div class="info project-title" >
                                <h3>[UP]CODE...Blog</h3>
                                    <p>Programming Blog</p>
                            </div>
                        </a>
                    </div>
                </div><!-- // end project 2-->
              
                <div class="col-xs-6 col-sm-4 portfolio-item">
                    <div class="ih-item square effect6 from_top_and_bottom">
                        <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                            <div class="img-p">
                                <img src="/static/img/projects/about-me.png" class="img-responsive" alt="about-me-page">
                            </div>
                            <div class="info">
                                <h3>About Me</h3>
                                    <p>My Personal Website</p>
                            </div>
                        </a>
                    </div>
                </div><!-- // end project 3-->
            </div><!-- // end row-->
            <br>
                <div class="row">
                <div class="col-xs-6 col-sm-4 portfolio-item">
                    <div class="ih-item square effect6 from_top_and_bottom">
                        <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                            <div class="img-p">
                                <img src="/static/img/projects/magic.png" class="img-responsive" alt="magic-eight-ball">
                            </div>
                            <div class="info" id="project-title">
                                <h3>Decisions</h3>
                                    <p>Magic 8 Ball</p>
                            </div>
                        </a>
                    </div>
                </div><!-- // end project 4-->

                <div class="col-xs-6 col-sm-4 portfolio-item">
                    <div class="ih-item square effect6 from_top_and_bottom">
                        <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                            <div class="img-p">
                                <img src="/static/img/projects/sf.png" class="img-responsive" alt="sf-love-story">
                            </div>
                            <div class="info">
                                <h3>My San Francisco Love Story</h3>
                                    <p>San Franisco Blog</p>
                            </div>
                        </a>
                    </div>
                </div><!-- end project 5-->

                <div class="col-xs-6 col-sm-4 portfolio-item">
                    <div class="ih-item square effect6 from_top_and_bottom">
                        <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                            <div class="img-p">
                                <img src="/static/img/projects/ryan.png" class="img-responsive" alt="Ryan-Fanili-Paiting-Inc">
                            </div>
                            <div class="info">
                                <h3>Ryan Fanili Paiting Inc</h3>
                                    <p>Business Website</p>
                            </div>
                        </a>
                    </div>
                </div><!-- // end project 6 -->
            </div><!-- end row-->
        </div><!--// end portfolio container-->
    </section>

    <!-- Contact Section -->

    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-lg-12">
                    <h1 class="contact-title section-titles text-center">Contact Me</h1>
      
                    <ul class="tabs curly_brackets list-inline" data-tabs="tabs" id="contact-links">
                      
                    <li><a href="mailto:uma.petersen@gmail.com">Email</a></li>
                    <li><a href="https://www.linkedin.com/in/umapetersen">Linkedin</a></li>
                    <li><a href="https://twitter.com/Octothorpe12">Twitter</a></li>
                    <li><a href="https://github.com/upcode">Github</a></li>    

                    </ul>
                    <hr class="section-heading-spacer text-center">
                </div><!-- // col-->
            </div><!-- // row -->
             <div class="row">
                <div class="col-xs-12 col-md-8 col-lg-12">
                    <div class="contact">
                        <ul class="list-inline contact-social-buttons text-center">
                            <li>
                                <a href="https://twitter.com/Octothorpe12" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                            <li>
                                <a href="https://github.com/upcode" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/umapetersen" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li>
                            <li>
                                <a href="mailto:uma.petersen@gmail.com" class="btn btn-default btn-lg"><i class="fa fa-envelope-o fa-fw"></i> <span class="network-name">Email</span></a>
                            
                            </li>
                        </ul>
                    </div>
                </div><!--// end col-->
            </div><!-- // end row-->
        </div><!-- // end contact container-->
    </section>

     <!-- Footer  -->

    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="footer">
                <div class="col-xs-6 col-md-4 col-lg-4">
                    <ul class="list-inline footer-menu">
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#portfolio">Portfolio</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                
                        <li>
                            <a href="http://upcodeblog.herokuapp.com/">Blog</a>
                        </li>
                    </ul>
                </div>
                       <div class="col-xs-6 col-md-1 col-lg-4">
              <a id="copyright" href="http://umapetersen.com">
                        Copyright &copy; Uma Petersen 2016</a>
                </div>
                 <div class="footer-col col-xs-6 col-md-1 col-lg-4 social-icons">
                        <ul class="list-inline">
                            <li class="social-icons">
                                <a href="https://twitter.com/Octothorpe12">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                      
                  
                 
                            <li class="social-icons">
                                <a href="https://www.linkedin.com/in/umapetersen">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                     
                 
                            <li class="social-icons">
                                <a href="https://github.com/upcode">
                                    <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div><!-- // footer-col-->
                </div>
                </div><!-- // end row-->
            </div><!-- // end container-->
    </footer>

    <!-- Modal Windows Section -->
         <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!--================//MODAL WINDOW //================ -->
    <!-- Project Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
      
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <center><h2>Wanderlust</h2></center>
                            <br>
                            <img src="/static/img/projects/wanderlust.png" class="img-responsive img-centered" alt="wanderlust">
                            <h4>Project Summary</h4>
                            <p class="words">Wanderlust allows world travelers to track their country or state visits using a D3 interactive map. This map enables users to click on a country or state. Once the country or state color has been changed, the visits are stored for future use. A user has the ability to upload a photo, which then becomes a postcard. The front displays a picture, while the back displays the address and description. Wanderlust also provides users with a timeline in which they can add their photos and journal their travels. This app allows users to track all their travels in one convenient place. Discover new and exciting places and track all your world travels with Wanderlust.</p>
                            <ul class="list-inline item-details">
                                <li><h4>Stack:</h4>
                                  Pyton, JavaScript / jQuery, Bootstrap, HTML5, CSS3, D3.js
                               
                                </li>
                                   
                            </ul>
                            


                            <ul class="list-inline item-details">
                                <li>Client:
                                  <strong><a href="http://www.umapetersen.com">Uma Petersen</a>
                                </strong>
                                </li>
                                <li>Date:
                                    <strong>December 2015</strong>
                                </li>
                                <li>Service:
                                    <strong>Web Development</strong>
                                </li>
                            </ul>
                            <center><button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button></center>
                        </div><!-- // end modal body-->
                    </div><!-- col-lg-8 col-lg-offset-2-->
                </div><!-- // end row-->
            </div><!-- // end container-->
        </div><!--// end modal content-->
    </div><!--// end modal window 1-->
     
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <center><h2>[CODE]UP...BLOG</h2></center>
                            <hr class="star-primary">
                            <img src="/static/img/projects/blog.png" class="img-responsive img-centered" alt="blog">
                            <h4>Project Summary</h4>

                            <p class="words">Created Programming blog, and resources with links that I found intersiting while learning to program.</p>
                            <ul class="list-inline item-details">
                                <li><h4>Stack:</h4>
                                  Pyton, JavaScript / jQuery, Bootstrap, HTML5, CSS3, D3.js
                               
                                </li>
                                   
                            </ul>

                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://www.umapetersen.com">Uma Petersen</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong>December 2015
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong>Web Development
                                    </strong>
                                </li>
                            </ul>
                            <center><button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button></center>
                        </div><!-- // end modal body-->
                    </div><!-- // end col-->
                </div><!-- // end row-->
            </div><!-- // end container-->
        </div><!-- // end modal content-->
    </div><!-- // end modal window 2-->
    

    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <center><h2>About Me</h2><center>
                            <br>
                            <center>
                            <img src="/static/img/projects/about-me.png" class="img-responsive img-centered" alt="">
                            </center>
                            <h4>Project Summary</h4>

                          <p class="words">Created Personal website about myself and my experince in software development</p>
                            <ul class="list-inline item-details">
                                <li><h4>Stack:</h4>
                                  Pyton, JavaScript / jQuery, Bootstrap, HTML5, CSS3, D3.js, Flask, Heroku
                               
                                </li>
                                   
                            </ul>

                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://www.umapetersen.com">Uma Petersen</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong>December 2015
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong>Web Development</strong>
                                </li>
                            </ul>
                            <center><button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button></center>
                        </div><!-- // end modal body-->
                    </div><!-- // end col-->
                </div><!-- // end row-->
            </div><!-- // end container-->
        </div><!-- // end modal content-->
    </div><!-- // end modal window 3-->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <center><h2>Decisons</h2></center>
                            <hr class="star-primary">
                            <br>
                            <center>
                            <img src="/static/img/projects/magic.png" class="img-responsive img-centered" alt="">
                            </center>
                            <h4>Project Summary</h4>

                            <p class="words">Created magic 8 ball game called decisions. User can log in and ask a question and returns an answer to their question.</p>
                            <ul class="list-inline item-details">
                                <li><h4>Stack:</h4>
                                  Pyton, FLask, heroku JavaScript / jQuery, Bootstrap, HTML5, CSS3
                               
                                </li>
                                   
                            </ul>

                            <ul class="list-inline item-details">
                                <li>Client:
                                      <strong><a href="http://www.umapetersen.com">Uma Petersen</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong>December 2016
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong>Web Development
                                    </strong>
                                </li>
                            </ul>
                            <center><button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button></center>
                        </div><!-- // end modal body-->
                    </div><!-- // end col-->
                </div><!-- // end row-->
            </div><!-- // end container-->
        </div><!-- // end modal content-->
    </div><!-- // end modal window 4-->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <center><h2>San Francisco Love Story</h2></center>
                            <hr class="star-primary">
                            <br>
                            <img src="/static/img/projects/sf.png" class="img-responsive img-centered" alt="">
                            <h4>Project Summary</h4>
                            <p class="words">Created a blog that allows users to login, update and create new content for a blog post. Blog is intented to explore city of San Francisco and write a blog post.</p>

                            <p></p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="#">Uma Petersen</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="#">January 2016</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="#">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div><!-- // end modal body-->
                    </div><!-- // end col-->
                </div><!-- // end row-->
            </div><!-- // end container-->
        </div><!-- // end modal content-->
    </div><!-- // end modal window 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <center><h2>Ryan Fanelli Painting, Inc</h2></center>
                            <h4>Project Summary</h4>
                            <p class="words">Created a business web page for Rayn Fanelli Painting, Inc. Simple one page web application about Ryan's paiting business with all this services he provides.</p>

                               
                                <img src="/static/img/projects/ryan.png" class="img-responsive img-centered" alt="">
                                <ul class="list-inline item-details">
                                <li><h4>Stack:</h4>
                                  Pyton, JavaScript / jQuery, Bootstrap, HTML5, CSS3, Flask, Heroku
                               
                                </li>
                                   
                                </ul>
                                    <p>Business webpage for Ryan Fanelli </p>
                                        <ul class="list-inline item-details">
                                            <li>Client:
                                                <strong><a href="#">Ryan Fanelli</a>
                                                </strong>
                                            </li>
                                            <li>Date:
                                                <strong><a href="#">December 2016</a>
                                                </strong>
                                            </li>
                                            <li>Service:
                                                <strong><a href="#">Web Development</a>
                                                </strong>
                                            </li>
                                        </ul>
                                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div><!-- // end modal-body-->
                    </div><!-- // col-lg-8 col-lg-offset-2-->
                </div><!-- // end row-->
            </div><!-- // end container-->
        </div><!-- // end modal content-->
    </div><!-- // end modal 6-->
<!--================//MODAL WINDOW //================ -->

<!-- JAVASCRIPT AND JQUERY SCRIPTS BELOW -->
<!-- #################################################################################################### -->

    <!-- jQuery -->
    <script src="/static/bootstrap/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="/static/js/jquery.easing.1.3.js"></script>

</body>

</html>