<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Uma Petersen</title>
    <!--============= D3 JAVASCRIPT =================-->
      <!-- D3 Bubble Chart -->
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/d3-bubble.js"></script>
    <script type="text/javascript" src="/static/js/d3pie.js"></script>
    <script type="text/javascript" src="/static/js/d3pie.min.js"></script>
    <!-- D3 Donut Chart -->
    <!-- D3 Donut Chart -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.4/d3.min.js"></script>
    <!--============= MY JAVASCRIPT FILES  ============-->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/myjs.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    <!-- IE -->
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <!--============= BOOTSTRAP =================-->


    <!-- Bootstrap Core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom Fonts -->
    <link href="/static/bootstrap/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic' rel='stylesheet' type='text/css'/>
    <!--============= FAVICON =================-->

    <!-- your favicon //16x16px icon file -->
    <link href="/static/img/logo.ico" rel="shortcut icon"/>

    <!--============= My CSS FILES =================-->
      <!-- Custom CSS -->
    <link href="/static/css/ihover.css" rel="stylesheet"/>
    <link href="/static/css/d3-bubble.css" rel="stylesheet"/>
    <link href="/static/css/barchart.css" rel="stylesheet"/>
    <link href="/static/css/animate.css" rel="stylesheet"/>
    <link href="/static/css/modal-windows.css" rel="stylesheet"/>
    <!-- <link href="/static/css/mobile.css" rel="stylesheet"/> -->
<!-- <link href="/static/css/global.css" rel="stylesheet"/>
 -->

    <link href="/static/css/mystyles.css" rel="stylesheet"/>

<style>
.article-list {
    margin-left: 100px;
    padding-left: 150px;
}
</style>
</head>

<body>
<nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">UP&#x21e1;[CODE]</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#design">Design &amp; Code</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="http://upcodeblog.herokuapp.com/">Blog</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
        <li><a href="#">Navbar Link</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#design">Design &amp; Code</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="http://upcodeblog.herokuapp.com/">Blog</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br>
        <br>
        <div class="intro-message">
          <h1 class="header center teal-text text-lighten-2 header-title" id="page-title"><span id="u">U</span>ma <span id="p">P</span>etersen</h1>
          <div class="row center">
            <h3 class="header col s12 black-text curly_brackets"><span>Imagination . Creativity . Design + Logic =  <strong href="#about" class="flash">U.P.&#x21e1;</strong>[code]
                        </span></h3>
          </div>
          <div class="row center">
            <a href="https://twitter.com/Octothorpe12" class="btn-large waves-effect waves-light white lighten-1 black-text"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
            <a href="https://github.com/upcode" class="btn-large waves-effect waves-light white lighten-1 black-text"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
            <a href="https://www.linkedin.com/in/umapetersen" class="btn-large waves-effect waves-light white lighten-1 black-text"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
          </div>
          <br>
          <br>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="static/materialize/background3.jpg" alt="Unsplashed background img 1"></div>
 </div>
  <div id="engineering" class="parallax-container">
  <div class="container">
    <div class="section ">
      <div class="row">
        <div class="col s12 center">
          <h2 class="black-text curly_brackets">Software Engineering</h2>
          <ul class="tabs curly_brackets">
            <li class="tab col s3"><a href="#test1 black-text">The Engineer</a></li>
            <li class="tab col s3"><a class="active" href="#test2 black-text">All About Me</a></li>
            <li class="tab col s3"><a href="#test3 black-text">Featured</a></li>
          </ul>
        </div>
                <!--//////////// TAB ONE///////////////////////-->

        <div id="test1" class="col s12">
          <div class="col s6 engineer-image">
            <img src="/static/img/engineer.jpg" width="432" height="427" class="img-responsive" id="engineer-image" alt="bubble-image" />
          </div>
          <div class="jo">
            <a href="http://www.bentonstreetphotography.com">
              <small>Photo by Joahanna</small></a>
          </div>
          <div class="col s6">
            <h4>Art of the Software Engineer</h4>
            <p class="words">
              I'm a Full Stack Software Engineer from San Francisco with an interest in User Interface Design. I enjoy turning complex problems into simple, intuitive, minimalist interface designs. I attended San Jose State with a degree in Business Marketing, and a Software Engineering certificate from <a href="https://www.hackbrightacademy.com/">Hackbright Acadamy</a>. I worked at <a href="http://studiofathom.com/">FATHOM</a> I worked at as Full Stack software Engineer specializing in the development of high-quality user interfaces delivering optimal user experiences across web, application, and other platforms. Catalyst spurring collaborative communication among end users, designers, and developers while effectively creating well-received products. Extensive technical skills spanning Languages, frameworks & libraries, and applications & tools. Big picture thinker excelling in solution development for intricate problems. Prior to working at FATHOM I worked at
              <a href="https://www.groupon.com/">Groupon</a> as a product operational specialist, launching multiple core products and taking those products from pilot stage to full mainstream launch. I developed standard operating procedures and testing protocols to ensure high product quality for end users. In 2013, I attended the <a href="http://ghc.anitaborg.org/">Grace Hopper</a> conference, where my interest in programming took root. Now I am a full time software engineer with a passion for programming and design.
            </p>
            <h3 class="tab-titles">Technologies</h3>
            <ul class="tab-list">
              <li>
                <em></em><i class='icon-ok'></i> Javascript / jQuery
              </li>
              <li><em></em>
                <i class='icon-ok'></i>HTML5
              </li>
              <li><em></em>
                <i class='icon-ok'></i>CSS3
              </li>
              <li><em></em>
                <i class='icon-ok'></i>Responsive Web Designs
              </li>
              <li><em></em>
                <i class='icon-ok'></i>User Experience Design
              </li>
              <li><em></em>
                <i class='icon-ok'></i>Single Page Web App
              </li>
              <li><em></em>
                <i class='icon-ok'></i>User Interactions
              </li>
              <li><em></em>
                <i class='icon-ok'></i>Data Visualization
              </li>
              <li><em></em>
                <i class='icon-ok'></i>Wireframes / Layout
              </li>
            </ul>
          </div>
          <div class="col s12 center">
            <div id="mainBubble" style="height: 763px;" class="bubble-chart ">
              <svg class="mainBubbleSVG" width="1089.8020000000001" height="763">
                <text id="bubbleItemNote" x="10" y="529.9010000000001" font-size="12" dominant-baseline="middle" alignment-baseline="middle" style="fill: rgb(136, 136, 136);">
                </text>
              </svg>
            </div>
            <script src="/static/js/d3bubble.js"></script>
          </div>
        </div>

        <!--//////////// TAB TWO///////////////////////-->
        <div id="test2" class="col s12">
        <div class="row">
            <div class="col s6">
              <img src="/static/img/designer.jpg" width="432" height="427" class="img-responsive styled" alt="designer-image" />
              <div class="jo">
                <a href="http://www.bentonstreetphotography.com">
                  <small class="jo">Photo by Joahanna</small></a>
              </div>
            </div>
            <div class="col s6">
              <h3 class="tab-titles">All About Me</h3>
              <p class="words">
                When I'm not coding or pushing pixels, you'll find me enjoying the challenge of learning a new language, traveling, listening to music, and enjoying city life. I am creative, I am innovator and problem slover. My experiences, education, and my passion for learning drive me to seek new adventures in all aspects of my life.
              </p>
              <h3 class="tab-titles">My Skills</h3>
              <ul class="tab-list">
                <li><em></em><i class='icon-ok'>
              </i>Generating a great quantity of ideas
                </li>
                <li><em></em><i class='icon-ok'>
                </i>Turning around life's obstacles
                </li>
                <li><em></em>
                  <i class='icon-ok'>
                </i>Where most people see a difficulty, I see an opportunity
                </li>
                <li><em></em>
                  <i class='icon-ok'></i>Ping-Pong
                </li>
                <li><em></em>
                  <i class='icon-ok'></i>Cooking
                </li>
              </ul>
            </div>
            </div>

          <div class="row">
              <ul class="chart">
                <li class="axis">
                  <div class="label">MVP</div>
                  <br>
                  <br>
                  <div class="label">All Star</div>
                  <br>
                  <br>
                  <div class="label">Slugger</div>
                  <br>
                  <br>
                  <div class="label">Triple A</div>
                  <br>
                  <br>
                  <div class="label">Rookie</div>
                </li>
                <li class="bar teal animated fadeInUp" style="height: 95%;" title="95">
                  <div class="percent">95<span>%</span></div>
                  <div class="skill"> generate a great quantity of ideas
                  </div>
                </li>
                <li class="bar salmon animated fadeInUp" style="height: 90%;" title="90">
                  <div class="percent">90<span>%</span></div>
                  <div class="skill">Turn around life's obstacles</div>
                </li>
                <li class="bar peach animated fadeInUp" style="height: 80%;" title="80">
                  <div class="percent">80<span>%</span></div>
                  <div class="skill">Where most people see a difficulty, I see an opportunity</div>
                </li>
                <li class="bar lime animated fadeInUp" style="height: 75%;" title="75">
                  <div class="percent">50<span>%</span></div>
                  <div class="skill">Ping-Pong</div>
                </li>
                <li class="bar grape animated fadeInUp" style="height: 40%;" title="40">
                  <div class="percent">20<span>%</span></div>
                  <div class="skill">Cooking</div>
                </li>
              </ul>
            </div>
   </div>
       <!--//////////// TAB ONE///////////////////////-->

        <div id="test3" class="col s12 center">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="/static/img/class-photo.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Articles<i class="material-icons right">more_vert</i></span>
              <p> <a href="https://hackbrightacademy.com/blog/">Hackbright Blog</a>
              </p>
              <p><a href="http://www.today.com/video/meeting-the-women-of-silicon-valley-software-engineer-tracy-chou-582041667634">The Today Show</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>
        <!--// end tab 3 -->
      </div>
      <!--// end row-->
    </div>
  </div>
  </div>
                  <!--//////////// Designer///////////////////////-->
  <div id="designer" class="parallax-container">

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3 class="tab-titles curly_brackets" id="design-code">The Designer</h3>
          <p class="words animated fadeInLeftBig">
            I think of software engineering as an art; I like to combine creativity and logic into my software. I feel this gives me a unique perspective. I like to find inspiration in everyday things when it comes to programing and designing web applications. My inspiration comes from reading a book, walking the streets of San Francisco, or incorporating technology to solve my own problems. I often feel people forget how creative software development can be. Each artist has her own medium. Some use canvas, some paper, some paint on walls. My medium is my computer, where my creativity, inspiration, and imagination come to life. My paintbrush is my code.
          </p>
        </div>
        <div class="row">
          <div class="col s12 center">
            <h3 class="tab-titles animated fadeInLeftBig" id="design-process">My Design Process</h3>
            <div class="pieChart animated fadeInLeftBig" id="pieChart"></div>
            <!--  JS D3 Donut Design Chart-->
            <script src="static/js/d3-donut.js"></script>
          </div>
        </div>
        <div class="col s12 center">
          <h3 class="tab-titles animated fadeInLeftBig" id="design-process">Capturing Createitvity</h3>
          <div class="row">
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                <h5 class="center">Speeds up development</h5>
                <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
              </div>
            </div>
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                <h5 class="center">User Experience Focused</h5>
                <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
              </div>
            </div>
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                <h5 class="center">Easy to work with</h5>
                <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
 <div class="parallax"><img src="static/materialize/background2.jpg" alt="Unsplashed background img 2"></div>

                  <!--//////////// Portfolio//////////////////////-->
  <div id="portfolio" class="parallax-container">

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12">
          <h2 class="section-heading text-center">Portfolio<br></h2>
          <div class="portfilio-list">
            <ul class="tabs curly_brackets about-tabs list-inline text-center" data-tabs="tabs">
              <li>
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">Wanderlust</a>
              </li>
              <li>
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">UP[CODE]...Blog</a>
              </li>
              <li>
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">About Me</a>
              </li>
              <li>
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">Decisions</a>
              </li>
            </ul>
            <hr class="section-heading-spacer text-center">
          </div>
        </div>
        <!--// end portfolio title-->
      </div>
      <div class="row">
        <div class="col-sm-4 portfolio-item">
          <div class="ih-item square effect6 from_top_and_bottom">
            <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
              <div class="img-p">
                <img src="/static/img/projects/wanderlust.png" class="img-responsive" alt="wanderlust-app">
              </div>
              <div class="info">
                <h3>Wanderlust</h3>
                <p>Track your travels</p>
              </div>
            </a>
          </div>
        </div>
        <!-- end project 1-->
        <div class="col-sm-4 portfolio-item">
          <div class="ih-item square effect6 from_top_and_bottom">
            <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
              <div class="img-p">
                <img src="/static/img/projects/blog.png" class="img-responsive" alt="programming-blog">
              </div>
              <div class="info project-title">
                <h3>[UP]CODE...Blog</h3>
                <p>Programming Blog</p>
              </div>
            </a>
          </div>
        </div>
        <!-- // end project 2-->
        <div class="col-sm-4 portfolio-item">
          <div class="ih-item square effect6 from_top_and_bottom">
            <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
              <div class="img-p center">
                <img src="/static/img/projects/about-me.png" class="img-responsive" alt="about-me-page">
              </div>
              <div class="info">
                <h3>About Me</h3>
                <p>My Personal Website</p>
              </div>
            </a>
          </div>
        </div>
        <!-- // end project 3-->
      </div>
      <!-- // end row-->
      <br>
      <div class="row">
        <div class="col-sm-4 portfolio-item">
          <div class="ih-item square effect6 from_top_and_bottom">
            <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
              <div class="img-p">
                <img src="/static/img/projects/magic.png" class="img-responsive" alt="magic-eight-ball">
              </div>
              <div class="info" id="project-title">
                <h3>Decisions</h3>
                <p>Magic 8 Ball</p>
              </div>
            </a>
          </div>
        </div>
        <!-- // end project 4-->
        <div class="col-sm-4 portfolio-item">
          <div class="ih-item square effect6 from_top_and_bottom">
            <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
              <div class="img-p">
                <img src="/static/img/flower-store.jpg" class="img-responsive" alt="sf-love-story">
              </div>
              <div class="info">
                <h3>Le Mur Des Fleurs</h3>
                <p>Wallpaper Ecommerce Store</p>
              </div>
            </a>
          </div>
        </div>
        <!-- end project 5-->
        <div class="col-sm-4 portfolio-item">
          <div class="ih-item square effect6 from_top_and_bottom">
            <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
              <div class="img-p">
                <img src="/static/img/projects/rf.png" class="img-responsive" alt="Ryan-Fanili-Paiting-Inc">
              </div>
              <div class="info">
                <h3>Ryan Fanili Paiting Inc</h3>
                <p>Business Website</p>
              </div>
            </a>
          </div>
        </div>
        <!-- // end project 6 -->
      </div>
      <!-- // end row-->
      <div class="row">
        <div class="col-sm-4 portfolio-item">
          <div class="ih-item square effect6 from_top_and_bottom">
            <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
              <div class="img-p">
                <img src="/static/img/projects/al.jpg" class="img-responsive" alt="Ryan-Fanili-Paiting-Inc">
              </div>
              <div class="info">
                <h3>Hair by Al Millan</h3>
                <p>Business Website</p>
              </div>
            </a>
          </div>
        </div>
        <!-- // end project 6 -->
      </div>
    </div>
  </div>
  </div>
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

                  <!--//////////// contact///////////////////////-->
  <div id="contact" class="parallax-container">

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
          <form role="form" action="https://formspree.io/nerdlife1010@gmail.com" method="POST">
            <div class="alert alert-warning">
            </div>
            <div class="alert alert-success">
            </div>
            <div class="form-group  field-name">
              <label for="name">
                Your name
              </label>
              <div class="input-div">
                <input type="text" name="name" value="" class="form-control " autofocus="autofocus" required="required">
                <span id="help-text" class="help-block">
            </span>
                <span id="error-text" class="help-block">
            </span>
              </div>
            </div>
            <div class="form-group  field-email">
              <label for="email">
                Your e-mail
              </label>
              <div class="input-div">
                <input type="text" name="email" value="" class="form-control " required="required" data-type="email">
                <span id="help-text" class="help-block">
            </span>
                <span id="error-text" class="help-block">
            </span>
              </div>
            </div>
            <div class="form-group  field-message">
              <label for="message">
                Message
              </label>
              <div class="input-div">
                <textarea class="form-control " name="message"></textarea>
                <span id="help-text" class="help-block">
            </span>
                <span id="error-text" class="help-block">
            </span>
              </div>
            </div>
            <div class="form-group">
              <div class="submit-div">
                <button id="form-submit-button" class="btn waves-effect waves-teal" type="submit">
                  <!--  <span class="fa fa-check"> -->
                  <a class="btn" onclick="Materialize.toast('Email has been Sent', 3000)">Send</a>
                  <!-- </span> -->
                </button>
              </div>
            </div>
            <!--   <input type="hidden" name="_next" value="https://upcode.github.io/al-millan/thanks.html" /> -->
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="background3.jpg" alt="Unsplashed background img 3"></div>
  </div>
  <footer class="page-footer white">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="black-text">Company Bio</h5>
          <p class="black-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
        </div>
        <div class="col l3 s12">
          <h5 class="black-text">Menu</h5>
          <ul>
            <li><a class="black-text" href="#">About</a></li>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li><a class="black-text" href="#portfolio">Portfolio</a></li>
            <li class="footer-menu-divider">&sdot;</li>
            <li><a class="black-text" href="http://upcodeblog.herokuapp.com/">Blog</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="black-text">Connect</h5>
          <ul class="list-inline">
            <li class="social-icons black-text">
              <a href="https://twitter.com/Octothorpe12">
                <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
              </a>
            </li>
            <li class="social-icons">
              <a href="https://www.linkedin.com/in/umapetersen">
                <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                    </span>
              </a>
            </li>
            <li class="social-icons black-text">
              <a href="https://github.com/upcode">
                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <p class="copyright text-muted small black-text center">
          Copyright &copy; Uma Petersen 2016. All Rights Reserved
          <a class="black-text" id="copyright" href="http://umapetersen.com"></a>
        </p>
      </div>
    </div>
  </footer>
  <!-- Modal Windows Section -->
  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-top page-scroll visible-xs visible-sm">
    <a class="btn btn-primary" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>
  <!--================//MODAL WINDOW //================ -->
  <!-- Project Modals -->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Wanderlust</h2>
              <br>
              <img src="/static/img/projects/wanderlust.png" class="img-responsive img-centered" alt="wanderlust">
              <h4>Project Summary</h4>
              <p class="words">Wanderlust allows world travelers to track their country or state visits using a D3 interactive map. This map enables users to click on a country or state. Once the country or state color has been changed, the visits are stored for future use. A user has the ability to upload a photo, which then becomes a postcard. The front displays a picture, while the back displays the address and description. Wanderlust also provides users with a timeline in which they can add their photos and journal their travels. This app allows users to track all their travels in one convenient place. Discover new and exciting places and track all your world travels with Wanderlust.</p>
              <ul class="list-inline item-details">
                <li>
                  <h4>Stack:</h4> Pyton, JavaScript / jQuery, Bootstrap, HTML5, CSS3, D3.js
                </li>
              </ul>
              <ul class="list-inline item-details">
                <li>Client:
                  <strong><a href="http://www.umapetersen.com">Uma Petersen</a>
                                </strong>
                </li>
                <li>Date:
                  <strong>December 2015</strong>
                </li>
                <li>Service:
                  <strong>Web Development</strong>
                </li>
              </ul>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
            <!-- // end modal body-->
          </div>
          <!-- col-lg-8 col-lg-offset-2-->
        </div>
        <!-- // end row-->
      </div>
      <!-- // end container-->
    </div>
    <!--// end modal content-->
  </div>
  <!--// end modal window 1-->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>[CODE]UP...BLOG</h2>
              <hr class="star-primary">
              <img src="/static/img/projects/blog.png" class="img-responsive img-centered" alt="blog">
              <h4>Project Summary</h4>
              <p class="words">Created Programming blog, and resources with links that I found intersiting while learning to program.</p>
              <ul class="list-inline item-details">
                <li>
                  <h4>Stack:</h4> Pyton, JavaScript / jQuery, Bootstrap, HTML5, CSS3, D3.js
                </li>
              </ul>
              <ul class="list-inline item-details">
                <li>Client:
                  <strong><a href="http://www.umapetersen.com">Uma Petersen</a>
                                    </strong>
                </li>
                <li>Date:
                  <strong>December 2015
                                    </strong>
                </li>
                <li>Service:
                  <strong>Web Development
                                    </strong>
                </li>
              </ul>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
            <!-- // end modal body-->
          </div>
          <!-- // end col-->
        </div>
        <!-- // end row-->
      </div>
      <!-- // end container-->
    </div>
    <!-- // end modal content-->
  </div>
  <!-- // end modal window 2-->
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>About Me</h2>
              <br>
              <img src="/static/img/projects/about-me.png" class="img-responsive img-centered" alt="">
              <h4>Project Summary</h4>
              <p class="words">Created Personal website about myself and my experince in software development</p>
              <ul class="list-inline item-details">
                <li>
                  <h4>Stack:</h4> Pyton, JavaScript / jQuery, Bootstrap, HTML5, CSS3, D3.js, Flask, Heroku
                </li>
              </ul>
              <ul class="list-inline item-details">
                <li>Client:
                  <strong><a href="http://www.umapetersen.com">Uma Petersen</a>
                                    </strong>
                </li>
                <li>Date:
                  <strong>December 2015
                                    </strong>
                </li>
                <li>Service:
                  <strong>Web Development</strong>
                </li>
              </ul>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
            <!-- // end modal body-->
          </div>
          <!-- // end col-->
        </div>
        <!-- // end row-->
      </div>
      <!-- // end container-->
    </div>
    <!-- // end modal content-->
  </div>
  <!-- // end modal window 3-->
  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Decisons</h2>
              <hr class="star-primary">
              <br>
              <img src="/static/img/projects/magic.png" class="img-responsive img-centered" alt="">
              <h4>Project Summary</h4>
              <p class="words">Created magic 8 ball game called decisions. User can log in and ask a question and returns an answer to their question.</p>
              <ul class="list-inline item-details">
                <li>
                  <h4>Stack:</h4> Pyton, FLask, heroku JavaScript / jQuery, Bootstrap, HTML5, CSS3
                </li>
              </ul>
              <ul class="list-inline item-details">
                <li>Client:
                  <strong><a href="http://www.umapetersen.com">Uma Petersen</a>
                                    </strong>
                </li>
                <li>Date:
                  <strong>December 2016
                                    </strong>
                </li>
                <li>Service:
                  <strong>Web Development
                                    </strong>
                </li>
              </ul>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
            <!-- // end modal body-->
          </div>
          <!-- // end col-->
        </div>
        <!-- // end row-->
      </div>
      <!-- // end container-->
    </div>
    <!-- // end modal content-->
  </div>
  <!-- // end modal window 4-->
  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Le Mur des Fleurs</h2>
              <hr class="star-primary">
              <br>
              <img src="/static/img/projects/jo.png" class="img-responsive img-centered" alt="">
              <h4>Project Summary</h4>
              <p class="words">Created a ecommerce store using squarespace. Users can puruchse flora wallpaer that creates a tryly unique experince for interior of your homes.</p>
              <p></p>
              <ul class="list-inline item-details">
                <li>Client:
                  <strong><a href="http://www.lemurdesfleurs.com/">Joahnna Rivera</a>
                                    </strong>
                </li>
                <li>Date:
                  <strong><a href="#">April 2016</a>
                                    </strong>
                </li>
                <li>Service:
                  <strong><a href="#">Web Development</a>
                                    </strong>
                </li>
              </ul>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
            <!-- // end modal body-->
          </div>
          <!-- // end col-->
        </div>
        <!-- // end row-->
      </div>
      <!-- // end container-->
    </div>
    <!-- // end modal content-->
  </div>
  <!-- // end modal window 5 -->
  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Ryan Fanelli Painting, Inc</h2>
              <h4>Project Summary</h4>
              <p class="words">Created a business web page for Rayn Fanelli Painting, Inc. Simple one page web application about Ryan's paiting business with all this services he provides.</p>
              <img src="/static/img/projects/rf.png" class="img-responsive img-centered" alt="">
              <ul class="list-inline item-details">
                <li>
                  <h4>Stack:</h4> Pyton, JavaScript / jQuery, Bootstrap, HTML5, CSS3, Flask, Heroku
                </li>
              </ul>
              <p>Business webpage for Ryan Fanelli </p>
              <ul class="list-inline item-details">
                <li>Client:
                  <strong><a href="https://rfpainting.herokuapp.com/">Ryan Fanelli</a>
                                                </strong>
                </li>
                <li>Date:
                  <strong><a href="#">December 2016</a>
                                                </strong>
                </li>
                <li>Service:
                  <strong><a href="#">Web Development</a>
                                                </strong>
                </li>
              </ul>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
            <!-- // end modal-body-->
          </div>
          <!-- // col-lg-8 col-lg-offset-2-->
        </div>
        <!-- // end row-->
      </div>
      <!-- // end container-->
    </div>
    <!-- // end modal content-->
  </div>
  <!-- // end modal 6-->
  <!--================//MODAL WINDOW //================ -->
</body>




<!-- JAVASCRIPT AND JQUERY SCRIPTS BELOW -->
<!-- #################################################################################################### -->

    <!-- jQuery -->
    <script src="/static/bootstrap/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <!-- Scrolling Nav JavaScript -->
    <script src="/static/js/jquery.easing.1.3.js"></script>

</body>

</html>