<div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12">
          <h2 class="section-heading text-center">Portfolio<br></h2>
          <div class="portfilio-list">
            <ul class="tabs curly_brackets about-tabs list-inline text-center" data-tabs="tabs">
              <li>
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">Wanderlust</a>
              </li>
              <li>
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">UP[CODE]...Blog</a>
              </li>
              <li>
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">About Me</a>
              </li>
              <li>
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">Decisions</a>
              </li>
            </ul>
            <hr class="section-heading-spacer text-center">
          </div>
        </div>
        <!--// end portfolio title-->
      </div>
      <div class="row">
        <div class="col-sm-4 portfolio-item">
          <div class="ih-item square effect6 from_top_and_bottom">
            <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
              <div class="img-p">
                <img src="/static/img/projects/wanderlust.png" class="img-responsive" alt="wanderlust-app">
              </div>
              <div class="info">
                <h3>Wanderlust</h3>
                <p>Track your travels</p>
              </div>
            </a>
          </div>
        </div>
        <!-- end project 1-->
        <div class="col-sm-4 portfolio-item">
          <div class="ih-item square effect6 from_top_and_bottom">
            <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
              <div class="img-p">
                <img src="/static/img/projects/blog.png" class="img-responsive" alt="programming-blog">
              </div>
              <div class="info project-title">
                <h3>[UP]CODE...Blog</h3>
                <p>Programming Blog</p>
              </div>
            </a>
          </div>
        </div>
        <!-- // end project 2-->
        <div class="col-sm-4 portfolio-item">
          <div class="ih-item square effect6 from_top_and_bottom">
            <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
              <div class="img-p center">
                <img src="/static/img/projects/about-me.png" class="img-responsive" alt="about-me-page">
              </div>
              <div class="info">
                <h3>About Me</h3>
                <p>My Personal Website</p>
              </div>
            </a>
          </div>
        </div>
        <!-- // end project 3-->
      </div>
      <!-- // end row-->
      <br>
      <div class="row">
        <div class="col-sm-4 portfolio-item">
          <div class="ih-item square effect6 from_top_and_bottom">
            <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
              <div class="img-p">
                <img src="/static/img/projects/magic.png" class="img-responsive" alt="magic-eight-ball">
              </div>
              <div class="info" id="project-title">
                <h3>Decisions</h3>
                <p>Magic 8 Ball</p>
              </div>
            </a>
          </div>
        </div>
        <!-- // end project 4-->
        <div class="col-sm-4 portfolio-item">
          <div class="ih-item square effect6 from_top_and_bottom">
            <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
              <div class="img-p">
                <img src="/static/img/flower-store.jpg" class="img-responsive" alt="sf-love-story">
              </div>
              <div class="info">
                <h3>Le Mur Des Fleurs</h3>
                <p>Wallpaper Ecommerce Store</p>
              </div>
            </a>
          </div>
        </div>
        <!-- end project 5-->
        <div class="col-sm-4 portfolio-item">
          <div class="ih-item square effect6 from_top_and_bottom">
            <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
              <div class="img-p">
                <img src="/static/img/projects/rf.png" class="img-responsive" alt="Ryan-Fanili-Paiting-Inc">
              </div>
              <div class="info">
                <h3>Ryan Fanili Paiting Inc</h3>
                <p>Business Website</p>
              </div>
            </a>
          </div>
        </div>
        <!-- // end project 6 -->
      </div>
      <!-- // end row-->
      <div class="row">
        <div class="col-sm-4 portfolio-item">
          <div class="ih-item square effect6 from_top_and_bottom">
            <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
              <div class="img-p">
                <img src="/static/img/projects/al.jpg" class="img-responsive" alt="Ryan-Fanili-Paiting-Inc">
              </div>
              <div class="info">
                <h3>Hair by Al Millan</h3>
                <p>Business Website</p>
              </div>
            </a>
          </div>
        </div>
        <!-- // end project 6 -->
      </div>
    </div>
  </div>
  </div>
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

                  <!--//////////// contact///////////////////////-->
  <div id="contact" class="parallax-container">

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
          <form role="form" action="https://formspree.io/nerdlife1010@gmail.com" method="POST">
            <div class="alert alert-warning">
            </div>
            <div class="alert alert-success">
            </div>
            <div class="form-group  field-name">
              <label for="name">
                Your name
              </label>
              <div class="input-div">
                <input type="text" name="name" value="" class="form-control " autofocus="autofocus" required="required">
                <span id="help-text" class="help-block">
            </span>
                <span id="error-text" class="help-block">
            </span>
              </div>
            </div>
            <div class="form-group  field-email">
              <label for="email">
                Your e-mail
              </label>
              <div class="input-div">
                <input type="text" name="email" value="" class="form-control " required="required" data-type="email">
                <span id="help-text" class="help-block">
            </span>
                <span id="error-text" class="help-block">
            </span>
              </div>
            </div>
            <div class="form-group  field-message">
              <label for="message">
                Message
              </label>
              <div class="input-div">
                <textarea class="form-control " name="message"></textarea>
                <span id="help-text" class="help-block">
            </span>
                <span id="error-text" class="help-block">
            </span>
              </div>
            </div>
            <div class="form-group">
              <div class="submit-div">
                <button id="form-submit-button" class="btn waves-effect waves-teal" type="submit">
                  <!--  <span class="fa fa-check"> -->
                  <a class="btn" onclick="Materialize.toast('Email has been Sent', 3000)">Send</a>
                  <!-- </span> -->
                </button>
              </div>
            </div>
            <!--   <input type="hidden" name="_next" value="https://upcode.github.io/al-millan/thanks.html" /> -->
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="background3.jpg" alt="Unsplashed background img 3"></div>
  </div>
  <footer class="page-footer white">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="black-text">Company Bio</h5>
          <p class="black-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
        </div>
        <div class="col l3 s12">
          <h5 class="black-text">Menu</h5>
          <ul>
            <li><a class="black-text" href="#">About</a></li>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li><a class="black-text" href="#portfolio">Portfolio</a></li>
            <li class="footer-menu-divider">&sdot;</li>
            <li><a class="black-text" href="http://upcodeblog.herokuapp.com/">Blog</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="black-text">Connect</h5>
          <ul class="list-inline">
            <li class="social-icons black-text">
              <a href="https://twitter.com/Octothorpe12">
                <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
              </a>
            </li>
            <li class="social-icons">
              <a href="https://www.linkedin.com/in/umapetersen">
                <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                    </span>
              </a>
            </li>
            <li class="social-icons black-text">
              <a href="https://github.com/upcode">
                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <p class="copyright text-muted small black-text center">
          Copyright &copy; Uma Petersen 2016. All Rights Reserved
          <a class="black-text" id="copyright" href="http://umapetersen.com"></a>
        </p>
      </div>
    </div>
  </footer>
  <!-- Modal Windows Section -->
  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-top page-scroll visible-xs visible-sm">
    <a class="btn btn-primary" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>
  <!--================//MODAL WINDOW //================ -->
  <!-- Project Modals -->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Wanderlust</h2>
              <br>
              <img src="/static/img/projects/wanderlust.png" class="img-responsive img-centered" alt="wanderlust">
              <h4>Project Summary</h4>
              <p class="words">Wanderlust allows world travelers to track their country or state visits using a D3 interactive map. This map enables users to click on a country or state. Once the country or state color has been changed, the visits are stored for future use. A user has the ability to upload a photo, which then becomes a postcard. The front displays a picture, while the back displays the address and description. Wanderlust also provides users with a timeline in which they can add their photos and journal their travels. This app allows users to track all their travels in one convenient place. Discover new and exciting places and track all your world travels with Wanderlust.</p>
              <ul class="list-inline item-details">
                <li>
                  <h4>Stack:</h4> Pyton, JavaScript / jQuery, Bootstrap, HTML5, CSS3, D3.js
                </li>
              </ul>
              <ul class="list-inline item-details">
                <li>Client:
                  <strong><a href="http://www.umapetersen.com">Uma Petersen</a>
                                </strong>
                </li>
                <li>Date:
                  <strong>December 2015</strong>
                </li>
                <li>Service:
                  <strong>Web Development</strong>
                </li>
              </ul>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
            <!-- // end modal body-->
          </div>
          <!-- col-lg-8 col-lg-offset-2-->
        </div>
        <!-- // end row-->
      </div>
      <!-- // end container-->
    </div>
    <!--// end modal content-->
  </div>
  <!--// end modal window 1-->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>[CODE]UP...BLOG</h2>
              <hr class="star-primary">
              <img src="/static/img/projects/blog.png" class="img-responsive img-centered" alt="blog">
              <h4>Project Summary</h4>
              <p class="words">Created Programming blog, and resources with links that I found intersiting while learning to program.</p>
              <ul class="list-inline item-details">
                <li>
                  <h4>Stack:</h4> Pyton, JavaScript / jQuery, Bootstrap, HTML5, CSS3, D3.js
                </li>
              </ul>
              <ul class="list-inline item-details">
                <li>Client:
                  <strong><a href="http://www.umapetersen.com">Uma Petersen</a>
                                    </strong>
                </li>
                <li>Date:
                  <strong>December 2015
                                    </strong>
                </li>
                <li>Service:
                  <strong>Web Development
                                    </strong>
                </li>
              </ul>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
            <!-- // end modal body-->
          </div>
          <!-- // end col-->
        </div>
        <!-- // end row-->
      </div>
      <!-- // end container-->
    </div>
    <!-- // end modal content-->
  </div>
  <!-- // end modal window 2-->
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>About Me</h2>
              <br>
              <img src="/static/img/projects/about-me.png" class="img-responsive img-centered" alt="">
              <h4>Project Summary</h4>
              <p class="words">Created Personal website about myself and my experince in software development</p>
              <ul class="list-inline item-details">
                <li>
                  <h4>Stack:</h4> Pyton, JavaScript / jQuery, Bootstrap, HTML5, CSS3, D3.js, Flask, Heroku
                </li>
              </ul>
              <ul class="list-inline item-details">
                <li>Client:
                  <strong><a href="http://www.umapetersen.com">Uma Petersen</a>
                                    </strong>
                </li>
                <li>Date:
                  <strong>December 2015
                                    </strong>
                </li>
                <li>Service:
                  <strong>Web Development</strong>
                </li>
              </ul>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
            <!-- // end modal body-->
          </div>
          <!-- // end col-->
        </div>
        <!-- // end row-->
      </div>
      <!-- // end container-->
    </div>
    <!-- // end modal content-->
  </div>
  <!-- // end modal window 3-->
  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Decisons</h2>
              <hr class="star-primary">
              <br>
              <img src="/static/img/projects/magic.png" class="img-responsive img-centered" alt="">
              <h4>Project Summary</h4>
              <p class="words">Created magic 8 ball game called decisions. User can log in and ask a question and returns an answer to their question.</p>
              <ul class="list-inline item-details">
                <li>
                  <h4>Stack:</h4> Pyton, FLask, heroku JavaScript / jQuery, Bootstrap, HTML5, CSS3
                </li>
              </ul>
              <ul class="list-inline item-details">
                <li>Client:
                  <strong><a href="http://www.umapetersen.com">Uma Petersen</a>
                                    </strong>
                </li>
                <li>Date:
                  <strong>December 2016
                                    </strong>
                </li>
                <li>Service:
                  <strong>Web Development
                                    </strong>
                </li>
              </ul>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
            <!-- // end modal body-->
          </div>
          <!-- // end col-->
        </div>
        <!-- // end row-->
      </div>
      <!-- // end container-->
    </div>
    <!-- // end modal content-->
  </div>
  <!-- // end modal window 4-->
  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Le Mur des Fleurs</h2>
              <hr class="star-primary">
              <br>
              <img src="/static/img/projects/jo.png" class="img-responsive img-centered" alt="">
              <h4>Project Summary</h4>
              <p class="words">Created a ecommerce store using squarespace. Users can puruchse flora wallpaer that creates a tryly unique experince for interior of your homes.</p>
              <p></p>
              <ul class="list-inline item-details">
                <li>Client:
                  <strong><a href="http://www.lemurdesfleurs.com/">Joahnna Rivera</a>
                                    </strong>
                </li>
                <li>Date:
                  <strong><a href="#">April 2016</a>
                                    </strong>
                </li>
                <li>Service:
                  <strong><a href="#">Web Development</a>
                                    </strong>
                </li>
              </ul>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
            <!-- // end modal body-->
          </div>
          <!-- // end col-->
        </div>
        <!-- // end row-->
      </div>
      <!-- // end container-->
    </div>
    <!-- // end modal content-->
  </div>
  <!-- // end modal window 5 -->
  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Ryan Fanelli Painting, Inc</h2>
              <h4>Project Summary</h4>
              <p class="words">Created a business web page for Rayn Fanelli Painting, Inc. Simple one page web application about Ryan's paiting business with all this services he provides.</p>
              <img src="/static/img/projects/rf.png" class="img-responsive img-centered" alt="">
              <ul class="list-inline item-details">
                <li>
                  <h4>Stack:</h4> Pyton, JavaScript / jQuery, Bootstrap, HTML5, CSS3, Flask, Heroku
                </li>
              </ul>
              <p>Business webpage for Ryan Fanelli </p>
              <ul class="list-inline item-details">
                <li>Client:
                  <strong><a href="https://rfpainting.herokuapp.com/">Ryan Fanelli</a>
                                                </strong>
                </li>
                <li>Date:
                  <strong><a href="#">December 2016</a>
                                                </strong>
                </li>
                <li>Service:
                  <strong><a href="#">Web Development</a>
                                                </strong>
                </li>
              </ul>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
            <!-- // end modal-body-->
          </div>
          <!-- // col-lg-8 col-lg-offset-2-->
        </div>
        <!-- // end row-->
      </div>
      <!-- // end container-->
    </div>
    <!-- // end modal content-->
  </div>