 {% block content %}
  <!-- Portfolio Modals -->
  <!-- Use the modals below to showcase details about your portfolio projects! -->
  <!-- Portfolio Modal 1 -->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl">
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2>Wanderlust</h2>
                <p class="item-intro text-muted">Track your travels</p>
                <img src="../static/img/portfolio/wanderlust.png" class="img-responsive img-centered" alt="">
                 <p>Wanderlust allows world travelers to track their country or state visits using a D3 interactive map. This map enables users to click on a country or state. Once the country or state color has been changed, the visits are stored for future use. A user has the ability to upload a photo, which then becomes a postcard. The front displays a picture, while the back displays the address and description. Wanderlust also provides users with a timeline in which they can add their photos and journal their travels. This app allows users to track all their travels in one convenient place. Discover new and exciting places and track all your world travels with Wanderlust.</p>
                <p>Stack: Pyton, JavaScript / jQuery, Bootstrap, HTML5, CSS3, D3.js</p>

                   <ul class="list-inline item-details">
                                <li>Client:
                                  <strong><a href="http://www.umapetersen.com">Uma Petersen</a>
                                </strong>
                                </li>
                                <li>Date:
                                    <strong>December 2015</strong>
                                </li>
                                <li>Service:
                                    <strong>Web Development</strong>
                                </li>
                            </ul>

                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Portfolio Modal 2 -->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl">
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <div class="modal-body">
                <h2>Smart Controls</h2>
                <p class="item-intro text-muted">House simulation</p>
                <img class="img-responsive img-centered" src="static/img/portfolio/smartcontrols.png" alt="">
                <p><a href="http://designmodo.com/startup/?u=787">Startup Framework</a> is a website builder for professionals. Startup Framework contains components and complex blocks (PSD+HTML Bootstrap themes and templates) which can easily be integrated into almost any design. All of these components are made in the same style, and can easily be integrated into projects, allowing you to create hundreds of solutions for your future projects.</p>
                <p>You can preview Startup Framework <a href="http://designmodo.com/startup/?u=787">here</a>.</p>
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Portfolio Modal 3 -->
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl">
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2>Le Mur Des Fleur</h2>
                <p class="item-intro text-muted">Wallpaper Ecommerce Store</p>
                <img class="img-responsive img-centered" src="static/img/portfolio/johanna.png" alt="">
                <p>Treehouse is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. This is bright and spacious design perfect for people or startup companies looking to showcase their apps or other projects.</p>
                <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/treehouse-free-psd-web-template/">FreebiesXpress.com</a>.</p>
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Portfolio Modal 4 -->
  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl">
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2>Ryan Fanelli</h2>
                <p class="item-intro text-muted">Business Website</p>
                <img class="img-responsive img-centered" src="static/img/portfolio/ryanfaneli.png" alt="">
                <p>Start Bootstrap's Agency theme is based on Golden, a free PSD website template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Golden is a modern and clean one page web template that was made exclusively for Best PSD Freebies. This template has a great portfolio, timeline, and meet your team sections that can be easily modified to fit your needs.</p>
                <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/golden-free-one-page-web-template/">FreebiesXpress.com</a>.</p>

                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="#">Ryan Fanelli</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="#">December 2015</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="#">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Portfolio Modal 5 -->
  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl">
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2>Decisions</h2>
                <p class="item-intro text-muted">Magic 8 Ball</p>
                <img class="img-responsive img-centered" src="static/img/portfolio/decisions.png" alt="">
                <p>Escape is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Escape is a one page web template that was designed with agencies in mind. This template is ideal for those looking for a simple one page solution to describe your business and offer your services.</p>
                <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/escape-one-page-psd-web-template/">FreebiesXpress.com</a>.</p>
                <ul class="list-inline item-details">
                                <li>Client:
                                      <strong><a href="http://www.umapetersen.com">Uma Petersen</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong>December 2015
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong>Web Development
                                    </strong>
                                </li>
                            </ul>
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Portfolio Modal 6 -->
  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl">
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2>Timeline</h2>
                <p class="item-intro text-muted">Timeline that is build in JavaScript</p>
                <img class="img-responsive img-centered" src="static/img/portfolio/timeline.png" alt="">
                <p>Dreams is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Dreams is a modern one page web template designed for almost any purpose. It’s a beautiful template that’s designed with the Bootstrap framework in mind.</p>
                <p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/dreams-free-one-page-web-template/">FreebiesXpress.com</a>.</p>
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   <!-- Portfolio Modal 7 Design Projects -->
  <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl">
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            <h2>UX Projects</h2>
            <ul class="list-inline">
              <li>
                <a href="#portfolioModal8" class="portfolio-link" data-toggle="modal">Hair by Al
        <div class="caption">
          <div class="caption-content">
          </div>
        </div>
      </a>
              </li>
              <li>
                <a href="#portfolioModal9" class="portfolio-link" data-toggle="modal">
  World Traveler
        <div class="caption">
          <div class="caption-content">
          </div>
        </div>
      </a>
              </li>
                            <li>
                <a href="#portfolioModal10" class="portfolio-link" data-toggle="modal">
 banners
        <div class="caption">
          <div class="caption-content">
          </div>
        </div>
      </a>
              </li>
              <li>
                <a href="#portfolioModal11" class="portfolio-link" data-toggle="modal">
  Zesty Fresh
        <div class="caption">
          <div class="caption-content">
          </div>
        </div>
      </a>
              </li>
            </ul>
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2>Democracy Tuesday</h2>
                <p class="item-intro text-muted">Newsletter to empower users with update current news</p>
                <img class="img-responsive img-centered" src="static/img/portfolio/iphone-dt.png" alt="">
                <h4>What is the purpose:</h4>
<p>The concept of Democracy Tuesday is to empower individuals to stay updated with current news. Finding creditable news sources is a significant issue today. We are targeting young professionals in hopes the newsletter provides a quick read to insightful news on current events and politics. The newsletter will engage users in a quick read and also allow them to take action in their own local communities.</p>
<h4>Problem trying to solve:</h4>
Client’s goal is to reach out to as many users as possible who are interested in learning and participating in current politics. The concept is to allow them to gain insight and exposure to current topics while to staying up- to-date and informed. Current newsletter is text email where look and feel do not convey client’s excitement about user’s engagement in politics.
<h4>Goals</h4>
• need a way to reach out to new and current users
• need a way to interest more users with an attractive interface
• desire a customized logo and banner
<h4>Scenario:</h4> Reading the news as you go to work
• user is on public transit
• user checks emails
• user clicks Democracy Tuesday
• user has a quick read of content
• user can choose to continue to read or click other content
                <img class="img-responsive img-centered" src="static/img/portfolio/dt-notes.png" alt="">

<h4>Sketching Interactions:</h4>
Based on the concept and user scenarios, I then sketched the interface interactions. The sketch was of three different email designs. The sketches take into account each platform for which I am designing the newsletter : IOS, Andriod, and Web
                <img class="img-responsive img-centered" src="static/img/portfolio/dt-user.png" alt="">

<h4>Wireframes:</h4>
<h4>Research: Theme and Vision Board</h4>
After research on newsletter as well as gathering information about client’s needs as well as the users I created a vision board to to illustrate theme, look and feel of the newsletter.
I created wireframes that detail where the elements and content should be placed on each
Mobile and Desktop Wireframe
                <img class="img-responsive img-centered" src="static/img/portfolio/dt-theme.png" alt="">

<h4>Mockups: First iteration</h4>
I incorporated the client’s needs into two variations of the newsletter.
In the first mockup I used the clients colors. In the second mock-up I chose colors I thought would help to instantly inform users of the newsletter content.
                <img class="img-responsive img-centered" src="static/img/portfolio/dt1iteration.png" alt="">
                <img class="img-responsive img-centered" src="static/img/portfolio/dtiteration.png" alt="">

<h4>Mockups: Second Iteration</h4>
Changed the mockup to new colors and I added header image and subscribe button at the top
                <img class="img-responsive img-centered" src="static/img/portfolio/dt-iteration2.png" alt="">
                                <img class="img-responsive img-centered" src="static/img/portfolio/dt-iteration2-2.png" alt="">


<h4>Mockups: Third iteration</h4>
Removed header image and added grey boxes around text to highlight its content
                <img class="img-responsive img-centered" src="static/img/portfolio/dt-third-iteration.png" alt="">

<h4>Mockups: Final iteration</h4>
After presenting two clients decided they wanted to add back the header image for the final draft.
                <img class="img-responsive img-centered" src="static/img/portfolio/dt-mockup.png" alt="">














                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl">
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2>Hair by Al</h2>
                <p class="item-intro text-muted">Hair Stylist webiste</p>
                <img class="img-responsive img-centered" src="static/img/portfolio/al-site.png" alt="">



                <h4>What is the purpose:</h4>
<p>The concept of Hair by Al is to gain web presence for new clients. Also easier way for users to find information about services as well as booking appointments
</h4>
Client’s goal is to gain new clients with web presence where users can learn about stylist and his services he offers.
<h4>Goals</h4>
•   Web Presence
•   Way to book appointments
•   Way to contact
                <img class="img-responsive img-centered" src="static/img/portfolio/al-notes.png" alt="">


<h4>Scenario:</h4> Reading the news as you go to work
• user is on public transit
• user checks emails
• user clicks Democracy Tuesday
• user has a quick read of content
• user can choose to continue to read or click other content
                <img class="img-responsive img-centered" src="static/img/portfolio/al-user.png" alt="">

<h4>Sketching Interactions:</h4>
Based on the concept and user scenarios, I then sketched the interface interactions. The sketch was of three different email designs. The sketches take into account each platform for which I am designing the newsletter : IOS, Andriod, and Web
                <img class="img-responsive img-centered" src="static/img/portfolio/al-wireframe-sketches.png" alt="">

<h4>Wireframes:</h4>
I created wireframes that detail where the elements and content should be placed on each section of the webpage.

<h4>Research: Theme and Vision Board</h4>
After learning about client’s vision and needs for his website. I did additional research to learn more about stylist and salons. This allowed me to make sure the right content was added for this type of industry. After the research I created vision board for Client’s website.
    <img class="img-responsive img-centered" src="static/img/portfolio/al-theme.png" alt="">
<h4>Final Mockups</h4>


    <img class="img-responsive img-centered" src="static/img/portfolio/al-mockup.png" alt="">



                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="portfolio-modal modal fade" id="portfolioModal9" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl">
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2>World Traveler Blog</h2>
                <p class="item-intro text-muted">Client's Digital Journal</p>
                <img class="img-responsive img-centered" src="static/img/portfolio/world-traveler.png" alt="">
                 <p>Created Mockup for blogger who travels. World Traveler is all about life as a digital nomad with hands-on advice on how you can travel and work professionally at the same time. She wanted to share her knowledge about long-term travel, personal freedom and location independence </p>

                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
      <div class="portfolio-modal modal fade" id="portfolioModal10" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl">
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2>Banner Designs</h2>
                <p class="item-intro text-muted">Client's Digital Journal</p>
                <p>Created banners using shapes using different variety of colors. </p>
                <img class="img-responsive img-centered" src="static/img/portfolio/banner1.png" alt="">
                <img class="img-responsive img-centered" src="static/img/portfolio/banner2.png" alt="">
                <img class="img-responsive img-centered" src="static/img/portfolio/banner3.png" alt="">
                <img class="img-responsive img-centered" src="static/img/portfolio/banner5.png" alt="">

                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
