 {% block content %}
<!-- Portfolio Modals -->
<!-- Use the modals below to showcase details about your portfolio projects! -->
<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2>Wanderlust</h2>
              <p class="item-intro text-muted">Track your travels</p>
              <img src="../static/img/portfolio/wanderlust.png" class="img-responsive img-centered" alt="">
              <p>Wanderlust allows world travelers to track their country or state visits using a D3 interactive map. This map enables users to click on a country or state. Once the country or state color has been changed, the visits are stored for future use. A user has the ability to upload a photo, which then becomes a postcard. The front displays a picture, while the back displays the address and description. Wanderlust also provides users with a timeline in which they can add their photos and journal their travels. This app allows users to track all their travels in one convenient place. Discover new and exciting places and track all your world travels with Wanderlust.</p>
              <p>Stack: Pyton, JavaScript / jQuery, Bootstrap, HTML5, CSS3, D3.js</p>
              <ul class="list-inline item-details">
                <li>Client:
                  <strong><a href="http://www.umapetersen.com">Uma Petersen</a>
                                </strong>
                </li>
                <li>Date:
                  <strong>December 2015</strong>
                </li>
                <li>Service:
                  <strong>Web Development</strong>
                </li>
              </ul>
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Smart Controls</h2>
              <p class="item-intro text-muted">House simulation</p>
              <img class="img-responsive img-centered" src="static/img/portfolio/smartcontrols.png" alt="">
              <p><a href="http://jquerysmartcontrols.herokuapp.com/">Smart Cntrols</a> is a jQuery application simulating house automation. jQuery Smart Control4’s Home provides a control panel enabling users to interact with their homes while they are away. One feature enables users to turn a light on and off. A temperature control panel regulates a home’s temperature. This panel includes the added features of enabling users to open a window, turn on a fan, or start a fire. jQuery Smart Control4’s Home uses Python, Flask, and JavaScript.
                <ul class="list-inline item-details">
                  <li>Client:
                    <strong><a href="#">Project</a>
                                    </strong>
                  </li>
                  <li>Date:
                    <strong><a href="#">March 2017</a>
                                    </strong>
                  </li>
                  <li>Service:
                    <strong><a href="#">Web Development</a>
                                    </strong>
                  </li>
                </ul>
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2>Le Mur Des Fleur</h2>
              <p class="item-intro text-muted">Wallpaper Ecommerce Store</p>
              <img class="img-responsive img-centered" src="static/img/portfolio/johanna.png" alt="">
              <p>Created a website where users can buy profesional wallpaper design and photographed by Johanna Rivera
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 4 -->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2>Ryan Fanelli</h2>
              <p class="item-intro text-muted">Business Website</p>
              <img class="img-responsive img-centered" src="static/img/portfolio/ryanfaneli.png" alt="">
              <p>Ryan Fanelli Painting, Inc Business Website. This is a one page responsive business web page for Rayns painting business. I used bootstrap to construct the layout. Added Ryan's logo and business colors to make site authentic to business and owner.</p>
              <ul class="list-inline item-details">
                <li>Client:
                  <strong><a href="#">Ryan Fanelli</a>
                                    </strong>
                </li>
                <li>Date:
                  <strong><a href="#">December 2015</a>
                                    </strong>
                </li>
                <li>Service:
                  <strong><a href="#">Web Development</a>
                                    </strong>
                </li>
              </ul>
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 5 -->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2>Decisions</h2>
              <p class="item-intro text-muted">Magic 8 Ball</p>
              <img class="img-responsive img-centered" src="static/img/portfolio/decisions.png" alt="">
              <p>Magic 8 ball game built in JavaScript.</p>
              <ul class="list-inline item-details">
                <li>Client:
                  <strong><a href="http://www.umapetersen.com">Uma Petersen</a>
                                    </strong>
                </li>
                <li>Date:
                  <strong>December 2015
                                    </strong>
                </li>
                <li>Service:
                  <strong>Web Development
                                    </strong>
                </li>
              </ul>
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 6 -->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2>Timeline</h2>
              <p class="item-intro text-muted">Timeline that is build in JavaScript</p>
              <img class="img-responsive img-centered" src="static/img/portfolio/timeline.png" alt="">
              <p>Constructed a horizontal timeline using Python, Flask and JavaScript. Timeline dynamically renders human lifetimes. Timeline displays each person’s name, date of birth, death along with a summary of each individual.<a href="https://github.com/upcode/JavaScript-project">GitHub Link</a>. </p>
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
