{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading">Design &amp; Code</h2>
      <hr>
     <!--  <h3 class="section-subheading text-muted">The Designer</h3> -->
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
    <h4 class="content-heading">The Designer</h4>
      <p>I think of software engineering as an art; I like to combine creativity and logic into my software. I feel this gives me a unique perspective. I like to find inspiration in everyday things when it comes to programing and designing web applications. My inspiration comes from reading a book, walking the streets of San Francisco, or incorporating technology to solve my own problems. I often feel people forget how creative software development can be. Each artist has her own medium. Some use canvas, some paper, some paint on walls. My medium is my computer, where my creativity, inspiration, and imagination come to life. My paintbrush is my code.</p>
      <h4> User Experience Design </h4>
      <p> From concepts to wireframes to pixel-perfect interfaces, I utilize user centered design principles. I focus on concept, content, and functionality. Depending on the project, I'll make diagrams, sketches, clickable mockups using pen/paper, Sketch, Invision, or HTML/CSS and JavaScript to create beautiful designs.</p>
      <a href="#portfolioModal7" class="btn-lg btn btn-default portfolio-link" data-toggle="modal" role="button">View Example <i class="fa fa-arrow-right"></i></a>
    </div>
    <div class="col-lg-6">
      <img src="/static/img/design/ux-diagram.png" class="img-responsive" id="ux-venn" />
    </div>
  </div>
  <!-- UX Process Section -->
  <div class="row" id="ux-process">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading text-center">Define &sdot; Design &sdot; Deliver</h2>
      <hr>
      <h4 class="section-subheading text-muted text-center">My UX/UI Design Process</h4>
    </div>
  </div>
  <br>
  <div class="row text-center">
    <div class="col-md-4">
      <div class="ih-item circle effect11 right_to_left circle1 center">
        <a href="#">
          <div class="img text-center ux">
            <span class="fa-stack fa-3x">
          <i class="fa fa-globe fa-stack-2x fa-inverse"></i>
        </span>
          </div>
          <div class="info">
            <h5>Discover</h5>
            <ul>
              <li>Business goals</li>
              <li>Business requirements</li>
              <li>Techincal constraints</li>
              <li>User inforamtion</li>
            </ul>
          </div>
        </a>
      </div>
      <h4 class="service-heading">Discover &amp; Define</h4>
      <p class="text-muted">Brainstrom many possible solutions. Build a represenation of solutions. Test design with users for feedback.</p>
    </div>
    <div class="col-md-4">
      <div class="ih-item circle effect11 right_to_left circle2 center">
        <a href="#">
          <div class="img text-center ux">
            <span class="fa-stack fa-3x">
          <i class="fa fa-laptop fa-stack-2x fa-inverse"></i>
          </span>
          </div>
          <div class="info">
            <h5>Design</h5>
            <ul>
              <li>Layout Design</li>
              <li>Interaction Design</li>
              <li>Wireframes</li>
              <li>Visual Design</li>
              <li>Motion Design</li>
            </ul>
          </div>
        </a>
      </div>
      <h4 class="service-heading">Design &amp; Test</h4>
      <p class="text-muted">Brainstrom many possible solutions. Build a represenation of solutions. Test design with users for feedback.</p>
    </div>
    <div class="col-md-4">
      <div class="ih-item circle effect11 right_to_left circle3 center">
        <a href="#">
          <div class="img text-center ux">
            <span class="fa-stack fa-3x">
            <i class="fa fa-code fa-stack-2x fa-inverse"></i>
        </span>
          </div>
          <div class="info">
            <h5>Build &amp; Deploy </h5>
            <ul>
              <li>Working Product</li>
            </ul>
          </div>
        </a>
      </div>
      <h4 class="service-heading">Build &amp; Deploy</h4>
      <p class="text-muted">Take design and program design. Test application or web site. Deploy final product.</p>
    </div>
  </div>
  {% endblock %}
