{% block content %}
	<div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="module-title">
                    <img src="static/images/section2/design-text-box.png" alt="text-box" />
                </div>

                <div class="module-subtitle font-serif">
                    "To me programming is more than an important practical art.
                    <br/> It is also a gigantic undertaking in the foundations of knowledge".
                    <br/>
                    <small>Grace Hopper</small></div>
            	</div>
            </div>
            <div class="row">
                <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-4">
                    <div class="team-item">
                        <h3 class="font-serif align-right">Art of the Software Engineer</h3>
                        <p class="align-right">I'm a Full Stack Software Engineer from San Francisco with an interest in User Interface Design. I enjoy turning complex problems into simple, intuitive, minimalist interface designs. Specializing in the development of high-quality user interfaces delivering optimal user experiences across web, application, and other platforms. </p>
                        <p class="align-right">Collaborative communication among end users, designers, and developers while effectively creating well-received products. Extensive technical skills spanning languages, frameworks and libraries, and applications and tools. Big picture thinker excelling in solution development for intricate problems.
                        </p>
                        <a href="/portfolio.html" class="btn btn-default btn-md">
                            <span class="network-name">View Web Projects</span></a>
                        <h3 class="font-serif align-right">Technologies</h3>
                        <ul class="list texts align-right">
                            <li><em></em><i class='fa fa-check'></i> Javascript / jQuery</li>
                            <li><em></em><i class='fa fa-check'></i>HTML5</li>
                            <li><em></em><i class='fa fa-check'></i>CSS3</li>
                            <li><em></em><i class='fa fa-check'></i>Responsive Web Designs</li>
                            <li><em></em><i class='fa fa-check'></i>User Experience Design</li>
                 			<li><em></em><i class='fa fa-check'></i>Data Visualization</li>
                        </ul>
                	</div>
                </div>
                <div class="mb-sm-20 wow fadeIn col-sm-6 col-md-4">
                    <div class="team-item">
                        <img src="static/images/section4/about-image.png" alt="Portfolio Item" />
                    </div>
                </div>
                <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-4 ">
                    <div class="team-item">
                        <h3 class="font-serif align-left">The Designer</h3>
                        <p class="align-left">I think of software engineering as an art; I like to combine creativity and logic into my software. I feel this gives me a unique perspective. I like to find inspiration in everyday things when it comes to programing and designing web applications. My inspiration comes from reading a book, walking the streets of San Francisco, or incorporating technology to solve my own problems.</p>
                        <p class="align-left">I often feel people forget how creative software development can be. Each artist has her own medium. Some use canvas, some paper, some paint on walls. My medium is my computer, where my creativity, inspiration, and imagination come to life. My paintbrush is my code.</p>
                        <a href="/democracy-tuesday.html" class="btn btn-default btn-md" class="btn btn-default btn-md">
                            <span class="network-name">View UX/UI Projects</span></a>
                        <h3 class="font-serif align-left">User Experience Design</h3>
                        <p class="align-left">From concepts to wireframes to pixel-perfect interfaces, I utilize user centered design principles. I focus on concept, content, and functionality. Depending on the project, I'll make diagrams, sketches, clickable mockups using pen/paper, Sketch, Invision, or HTML/CSS and JavaScript to create beautiful designs.</p>
                    </div>
                </div>
            </div><!--// end row-->
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div id="mainBubble" class="bubble-chart">
                            <svg class="mainBubbleSVG"></svg>
                            <script src="/static/js/d3bubble.js"></script>
                        </div>
                    </div>
                </div>
    </div><!--// end container-->
{% endblock %}
