 {% block content %}
<section class="module" id="about">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 align-center">
                <img src="static/images/section4/about-text-box.png" alt="Portfolio Item" />
            </div>
        </div>
        <div class="row position-relative m-0">

            <div class="col-xs-12 col-md-6 side-image-text about-image">
                                    <img src="static/images/section4/about-image.png" alt="Portfolio Item" />

                                    </div>

  <!--               <ul class="works-grid works-grid-gut works-grid- " id="works-grid">
                    <li class="work-item illustration webdesign">
                        <img src="static/images/section4/creative.png" alt="Portfolio Item" />
                    </li>
                    <li class="work-item illustration webdesign">
                        <img src="static/images/section4/white.png" alt="Portfolio Item" />
                    </li>
                </ul>
                <ul class="works-grid works-grid-gut works-grid-2" id="works-grid">
                    <li class="work-item illustration webdesign">
                        <img src="static/images/section4/about-image2.png" alt="Portfolio Item" />
                    </li>
                    <li class="work-item illustration webdesign">
                        <img src="static/images/section4/logic.png" alt="Portfolio Item" />
                    </li>
                </ul>
            </div> -->
            <div class="col-xs-12 col-md-6 side-image-text about-text">
                <h3 class="font-alt mb-40 titan-title-size-5">
         I am<span class="rotate"> Creative  | Logical | Ambitious | Intutive | Conscientious | Funny | Passionate | Innovative</span>
          </h3>
                <h3 class="font-serif align-left">My Story</h3>
                <p>When I'm not coding or pushing pixels, you'll find me enjoying the challenge of learning a new language, traveling, listening to music, and enjoying city life. I am creative, I am innovator and problem slover. My experiences, 2, and passion for learning drive me to seek newadventures in all aspects of my life. </p>

            </div>
        </div>
    </div>
</section>
                                    {% include "pages/skills.html"%}

{% endblock %}
