 {% block content %}
<section class="home-section home-parallax home-fade home-full-height bg-dark-60 agency-page-header" id="home" data-background="static/assets/images/agency/header_bg.png">
  <div class="titan-caption">
    <div class="caption-content">
      <div class="font-alt mb-30 titan-title-size-3">Uma Petersen</div>
      <div class="font-alt mb-40 titan-title-size-1">Imagination . Creativity . Passion <span class="rotate">+ Logic | + Design</span> = U.P.&#x21e1;[code]
      </div><a class="section-scroll btn btn-border-w btn-circle" href="#portfolio">Learn More</a>
    </div>
  </div>
</section>
{% endblock %}
