 {% block content %}
 <section class="module bg-dark-60 pt-0 pb-0 parallax-bg testimonial" data-background="/static/images/banners/banner-sf.png">
    <div class="testimonials-slider pt-140 pb-140">
      <ul class="slides">
        <li>
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="module-icon"><span class="icon-quote"></span></div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                <blockquote class="testimonial-text font-alt">Software engineers often enjoy their jobs because they solve complex problems using a blend of logical reasoning and creativity. Engineers are taught a number of tools in school, but learning is ongoing on the job as technologies change and evolve</blockquote>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 col-sm-offset-4">
                <div class="testimonial-author">
                  <div class="testimonial-caption font-alt">
                    <div class="testimonial-title">Alexander Dobkins</div>
                    <div class="testimonial-descr">Bloomberg, Software Engineer</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="module-icon"><span class="icon-quote"></span></div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                <blockquote class="testimonial-text font-alt">Uma is an amazing person to work with. At Groupon she consistently brought fresh perspectives and new ideas. Uma’s ability to understand both back and front end development frameworks make her uniquely qualified as an experience designer. She is able to connect with all facets of the business— be it designers, stakeholders, developers or users. She’s an asset to any team.</blockquote>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 col-sm-offset-4">
                <div class="testimonial-author">
                  <div class="testimonial-caption font-alt">
                    <div class="testimonial-title">Roshan Pourabdollah </div>
                    <div class="testimonial-descr">peerlyst.com, Technical Product Manager</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="module-icon"><span class="icon-quote"></span></div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                <blockquote class="testimonial-text font-alt">Uma is great to work with! She is smart, patient, and has a real eye for design. I appreciate that she will always take the time to hear you out and help you. She also writes clear documentation that can be referenced again and again.</blockquote>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 col-sm-offset-4">
                <div class="testimonial-author">
                  <div class="testimonial-caption font-alt">
                    <div class="testimonial-title">Emily Morgado</div>
                    <div class="testimonial-descr">FATHOM, Software Engineer</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
   {% endblock %}