{% block content %}
         <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
              <img src="static/images/section4/about-text-box.png" alt="Portfolio Item" />
              </div>
              </div>

            <div class="row">
              <div class="mb-sm-20 wow fadeInUp col-md-4 col-sm-4 col-xs-12 col-sm-offset-2">
                  <div class="team-item">
<!--                   <div class="team-image">
 -->                  <img src="static/images/section1/engineer-image.png" class="engineer-image" alt="Member Photo">
                   <div class="team-descr font-alt">
                    <div class="team-name">Uma Petersen</div>

                    <div class="team-role">Software Engineer &amp; Designer</div>

<!--                </div>
 -->
                  <!--  <div class="team-detail">
                      <h5 class="font-alt">Design &sdot; Build &sdot; Code</h5>
                      <p class="font-serif">“My Medium is my computer, where my creativity, inspiration and imagination comes to life".</p>
                      <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                    </div>
                  </div>

                  <div class="team-descr font-alt">
                    <div class="team-name">Uma Petersen</div>
                    <div class="team-role">Software Engineer &amp; Designer</div>
                  </div> -->
                </div>
                </div>
                </div>
                <div class="mb-sm-20 wow fadeInUp col-md-4 col-sm-4 col-xs-12">

                  <h3 class="font-serif align-left engineer-image">My Story</h3>
                         <h5 class="font-alt team-name">
                  I am<span class="rotate"> Creative  | Logical | Ambitious | Intutive | Conscientious | Funny | Passionate | Innovative</span>
                  </h5>

                  <p>When I'm not coding or pushing pixels, you'll find me enjoying the challenge of learning a new language, traveling, listening to music, and enjoying city life. I am creative, I am innovator and problem slover. My experiences, 2, and passion for learning drive me to seek newadventures in all aspects of my life. </p>
                  </p>
                     <h3 class="font-serif  mb-30">My Skill</h3>
                <h6 class="font-alt"><span class="icon-tools-2"></span> Development
                </h6>
                <div class="progress">
                  <div class="progress-bar pb-dark" aria-valuenow="60" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
                </div>
                <h6 class="font-alt"><span class="icon-strategy"></span>Generate a great quantity of ideas
                </h6>
                <div class="progress">
                    <div class="progress-bar pb-dark" aria-valuenow="80" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span>
                    </div>
                </div>
                <h6 class="font-alt"><span class="icon-cloud"></span> where most people see problems I see opportunities
                </h6>
                 <div class="progress">
                  <div class="progress-bar pb-dark" aria-valuenow="90" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
                </div>
                <h6 class="font-alt"><span class="icon-pencil"></span> Designing
                </h6>
                <div class="progress">
                    <div class="progress-bar pb-dark" aria-valuenow="70" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span>
                    </div>
                </div>
                <h6 class="font-alt"><span class="icon-pencil"></span></span>Calligraphy
                </h6>
                <div class="progress">
                  <div class="progress-bar pb-dark" aria-valuenow="50" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
                </div>
                <h6 class="font-alt"><span class="icon-camera"></span> Photography
                </h6>
               <div class="progress">
                  <div class="progress-bar pb-dark" aria-valuenow="100" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
                </div>
              </div>
              </div>
            </div>






{% endblock %}