 {% block content %}
<section class="module-small bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-4 col-offset-2">
        <div class="callout-title font-alt">
          <h2>Connect with me</h2>
        </div>
      </div>
      <div class="col-sm-4 col-md-4 col-offset-2"">
        <ul class="list-inline">
          <li>
            <a href="https://dribbble.com/upcode" class="btn btn-default btn-sm"><i class="fa fa-dribbble fa-fw"></i> <span class="network-name">Dribble</span></a>
          </li>
          <li>
            <a href="https://github.com/upcode" class="btn btn-default btn-sm"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/umapetersen" class="btn btn-default btn-sm"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock %}
