 {% block content %}
  <section class="module-small bg-dark" data-background="/static/images/banners/banner3.png">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-8 col-lg-6 col-lg-offset-2">
          <div class="callout-text font-alt">
           <p class="banner-text">Design<sapn></sapn>&sdot;<span></span>Code<span></span>&sdot;<span></span>Build</p>
          <!--    <p class="quote">"The future belongs to those who believe in the beauty of their dreams."
             <small>Eleanor Roosevelt</small>
             </p> -->
               <h3 class="callout-title banner3">Want to see my work?</h3>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2">
          <div class="callout-btn-box"><a class="btn btn-w btn-round" href="#portfolio">Lets view portfolio</a></div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}


