{% block content %}

      <div class="container">
          <div class="navbar-header">
              <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="index.html">Uma Petersen</a>
          </div>
          <div class="collapse navbar-collapse" id="custom-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li class="page-scroll"><a class="page-scroll" href="/#header">Home</a></li>
                <li class="page-scroll"><a class="page-scroll" href="/#design-code" data-toggle="page-scroll">Design &amp; Code</a></li>
                <li class="page-scroll "><a class="page-scroll" href="/#portfolio" data-toggle="page-scroll">UX Portfolio</a></li>
                <li class="page-scroll "><a class="page-scroll" href="/#about" data-toggle="page-scroll">About</a></li>
                <li class="dpage-scroll">
                <a class="page-scroll" href="#contact" data-toggle="page-scroll" ">Contact</a></li>
              </ul>
          </div>
      </div>
{% endblock %}
