 {% block content %}
<section id="about" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About</h2>
        <hr>
        <h3 class="section-subheading text-muted">My Story</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 text-center">
        <div class="team-member">
          <img src="/static/img/uma-circle.jpg" class="img-responsive
            " alt="">
        </div>
      </div>
      <div class="col-lg-6 text-center">
        <p class="large text-muted"></p>
        <p class="text-muted"> When I'm not coding or pushing pixels, you'll find me enjoying the challenge of learning a new language, traveling, listening to music, and enjoying city life. I am creative, I am innovator and problem slover. My experiences, education, and passion for learning drive me to seek new adventures in all aspects of my life.</p>
        <h3 class="content-heading">My Skills</h3>
        <ul class="list text">
          <li><em></em><i class='fa fa-check'>
            </i>Creative
          </li>
          <li><em></em><i class='fa fa-check'>
            </i>Generate a great quantity of ideas
          </li>
          <li><em></em>
            <i class='fa fa-check'>
            </i>Where most people see problmes I see I see opportunities
          </li>
          <li><em></em>
            <i class='fa fa-check'></i>Wheel Throwing &amp; Wood Working
          </li>
          <li><em></em>
            <i class='fa fa-check'></i>Calligraphy
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <div class="chart-div">
          {% include "bar_chart_diagram.html" %}
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
