{% block content %}
	<div class="container">

            <div class="row">

                </div>

                <div class="mb-sm-20 wow fadeIn col-sm-6 col-md-6">
                    <div class="team-item">
                        <img src="static/images/design/design.png" id="design-image" alt="Portfolio Item" />
                    </div>
                </div>


                <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-6 ">
                  <div class="module-title font-alt align-left">
                    <img src="static/images/design/design-text-box.png" alt="text-box" />
                  </div>
                  <div class="module-subtitle font-serif">
                    "To me programming is more than an important practical art.
                    <br/> It is also a gigantic undertaking in the foundations of knowledge".
                    <br/>
                    <small>Grace Hopper</small></div>
                    <div class="team-item">
                        <h3 class="font-serif align-left">The Designer</h3>
                        <p class="align-left">I think of software engineering as an art; I like to combine creativity and logic into my software. I feel this gives me a unique perspective. I like to find inspiration in everyday things when it comes to programing and designing web applications. My inspiration comes from reading a book, walking the streets of San Francisco, or incorporating technology to solve my own problems.</p>
                        <p class="align-left">I often feel people forget how creative software development can be. Each artist has her own medium. Some use canvas, some paper, some paint on walls. My medium is my computer, where my creativity, inspiration, and imagination come to life. My paintbrush is my code.</p>
                        <a href="/democracy-tuesday.html" class="btn btn-default btn-md" class="btn btn-default btn-md">
                            <span class="network-name">View UX/UI Projects</span></a>
                        <h3 class="font-serif align-left">User Experience Design</h3>
                        <p class="align-left">From concepts to wireframes to pixel-perfect interfaces, I utilize user centered design principles. I focus on concept, content, and functionality. Depending on the project, I'll make diagrams, sketches, clickable mockups using pen/paper, Sketch, Invision, or HTML/CSS and JavaScript to create beautiful designs.</p>
                    </div>
                </div>

                </div>

    </div><!--// end container-->
            <hr class="divider-w">
             <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <h4 class="font-alt mb-30">My UX Design Process</h4>
                <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title font-alt"><a data-toggle="collapse" data-parent="#accordion" href="#support1">Learn</a></h4>
                    </div>
                    <div class="panel-collapse collapse in" id="support1">
                      <div class="panel-body">Gain knowledge of users, context, technologies, etc
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title font-alt"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#support2">Explore</a></h4>
                    </div>
                    <div class="panel-collapse collapse" id="support2">
                      <div class="panel-body">Produce design concepts for possible solutions.
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title font-alt"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#support3">Select</a></h4>
                    </div>
                    <div class="panel-collapse collapse" id="support3">
                      <div class="panel-body"> Evaluate and select design concept(s) for development.
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title font-alt"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#support4">Develop</a></h4>
                    </div>
                    <div class="panel-collapse collapse" id="support4">
                      <div class="panel-body"> Evolve concept into full design solution
                      </div>
                    </div>
                  </div>
                    <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title font-alt"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#support4">Refine</a></h4>
                    </div>
                    <div class="panel-collapse collapse" id="support4">
                      <div class="panel-body">Evaluate design with stakeholders to obtain feedback.
                      </div>
                    </div>
                  </div>
                        <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title font-alt"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#support4">Deliver</a></h4>
                    </div>
                    <div class="panel-collapse collapse" id="support4">
                      <div class="panel-body"> Complete design and produce deliverables
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <h4 class="font-alt mb-30">My Expertises</h4>
                <h6 class="font-alt"><span class="icon-tools-2"></span> Development
                </h6>
                <div class="progress">
                  <div class="progress-bar pb-dark" aria-valuenow="60" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
                </div>
                <h6 class="font-alt"><span class="icon-strategy"></span>Generate a great quantity of ideas
                </h6>
                   <div class="progress">
                  <div class="progress-bar pb-dark" aria-valuenow="90" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
                </div>
                <h6 class="font-alt"><span class="icon-pencil"></span> Designing
                </h6>
                <div class="progress">
                    <div class="progress-bar pb-dark" aria-valuenow="85" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span>
                    </div>
                </div>
                <h6 class="font-alt"><span class="icon-cloud"></span> where most people see problems I see opportunities
                </h6>
                <div class="progress">
                  <div class="progress-bar pb-dark" aria-valuenow="80" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
                </div>
                <h6 class="font-alt"><span class="icon-target"></span> Marketing
                </h6>
                <div class="progress">
                  <div class="progress-bar pb-dark" aria-valuenow="50" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
                </div>
                <h6 class="font-alt"><span class="icon-camera"></span> Photography
                </h6>
                 <div class="progress">
                    <div class="progress-bar pb-dark" aria-valuenow="50" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span>
                    </div>
                </div>
                <h6 class="font-alt"><span class="icon-pencil"></span></span>Calligraphy
                </h6>

                <div class="progress">
                  <div class="progress-bar pb-dark" aria-valuenow="70" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
                </div>
                <h6 class="font-alt"><span class="icon-lifesaver"></span> Dedication
                </h6>
                <div class="progress">
                  <div class="progress-bar pb-dark" aria-valuenow="100" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
                </div>
              </div>
            </div>
          </div>

{% endblock %}
