{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>Portfolio</h2>
      <hr class="star-primary">
    </div>
  </div>

<div class="row">
  <div class="col-lg-4 col-lg-offset-2">

    <div class="skill-container">
      <div class="skill-circle center-block">
        <img src="static/img/ux.png" class="center-block vertical-align">
      </div>
      <div class="skill">
        <p class="caption text-center">Wireframing</p>
      </div>
      <div class="skill">
        <p class="caption text-center">Visual Design</p>
      </div>
      <div class="skill">
        <p class="caption text-center">Research</p>
      </div>
      <div class="skill">
        <p class="caption text-center">User Testing</p>
      </div>
      <div class="skill">
        <p class="caption text-center">Prototyping</p>
      </div>
      <div class="skill">
        <p class="caption text-center">Sketch</p>
      </div>
      <div class="skill">
        <p class="caption text-center">InVision</p>
      </div>
    </div>

    <div class="ux-box">
    <h3> User Experience Design </h3>
    <p> From concepts to wireframes to pixel-perfect interfaces, I utilize user centered design principles to create beautiful design. </p>
    <a href="#portfolioModal1" class="btn-lg btn btn-default portfolio-link" data-toggle="modal" role="button">View Example <i class="fa fa-arrow-right"></i></a>

  </div>
  </div>
    <div class="col-lg-4 col-lg-offset-2">

  <div class="skill-container">
    <div class="skill-circle center-block">
      <img src="static/img/dev.png" class="center-block vertical-align">
    </div>
    <div class="skill">
      <p class="caption text-center">HTML5</p>
    </div>
    <div class="skill">
      <p class="caption text-center">CSS3</p>
    </div>
    <div class="skill">
      <p class="caption text-center">JavaScript &amp; jQuery</p>
    </div>
     <div class="skill">
      <p class="caption text-center">Python</p>
    </div>
    <div class="skill">
      <p class="caption text-center">Agile Methodologies</p>
    </div>

    </div>
      <div class="dev-box">

  <h3> Web Development </h3>
  <p> I have the ability to make my designs a reality in code. My focus has been on web development</p>
  <a href="#portfolioModal2" class="btn-lg btn btn-default portfolio-link" data-toggle="modal" role="button">View Example <i class="fa fa-arrow-right"></i></a>
</div>
</div>
</div>
</div>

{% endblock %}
