<div class="col-lg-4 col-lg-offset-2">
  <div class="image-frame">
    <img src="/static/img/profile/aboutme_1.jpg" class="img-responsive aboutMe" id="aboutme1-img" alt="bubble-image" />
    <a href="http://www.bentonstreetphotography.com">
      <small>Photo by Joahanna</small>
    </a>
  </div>
</div>
<div class="col-lg-4 col-lg-offset-2">
  <h3 class="content-heading">Art of the Software Engineer</h3>
  <p class="text">
    I'm a Full Stack Software Engineer from San Francisco with an interest in User Interface Design. I enjoy turning complex problems into simple, intuitive, minimalist interface designs. Specializing in the development of high-quality user interfaces delivering optimal user experiences across web, application, and other platforms. Collaborative communication among end users, designers, and developers while effectively creating well-received products. Extensive technical skills spanning Languages, frameworks and libraries, and applications and tools. Big picture thinker excelling in solution development for intricate problems.
  </p>
  <ul class="list-inline intro-social-buttons">
    <li>
      <a href="/resume" class="btn-outline btn-md"><i class="fa fa-download"></i> <span class="network-name">Resume</span></a>
    </li>
    <li>
      <a href="https://github.com/upcode" class="btn-outline btn-md"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/umapetersen" class="btn-outline btn-md"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
    </li>
  </ul>
  <h3 class="content-heading">Technologies</h3>
  <ul class="list text">
    <li><em></em><i class='icon-ok'></i> Javascript / jQuery</li>
    <li><em></em><i class='icon-ok'></i>HTML5</li>
    <li><em></em><i class='icon-ok'></i>CSS3</li>
    <li><em></em><i class='icon-ok'></i>Responsive Web Designs</li>
    <li><em></em><i class='icon-ok'></i>User Experience Design</li>
    <li><em></em><i class='icon-ok'></i>Single Page Web App</li>
    <li><em></em><i class='icon-ok'></i>User Interactions</li>
    <li><em></em><i class='icon-ok'></i>Data Visualization</li>
    <li><em></em><i class='icon-ok'></i>Wireframes / Layout</li>
  </ul>
</div>
<!-- End Row -->
<div class="row">
  <div class="col-lg-8 col-lg-offset-2 text-center">
    <div id="mainBubble" style="height: auto;" class="bubble-chart mobile-hide">
      <svg class="mainBubbleSVG" width="1089.8020000000001" height="763"></svg>
      <script src="/static/js/d3bubble.js"></script>
    </div>
 </div>
  </div>

  <!--   <h1 class="tech-stack-title">Technologies Stack</h1>
  <div class="tech-stack-container">
    <svg id="teck-stack-svg" width="100%" height="700" font-family="sans-serif" font-size="10" text-anchor="middle"></svg>
    <p>Click on a circle to view details or drag them around. Have fun ;)</p>
  </div>

  <script src="static/js/tech-stack/d3.min.js"></script>
  <script src="static/js/tech-stack/d3-legend.min.js"></script>
  <script src="static/js/tech-stack/techstack-main.js"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script> -->





