<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Uma Petersen</title>
  <!--============= D3 JAVASCRIPT =================-->
  <script type="text/javascript" src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="/static/js/d3-bubble.js"></script>
  <script type="text/javascript" src="/static/js/d3pie.js"></script>
  <script type="text/javascript" src="/static/js/d3pie.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.4/d3.min.js"></script>
  <script type="text/javascript" src="/static/js/custom.js"></script>
  <!-- Bootstrap Core CSS -->
  <link href="static/bootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Theme CSS -->
  <!--  <link href="static/bootstrap/css/freelancer.min.css" rel="stylesheet"> -->
  <!-- Custom Fonts -->
  <link href="static/bootstrap/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <!-- Custom CSS -->
  <link href="static/css/custom.css" rel="stylesheet">
  <link href="/static/css/d3-bubble.css" rel="stylesheet" />
  <link href="/static/css/ihover.css" rel="stylesheet" />
  <link href="/static/css/barchart.css" rel="stylesheet" />
  <link href="/static/css/animate.css" rel="stylesheet" />
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <style>
  #hover-content {
    display: none;
  }

  #hover-me:hover #hover-content {
    display: block;
  }

  .menu {
    display: none;
    position: absolute;
    top: 10px;
    left: 0;
  }

  .title {
    position: relative;
  }

  .image-holder {
    border: 1px dashed #c9c7c7;
    height: 427px;
    width: 432px;
  }

  .aboutMe {
    border: 10px solid white;
  }

  .chart-div, .pieChart, .design-process {
    margin-top: 60px;
      padding-top:100px;
  }
  </style>
</head>

<body id="page-top" class="index">
  <div id="skipnav"><a href="#maincontent">Skip to main content</a></div>
  <!-- Navigation -->
  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="#page-top">Uma Petersen</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
          <li class="page-scroll">
            <a href="#engineer">engineer</a>
          </li>
          <li class="page-scroll">
            <a href="#about">About</a>
          </li>
          <li class="page-scroll">
            <a href="#designer">Design &amp; Code</a>
          </li>
          <li class="page-scroll">
            <a href="#portfolio">Portfolio</a>
          </li>
          <li class="page-scroll">
            <a href="#Blog">Blog</a>
          </li>
          <li class="page-scroll">
            <a href="#contact">Contact</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  <!-- Header -->
  <header>
    <div class="container" id="maincontent" tabindex="-1">
      <div class="row">
        <div class="col-lg-12">
          <img class="img-responsive" src="static/img/logo-circle.png" height="256" width="256" alt="">
          <div class="intro-text">
            <h1 class="name">Uma Petersen</h1>
            <hr class="star-light">
            <span class="skills">Web Developer - Graphic Artist - User Experience Designer</span>
            <ul class="list-inline intro-social-buttons">
              <li>
                <a href="https://twitter.com/Octothorpe12" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
              </li>
              <li>
                <a href="https://github.com/upcode" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/umapetersen" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>




  <!-- Engineer Section -->
  <section id="engineer">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Software Engineering</h2>
          <hr class="star-light">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-lg-offset-2">
          <div class="animated fadeInLeftBig" id="hover-me">
            <div class="image-holder">
              <a href="http://www.bentonstreetphotography.com">
                <img src="/static/img/profile/aboutMe.jpg" width="432" height="427" class="img-responsive aboutMe" alt="bubble-image" />
                <small>Photo by Joahanna</small>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-lg-offset-2">
                  <h2>Art of the Software Engineer</h2>

          <p class="words animated fadeInRightBig">
            I'm a Full Stack Software Engineer from San Francisco with an interest in User Interface Design. I enjoy turning complex problems into simple, intuitive, minimalist interface designs. Specializing in the development of high-quality user interfaces delivering optimal user experiences across web, application, and other platforms. Collaborative communication among end users, designers, and developers while effectively creating well-received products. Extensive technical skills spanning Languages, frameworks and libraries, and applications and tools. Big picture thinker excelling in solution development for intricate problems.
          </p>
          <h3 class="tab-titles">Technologies</h3>
          <ul class="tab-list">
            <li>
              <em></em><i class='icon-ok'></i> Javascript / jQuery
            </li>
            <li><em></em>
              <i class='icon-ok'></i>HTML5
            </li>
            <li><em></em>
              <i class='icon-ok'></i>CSS3
            </li>
            <li><em></em>
              <i class='icon-ok'></i>Responsive Web Designs
            </li>
            <li><em></em>
              <i class='icon-ok'></i>User Experience Design
            </li>
            <li><em></em>
              <i class='icon-ok'></i>Single Page Web App
            </li>
            <li><em></em>
              <i class='icon-ok'></i>User Interactions
            </li>
            <li><em></em>
              <i class='icon-ok'></i>Data Visualization
            </li>
            <li><em></em>
              <i class='icon-ok'></i>Wireframes / Layout
            </li>
          </ul>
        </div>
      </div>
      <!--// end row-->
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <div id="mainBubble" style="height: 900px;" class="bubble-chart mobile-hide">
            <svg class="mainBubbleSVG" width="1089.8020000000001" height="763"></svg>
            <script src="/static/js/d3bubble.js"></script>
          </div>
        </div>
      </div>
      <!--// end row-->
    </div>
    <!--// end container-->
  </section>
  <!-- About Section -->
  <section class="about" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>About</h2>
          <hr class="star-light">
        </div>
      </div>
      <!--// end row-->
      <div class="row">
        <div class="col-lg-4 col-lg-offset-2">
        <div class="content animated fadeInLeftBig">
                          <h2>All About Me</h2>

          <p class="words">
            When I'm not coding or pushing pixels, you'll find me enjoying the challenge of learning a new language, traveling, listening to music, and enjoying city life. I am creative, I am innovator and problem slover. My experiences, education, and my passion for learning drive me to seek new adventures in all aspects of my life.
          </p>
          <a href="#" class="btn btn-lg btn-outline">
            <i class="fa fa-download"></i> Resume
          </a>


          <h3 class="tab-titles">My Skills</h3>
          <ul class="tab-list">
            <li><em></em><i class='icon-ok'>
            </i>Generating a great quantity of ideas
            </li>
            <li><em></em><i class='icon-ok'>
            </i>Turning around life's obstacles
            </li>
            <li><em></em>
              <i class='icon-ok'>
            </i>Where most people see a difficulty, I see an opportunity
            </li>
            <li><em></em>
              <i class='icon-ok'></i>Ping-Pong
            </li>
            <li><em></em>
              <i class='icon-ok'></i>Cooking
            </li>
          </ul>
        </div>
        </div>
        <div class="col-lg-4 col-lg-offset-2">
          <div class="animated fadeInRightBig" id="hover-me">
            <div class="image-holder">
              <a href="http://www.bentonstreetphotography.com">
                <img src="/static/img/profile/aboutMe2.jpg" width="432" height="427" class="img-responsive aboutMe" alt="bubble-image" />
                <small>Photo by Joahanna</small></a>
            </div>
          </div>
        </div>
      </div>
      <!--// end row-->
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
        <div class="chart-div">
          <ul class="chart">
            <li class="axis">
              <div class="label">MVP</div>
              <br>
              <br>
              <div class="label">All Star</div>
              <br>
              <br>
              <div class="label">Slugger</div>
              <br>
              <br>
              <div class="label">Triple A</div>
              <br>
              <br>
              <div class="label">Rookie</div>
            </li>
            <li class="bar teal animated fadeInUp" style="height: 95%;" title="95">
              <div class="percent">95<span>%</span></div>
              <div class="skill"> generate a great quantity of ideas
              </div>
            </li>
            <li class="bar salmon animated fadeInUp" style="height: 90%;" title="90">
              <div class="percent">90<span>%</span></div>
              <div class="skill">Turn around life's obstacles</div>
            </li>
            <li class="bar peach animated fadeInUp" style="height: 80%;" title="80">
              <div class="percent">80<span>%</span></div>
              <div class="skill">Where most people see a difficulty, I see an opportunity</div>
            </li>
            <li class="bar lime animated fadeInUp" style="height: 75%;" title="75">
              <div class="percent">50<span>%</span></div>
              <div class="skill">Ping-Pong</div>
            </li>
            <li class="bar grape animated fadeInUp" style="height: 40%;" title="40">
              <div class="percent">20<span>%</span></div>
              <div class="skill">Cooking</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
     <!--// end row-->
     </div>
    <!--// end container-->
  </section>


  <!-- Designer Section -->
  <section class="grey" id="designer">
 <div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>Design & Code</h2>
      <hr class="star-light">
    </div>
  </div>
    <div class="row">
 <div class="col-lg-4 col-lg-offset-2">
          <div class="animated fadeInRightBig" id="hover-me">
            <div class="image-holder">
              <a href="http://www.bentonstreetphotography.com">
                <img src="/static/img/profile/aboutMe2.jpg" width="432" height="427" class="img-responsive aboutMe" alt="bubble-image" />
                <small>Photo by Joahanna</small></a>
            </div>
          </div>
        </div>
         <div class="col-lg-4 col-lg-offset-2">
               <h2>The Designer</h2>

         <p class="words animated fadeInLeftBig">
        I think of software engineering as an art; I like to combine creativity and logic into my software. I feel this gives me a unique perspective. I like to find inspiration in everyday things when it comes to programing and designing web applications. My inspiration comes from reading a book, walking the streets of San Francisco, or incorporating technology to solve my own problems. I often feel people forget how creative software development can be. Each artist has her own medium. Some use canvas, some paper, some paint on walls. My medium is my computer, where my creativity, inspiration, and imagination come to life. My paintbrush is my code.
      </p>
        </div>
        </div>
  <!--// end row-->
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <div class="pieChart animated fadeInLeftBig" id="pieChart"></div>
          <script src="static/js/d3-donut.js"></script>
        </div>
        </div>
<!--// end row-->
  <div class="row">
        <div class="col-lg-12 text-center design-process">
        <h2>Define &sdot; Design &sdot; Deliver</h2>
        </div>
        </div><!--// end row-->
    <div class="row design-process">
                <div class="col-md-3">
                  <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-black"></i>
                        <i class="fa fa-pencil-square-o  fa-stack-1x fa-inverse"></i>
                    </span>
                  <h4 class="service-heading">Requirements</h4>
                  <p class="text-muted">Learn about your customers/ users, know the purpose of the application Application.Define and construct point of view based on customers needs and insights</p>
                </div>
                <div class="col-md-3">
                  <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-white"></i>
                        <i class="fa fa-list-alt fa-stack-1x fa-inverse"></i>

                    </span>
                  <h4 class="service-heading">Sketches</h4>
                  <p class="text-muted">Brainstrom many possible solutions and provide quick design and layout.</p>
                </div>
                <div class="col-md-3">
                  <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                  <h4 class="service-heading">Wireframes &amp; Mockups</h4>
                  <p class="text-muted">Build a deailed represenation of design with out stying. Move to Mockups, mockups should corporate brand colors, styles and elelments</p>
                </div>
                <div class="col-md-3">
                  <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                  <h4 class="service-heading">Implemntation</h4>
                  <p class="text-muted">Program design and Adding functionality. Put ptortype in front of users for feedback. </p>
                </div>
              </div>

      </div><!--// end container-->

  </section>
  <!-- Portfolio Grid Section -->
  <section class="diamond" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Portfolio</h2>
          <hr class="star-primary">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 portfolio-item">
          <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img src="static/img/portfolio/cabin.png" class="img-responsive" alt="Cabin">
          </a>
        </div>
        <div class="col-sm-4 portfolio-item">
          <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img src="static/img/portfolio/cake.png" class="img-responsive" alt="Slice of cake">
          </a>
        </div>
        <div class="col-sm-4 portfolio-item">
          <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img src="static/img/portfolio/circus.png" class="img-responsive" alt="Circus tent">
          </a>
        </div>
        <div class="col-sm-4 portfolio-item">
          <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img src="static/img/portfolio/game.png" class="img-responsive" alt="Game controller">
          </a>
        </div>
        <div class="col-sm-4 portfolio-item">
          <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img src="/static/img/portfolio/submarine.png" class="img-responsive" alt="Safe">
          </a>
        </div>
        <div class="col-sm-4 portfolio-item">
          <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img src="static/img/portfolio/submarine.png" class="img-responsive" alt="Submarine">
          </a>
        </div>
      </div>
       <div class="row">
        <div class="col-sm-4 portfolio-item">
          <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img src="/static/img/portfolio/submarine.png" class="img-responsive" alt="Cabin">
          </a>
        </div>
        <div class="col-sm-4 portfolio-item">
          <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img src="static/img/portfolio/cake.png" class="img-responsive" alt="Slice of cake">
          </a>
        </div>
        <div class="col-sm-4 portfolio-item">
          <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img src="/static/img/portfolio/submarine.png" class="img-responsive" alt="Circus tent">
          </a>
        </div>
        <div class="col-sm-4 portfolio-item">
          <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img src="static/img/portfolio/game.png" class="img-responsive" alt="Game controller">
          </a>
        </div>
        <div class="col-sm-4 portfolio-item">
          <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img src="static/img/portfolio/safe.png" class="img-responsive" alt="Safe">
          </a>
        </div>
        <div class="col-sm-4 portfolio-item">
          <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img src="static/img/portfolio/submarine.png" class="img-responsive" alt="Submarine">
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact Section -->
  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Contact Me</h2>
          <hr class="star-primary">
        </div>
          <ul class="list-inline social-buttons">
            <li><a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
      </div>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
          <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
              <form role="form">
            <br style="clear:both">
            <h3 class="section-subheading text-muted" style="margin-bottom: 25px; text-align: center;">Say hello before you leave</h3>
            <div class="form-group">
              <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
            </div>
            <div class="form-group">
              <textarea class="form-control" type="textarea" id="message" placeholder="Message" maxlength="140" rows="7"></textarea>
              <span class="help-block"><p id="characterLeft" class="help-block ">You have reached the limit</p></span>
            </div>
            <button type="button" id="submit" name="submit" class="btn btn-default" pull-right">Submit Form</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer -->
  <footer class="text-center">
    <div class="footer-above">
      <div class="container">
        <div class="row">
          <div class="footer-col col-md-4">
            <h3>Connect</h3>

            <ul class="list-inline quicklinks">
            <li><a href="#">UP[Code] Blog</a>
            </li>
            <li><a href="#">Uma Petersen</a>
            </li>
          </ul>
          </div>
          <div class="footer-col col-md-4">
            <h3>Around the Web</h3>
            <ul class="list-inline">
              <li>
                <a href="#" class="btn-social btn-outline"><span class="sr-only">Facebook</span><i class="fa fa-fw fa-facebook"></i></a>
              </li>
              <li>
                <a href="#" class="btn-social btn-outline"><span class="sr-only">Google Plus</span><i class="fa fa-fw fa-google-plus"></i></a>
              </li>
              <li>
                <a href="#" class="btn-social btn-outline"><span class="sr-only">Twitter</span><i class="fa fa-fw fa-twitter"></i></a>
              </li>
              <li>
                <a href="#" class="btn-social btn-outline"><span class="sr-only">Linked In</span><i class="fa fa-fw fa-linkedin"></i></a>
              </li>
              <li>
                <a href="#" class="btn-social btn-outline"><span class="sr-only">Dribble</span><i class="fa fa-fw fa-dribbble"></i></a>
              </li>
            </ul>
          </div>
          <div class="footer-col col-md-4">
            <h3>About Uma Petersen</h3>
            <p>Software Engineer & Designer <a href="http://startbootstrap.com">upcode</a>.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-below">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
 <span class="copyright active">&copy; 2017 <a href="#page-top"><i>UP[CODE]Web Designs</i></a> All Rights Reserved.</span>          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>
  <!-- Portfolio Modals -->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Project Title</h2>
              <hr class="star-primary">
              <img src="img/portfolio/cabin.png" class="img-responsive img-centered" alt="">
              <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
              <ul class="list-inline item-details">
                <li>Client:
                  <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                </li>
                <li>Date:
                  <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                </li>
                <li>Service:
                  <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                </li>
              </ul>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Project Title</h2>
              <hr class="star-primary">
              <img src="img/portfolio/cake.png" class="img-responsive img-centered" alt="">
              <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
              <ul class="list-inline item-details">
                <li>Client:
                  <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                </li>
                <li>Date:
                  <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                </li>
                <li>Service:
                  <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                </li>
              </ul>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Project Title</h2>
              <hr class="star-primary">
              <img src="img/portfolio/circus.png" class="img-responsive img-centered" alt="">
              <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
              <ul class="list-inline item-details">
                <li>Client:
                  <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                </li>
                <li>Date:
                  <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                </li>
                <li>Service:
                  <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                </li>
              </ul>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Project Title</h2>
              <hr class="star-primary">
              <img src="img/portfolio/game.png" class="img-responsive img-centered" alt="">
              <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
              <ul class="list-inline item-details">
                <li>Client:
                  <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                </li>
                <li>Date:
                  <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                </li>
                <li>Service:
                  <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                </li>
              </ul>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Project Title</h2>
              <hr class="star-primary">
              <img src="img/portfolio/safe.png" class="img-responsive img-centered" alt="">
              <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
              <ul class="list-inline item-details">
                <li>Client:
                  <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                </li>
                <li>Date:
                  <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                </li>
                <li>Service:
                  <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                </li>
              </ul>
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Project Title</h2>
              <hr class="star-primary">
              <img src="/static/img/portfolio/submarine.png" class="img-responsive img-centered" alt="">
              <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
              <ul class="list-inline item-details">
                <li>Client:
                  <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                </li>
                <li>Date:
                  <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                </li>
                <li>Service:
                  <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                </li>
              </ul>
              <button id="btnSubmit" type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- jQuery -->
  <script src="static/bootstrap/vendor/jquery/jquery.min.js"></script>
  <!-- Bootstrap Core JavaScript -->
  <script src="static/bootstrap/vendor/bootstrap/js/bootstrap.min.js"></script>
  <!-- Plugin JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <!-- Contact Form JavaScript -->
  <script src="static/bootstrap/js/jqBootstrapValidation.js"></script>
  <script src="static/bootstrap/js/contact_me.js"></script>
  <!-- Theme JavaScript -->
  <script src="static/bootstrap/js/freelancer.min.js"></script>
</body>

</html>
