 {% block content %}
<!-- UX Modal 7 Design Projects -->
<div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h1>UX Projects</h1>
              <hr class="black">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <img class="img-responsive img-centered" src="static/img/dt-ipad.png" alt="">
          </div>
          <div class="col-lg-6">
            <h2>Democracy Tuesday</h2>
            <p>Email Newsletter</p>
            <a href="#portfolioModal8" class="btn-lg btn btn-default portfolio-link" data-toggle="modal" role="button">Case Study<i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
        <hr class="grey-line">
        <div class="row">
          <div class="col-lg-6">
            <h2>Hair by Al</h2>
            <p>Hair Stylist Website</p>
            <a href="#portfolioModal9" class="btn-lg btn btn-default portfolio-link" data-toggle="modal" role="button">Case Study<i class="fa fa-arrow-right"></i></a>
          </div>
          <div class="col-lg-6">
            <img class="img-responsive img-centered" src="static/img/al-laptop.png" alt="">
          </div>
        </div>
        <hr class="grey-line">
        <div class="row">
          <div class="col-lg-6">
            <img class="img-responsive img-centered" src="static/img/wt-blog.png" alt="">
          </div>
          <div class="col-lg-6">
            <h2>World Traveler</h2>
            <p>Travel Blog</p>
            <a href="#portfolioModal10" class="btn-lg btn btn-default portfolio-link" data-toggle="modal" role="button">Case Study<i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
      </div>
    </div>
  </div>
</div>
  {% include "dt_modal.html" %}
  {% include "hairbyal_modal.html" %}
  {% include "wt_modal.html" %}

<!-- <div class="portfolio-modal modal fade" id="portfolioModal9" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Hair by Al</h2>
              <hr>
              <p class="item-intro text-muted">Hair Stylist webiste</p>
              <img class="img-responsive img-centered" src="static/img/portfolio/al-site.png" alt="">
              <h3>What is the purpose:</h3>
              <p>The concept of Hair by Al is to gain web presence for new clients. Also easier way for users to find information about services as well as booking appointments</p>
              </h4>
              <p>Client’s goal is to gain new clients with web presence where users can learn about stylist and his services he offers.</p>
              <h3>Goals</h3> • Web Presence • Way to book appointments • Way to contact
              <img class="img-responsive img-centered" src="static/img/portfolio/al-notes.png" alt="">
              <h3>Scenario:</h3>
              <ul class="text-center">
                <li>User commuting to work</li>
                <li>User checks emails</li>
                <li>User clicks Democracy Tuesday</li>
                <li>User has a quick read of content</li>
                <li>User can choose to continue to read or click other content</li>
              </ul>
              <img class="img-responsive img-centered" src="static/img/portfolio/al-user.png" alt="">
              <h3>Sketching Interactions:</h3>
              <p>Based on the concept and user scenarios, I then sketched the interface interactions. The sketch was of three different email designs. The sketches take into account each platform for which I am designing the newsletter : IOS, Andriod, and Web</p>
              <img class="img-responsive img-centered" src="static/img/portfolio/al-wireframe-sketches.png" alt="">
              <h3>Wireframes:</h3>
              <p>I created wireframes that detail where the elements and content should be placed on each section of the webpage.</p>
              <h3>Research: Theme and Vision Board</h3>
              <p>After learning about client’s vision and needs for his website. I did additional research to learn more about stylist and salons. This allowed me to make sure the right content was added for this type of industry. After the research I created vision board for Client’s website.</p>
              <img class="img-responsive img-centered" src="static/img/portfolio/al-theme.png" alt="">
              <h3>Final Mockups</h3>
              <img class="img-responsive img-centered" src="static/img/portfolio/al-mockup.png" alt="">
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- <div class="portfolio-modal modal fade" id="portfolioModal10" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>World Traveler Blog</h2>
              <p class="item-intro text-muted">Client's Digital Journal</p>
              <img class="img-responsive img-centered" src="static/img/portfolio/world-traveler.png" alt="">
              <p>Created Mockup for blogger who travels. World Traveler is all about life as a digital nomad with hands-on advice on how you can travel and work professionally at the same time. She wanted to share her knowledge about long-term travel, personal freedom and location independence </p>
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- <div class="portfolio-modal modal fade" id="portfolioModal11" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Zesty Fresh</h2>
              <p class="item-intro text-muted">Client's Flyer</p>
              <p>Created Flyer for Client's Food Blog</p>
              <img class="img-responsive img-centered" src="static/img/design/zestyfresh.png" alt="">
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
{% endblock %}
