{% block content %}
<div class="row">
<div class="col-md-2 col-lg-offset-2 desing-col">
  <div class="ih-item circle effect11 right_to_left box1">
    <a href="#">
      <div class="img text-center ux">
        <span class="fa-stack fa-3x">
          <i class="fa fa-globe fa-stack-2x fa-inverse"></i>
        </span>
      </div>
      <div class="info">
        <h5>Discover</h5>
        <ul>
          <li>Business goals</li>
          <li>Business requirements</li>
          <li>Techincal constraints</li>
          <li>User inforamtion</li>
        </ul>
      </div>
    </a>
  </div>
  <h4>Discover</h4>
  <ul>
    <li>Stakeholder Interviews</li>
    <li>User Surveys</li>
    <li>User Interviews</li>
    <li>Personas</li>
  </ul>
</div>

<div class="col-md-2 desing-col">
  <div class="ih-item circle effect11 right_to_left box2">
    <a href="#">
      <div class="img text-center ux">
        <span class="fa-stack fa-3x">
            <i class="fa fa-list-alt fa-stack-2x fa-inverse"></i>
          </span>
      </div>
      <div class="info">
        <h5>Define</h5>
        <ul>
          <li>Business Metrics</li>
          <li>Product Flow</li>
          <li>Information Architecture</li>
          <li>User Experience</li>
        </ul>
      </div>
    </a>
  </div>
  <h4>Define</h4>
  <ul>
    <li>User Stories</li>
    <li>Storyboards</li>
    <li>User Experience Map</li>
    <li>Taxonomies</li>
    <li>Sitemap</li>
  </ul>
</div>
<div class="col-md-2 desing-col">
  <div class="ih-item circle effect11 right_to_left box3">
    <a href="#">
      <div class="img text-center ux">
        <span class="fa-stack fa-3x">
          <i class="fa fa-laptop fa-stack-2x fa-inverse"></i>
          </span>
      </div>
      <div class="info">
        <h5>Design</h5>
        <ul>
          <li>Layout Design</li>
          <li>Interaction Design</li>
          <li>Wireframes</li>
          <li>Visual Design</li>
          <li>Motion Design</li>
        </ul>
      </div>
    </a>
  </div>
  <h4>Design &amp; Test</h4>
  <ul>
    <li>Sketches</li>
    <li>Wireframes</li>
    <li>Moodboards</li>
    <li>Usability Tests</li>
    <li>Prototypes</li>
  </ul>
</div>
<div class="col-md-2 desing-col">
  <div class="ih-item circle effect11 right_to_left box4">
    <a href="#">
      <div class="img text-center ux">
        <span class="fa-stack fa-3x">
            <i class="fa fa-code fa-stack-2x fa-inverse"></i>
        </span>
      </div>
      <div class="info">
        <h5>Build &amp; Deploy </h5>
        <ul>
          <li>Working Product</li>
        </ul>
      </div>
    </a>
  </div>
  <h4>Build &amp; Deploy</h4>
  <ul class="text-muted">
    <li>Structural Markup</li>
    <li>Dynamic Markup</li>
    <li>Style Sheets</li>
    <li>Graphic Elements</li>
    <li>Style Guide</li>
    <li>Pattern Library</li>
  </ul>
</div>
<div class="col-md-2 design-col">
  <div class="ih-item circle effect11 right_to_left box5">
    <a href="#">
      <div class="img text-center ux">
        <span class="fa-stack fa-3x">
          <i class="fa fa-pencil-square-o  fa-stack-2x fa-inverse"></i>
        </span>
      </div>
      <div class="info">
        <h5>Measure</h5>
        <ul>
          <li>Business Metrics</li>
          <li>Web Analytics</li>
          <li>User Feedback</li>
          <li>Bug Reports</li>
        </ul>
      </div>
    </a>
  </div>
  <h4>Measure</h4>
  <ul class="text-muted">
    <li>Metrics Analysis</li>
    <li>Improvement Plan</li>
    <li>Enhancement Plan</li>
  </ul>
</div>
</div>
{% endblock %}
