{% block content %}
<div class="col-md-2 col-lg-offset-2">
  <div class="ih-item circle effect14 right_to_left box1">
    <a href="#">
      <div class="img text-center ux">
        <span class="fa-stack fa-4x">
          <i class="fa fa-pencil-square-o  fa-stack-1x fa-inverse"></i>
        </span>
      </div>
      <div class="info">
        <h5>Discover</h5>
        <p class="text-muted">Define and research to define user sceranrio and concepetual model Learn about your customers/ users, know the purpose of the application Application.Define and construct point of view based on customers needs and insights</p>
      </div>
    </a>
  </div>
  <h3>Discover</h3>
  <p class="text-muted">Brainstrom many possible solutions and provide quick design and layout.</p>
</div>

<div class="col-md-2">
  <div class="ih-item circle effect14 right_to_left box2">
    <a href="#">
      <div class="img text-center ux">
        <span class="fa-stack fa-4x">
            <i class="fa fa-list-alt fa-stack-1x fa-inverse"></i>
          </span>
      </div>
      <div class="info">
        <h5>Define</h5>
        <p class="text-muted">Use cases workflow, sitemap, scree, wire framing and major interaction visual design, icons + style, mockups HTML Proto IOS Android</p>
      </div>
    </a>
  </div>
  <h3>Define</h3>
  <p class="text-muted">
    Build a deailed represenation of design with out stying. Move to Mockups, mockups should corporate brand colors, styles and elelments</p>
</div>


<div class="col-md-2">
  <div class="ih-item circle effect14 right_to_left box3">
    <a href="#">
      <div class="img text-center ux">
        <span class="fa-stack fa-4x">
          <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
          </span>
      </div>
      <div class="info">
        <h5>Design</h5>
        <p class="text-muted">visual design, icons + style, mockups HTML Proto IOS Android</p>
      </div>
    </a>
  </div>
  <h3>Design</h3>
  <p class="text-muted">Build a deailed represenation of design with out stying. Move to Mockups, mockups should corporate brand colors, styles and elelments</p>
</div>

<div class="col-md-2">
  <div class="ih-item circle effect11 right_to_left box4">
    <a href="#">
      <div class="img text-center ux">
        <span class="fa-stack fa-4x">
            <i class="fa fa-code fa-stack-1x fa-inverse"></i>
        </span>
      </div>
      <div class="info">
        <h5>Testing</h5>
        <p class="text-muted">Demo Testing client review niche group of target users </p>
      </div>
    </a>
  </div>
  <h3>Testing</h3>
  <p class="text-muted">Program design and Adding functionality. Put ptortype in front of users for feedback. </p>
</div>
<div class="col-md-2">
  <div class="ih-item circle effect14 right_to_left box5">
    <a href="#">
      <div class="img text-center ux">
        <span class="fa-stack fa-4x">
          <i class="fa fa-code fa-stack-1x fa-inverse"></i>
        </span>
      </div>
      <div class="info">
        <h5>Deliver</h5>
        <p class="text-muted">Demo Testing client review niche group of target users </p>
      </div>
    </a>
  </div>
  <h3>Deliver</h3>
  <p class="text-muted">Program design and Adding functionality. Put ptortype in front of users for feedback. </p>
</div>





{% endblock %}
