 {% block content %}
    <div class="venn">
        <div class="ih-item circle effect5 one">
          <a href="#">
            <div class="img">
              <h5 class="title text-center">Techonology Constaints</h5>
            </div>
            <div class="info">
              <div class="info-back">
                <h3>Techonology Constaints</h3>
                <p>Description goes here</p>
              </div>
            </div>
          </a>
        </div>
        <div class="ih-item circle effect5 two">
          <a href="#">
            <div class="img title">
              <h5 class="title text-center">Business Goals</h5>
            </div>
            <div class="info">
              <div class="info-back">
                <h3>Business Goals</h3>
                <p>Description goes here</p>
              </div>
            </div>
          </a>
        </div>
        <div class="ih-item circle effect5 three">
          <a href="#">
            <div class="img title">
              <h5 class="title text-center">User Needs</h5>
            </div>
            <div class="info">
              <div class="info-back">
                <h3>User Needs</h3>
                <p>Description goes here</p>
              </div>
            </div>
          </a>
        </div>
      </div>
{% endblock %}
<!-- <div class="triangle"></div>
 -->
