 {% block content %}
<div class="ux-diagram">
  <div class='circle-group'>
    <div class='logo'>UX</div>
    <div class='blue'>
      <span>Technical Constraints</span>
      <p class="blurb">Deep v forage Thundercats selfies, shabby chic chillwave food truck fashion axe PBR&amp;B Etsy flannel High Life beard skateboard. Mixtape skateboard quinoa viral, bicycle rights tote bag Neutra Wes Anderson gentrify Tonx. </p>
    </div>
    <div class='green'>
      <span>Business Goals</span>
      <p class="blurb">Deep v forage Thundercats selfies, shabby chic chillwave food truck fashion axe PBR&amp;B Etsy flannel High Life beard skateboard. Mixtape skateboard quinoa viral, bicycle rights tote bag Neutra Wes Anderson gentrify Tonx. </p>
    </div>
    <div class='pink'>
      <span>
      User Needs
    </span>
      <p class="blurb">Deep v forage Thundercats selfies, shabby chic chillwave food truck fashion axe PBR&amp;B Etsy flannel High Life beard skateboard. Mixtape skateboard quinoa viral, bicycle rights tote bag Neutra Wes Anderson gentrify Tonx. </p>
    </div>
  </div>
</div>
  {% endblock %}
