 {% block content %}

<div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2>Democracy Tuesday</h2>
              <p class="item-intro text-muted">Newsletter to empower users with update current news</p>
              <img class="img-responsive img-centered" src="static/img/dt-ipad.png" alt="">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
              <h4>What is the purpose:</h4>
              <p>The concept of Democracy Tuesday is to empower individuals to stay updated with current news. Finding creditable news sources is a significant issue today. We are targeting young professionals in hopes the newsletter provides a quick read to insightful news on current events and politics. The newsletter will engage users in a quick read and also allow them to take action in their own local communities.</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2">
              <img class="img-responsive img-centered" src="static/img/dt-ipad.png" alt="">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
              <img class="img-responsive img-centered" src="static/img/dt-ipad.png" alt="">
            </div>
            <div class="col-lg-4 col-lg-offset-2">
              <h4>Problem trying to solve:</h4>
              <p>Client’s goal is to reach out to as many users as possible who are interested in learning and participating in current politics. The concept is to allow them to gain insight and exposure to current topics while to staying up- to-date and informed. Current newsletter is text email where look and feel do not convey client’s excitement about user’s engagement in politics.</p>
              <h4>Goals</h4>
              <ul>
                <li>need a way to reach out to new and current users</li>
                <li>need a way to interest more users with an attractive interface</li>
                <li>desire a customized logo and banner</li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
              <h4>Scenario:</h4>
              <i>Reading the news as you go to work</i>
              <ul>
                <li>user is on public transit</li>
                <li>user checks emails</li>
                <li>user clicks Democracy Tuesday</li>
                <li>user has a quick read of content</li>
                <li>user can choose to continue to read or click other content</li>
              </ul>
            </div>
            <div class="col-lg-4 col-lg-offset-2">
              <img class="img-responsive img-centered" src="static/img/dt-ipad.png" alt="">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
              <img class="img-responsive img-centered" src="static/img/dt-ipad.png" alt="">
            </div>
            <div class="col-lg-4 col-lg-offset-2">
              <h4>Sketching Interactions:</h4>
              <p>Based on the concept and user scenarios, I then sketched the interface interactions. The sketch was of three different email designs. The sketches take into account each platform for which I am designing the newsletter : IOS, Andriod, and Web.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
              <h4>Wireframes:</h4>
              <p>Based on the concept and user scenarios, I then sketched the interface interactions. The sketch was of three different email designs. The sketches take into account each platform for which I am designing the newsletter : IOS, Andriod, and Web.</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2">
              WIRE FRAME IMAGE
              <img class="img-responsive img-centered" src="static/img/dt-ipad.png" alt="">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
              <img class="img-responsive img-centered" src="static/img/portfolio/dt-theme.png" alt="">
            </div>
            <div class="col-lg-4 col-lg-offset-2">
              <h4>Research: Theme and Vision Board</h4>
              <p>After research on newsletter as well as gathering information about client’s needs as well as the users I created a vision board to to illustrate theme, look and feel of the newsletter.</p>
              <p>I created wireframes that detail where the elements and content should be placed on each Mobile and Desktop Wireframe</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
              <h4>Mockups: First iteration</h4>
              <p>I incorporated the client’s needs into two variations of the newsletter.</p>
              <p>In the first mockup I used the clients colors. In the second mock-up I chose colors I thought would help to instantly inform users of the newsletter content.</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2">
              <h4>Mockups: First iteration</h4>
              <img class="img-responsive img-centered" src="static/img/dt-ipad.png" alt="">

            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
              <h4>Mockups: Second Iteration IMAGE</h4>
              <img class="img-responsive img-centered" src="static/img/dt-ipad.png" alt="">

            </div>
            <div class="col-lg-4 col-lg-offset-2">
              <h4>Mockups: Second Iteration</h4>
              <p>Changed the mockup to new colors and I added header image and subscribe button at the top</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
              <h4>Mockups: Third iteration</h4>
              <p>Removed header image and added grey boxes around text to highlight its content</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2">
              <img class="img-responsive img-centered" src="static/img/dt-ipad.png" alt="">

              IMAGE
            </div>
          </div>
          <div class="row">
            <div class="col-lg-48col-lg-offset-2">
              <h4>Mockups: Final iteration</h4>
              <p>After presenting two clients decided they wanted to add back the header image for the final draft.</p>
              <img class="img-responsive img-centered" src="static/img/portfolio/dt-mockup.png" alt="">
            </div>
          </div>
          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}